:root {
  --background: #F73932;
}

body {
  font-size: 15px;
  font-family: "Segoe UI", "SegoeUI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-width: 320px;
  color: #fff;
  background-color: var(--background);
  margin: 0;
  padding: 0;
}

a { text-decoration: none; }

#redoc-container .redoc-wrap .menu-content {
  -webkit-box-shadow: 2px 0 5px -3px rgba(0,0,0,.6);
  box-shadow: 2px 0 5px -3px rgba(0,0,0,.6);
}

.apis-content {
  position: relative;
}

.apis-content.apis-content-box {
  min-height: 320px;
}

.apis-content h2 {
  margin: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 25px;
  padding-bottom: 5px;
}

.apis-content p {
  margin: 0;
  white-space: normal;
  text-align: justify;
}

.apis-content a {
  background: rgba(255, 255, 255, 0.1);
  padding: 7px;
  display: block;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.apis-content code {
  display: block;
  padding: 20px;
  background-color: rgba(28, 28, 28, 0.5);
}

.apis-content a:hover, .apis-content a:active {
  background: #fff;
  color: var(--background);
  cursor: pointer;
}
