body {
  font-size: 15px;
  font-family: "Segoe UI", "SegoeUI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-width: 320px;
  color: #000;
  background-color: #fff;
  margin: 0;
  padding: 0;
}
