:root {
  --background: #F73932;
}

body {
  font-size: 15px;
  font-family: "Segoe UI", "SegoeUI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-width: 320px;
  color: rgb(0, 0, 0);
  background-color: var(--background);
  margin: 0;
  padding: 0;
}

a { text-decoration: none; }

#redoc-container .redoc-wrap .menu-content {
  -webkit-box-shadow: 2px 0 5px -3px rgba(0,0,0,.6);
  box-shadow: 2px 0 5px -3px rgba(0,0,0,.6);
}

.api-content {
  background-color: #fff;
}

.apis-content {
  position: relative;
}

.apis-content.apis-content-box {
  min-height: 320px;
  background: repeat-y;
  border: 3px solid #cccccc;
}

.apis-content h2 {
  margin: 0;
  border-bottom: 1px solid rgb(247 57 50);
  font-size: 25px;
  padding-bottom: 5px;
}

.apis-content p {
  margin: 0;
  white-space: normal;
  text-align: justify;
  border-bottom: 1px solid #b1b1b1;
}

.apis-content a {
  background: rgba(247, 57, 50);
  padding: 7px;
  display: block;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.apis-content code {
  display: block;
  padding: 20px;
  background-color: rgb(234 234 234);
}

.apis-content a:hover, .apis-content a:active {
  background: #f7393247;
  color: var(--background);
  border: 1px solid;
  cursor: pointer;
}

.apis-content a:hover, .apis-content a:active {
  background: #fff;
  color: var(--background);
  cursor: pointer;
}

.ms-CommandButton.ms-CommandButton--pivot.is-active:before, .ms-CommandButton.ms-CommandButton--pivot:hover:before {
  content: "";
  height: 2px;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #000000;
  bottom: 0;
  z-index: 5;
}

.pt-5 {
  background-color: white!important;
}

.container pt-5 {
  background-color: white!important;
}