:root {
  --background: #363636;
}

body {
  font-size: 15px;
  font-family: "Segoe UI", "SegoeUI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-width: 320px;
  color: #fff;
  background-color: var(--background);
  margin: 0;
  padding: 0;
}

a { text-decoration: none; }

#background, #redoc-background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  z-index: -1;
}

#redoc-container .redoc-wrap {
  backdrop-filter: saturate(120%) blur(6px);
  -webkit-backdrop-filter: saturate(120%) blur(6px);
  background: none;
}

.apis-content {
  min-height: 320px;
  position: relative;
  backdrop-filter: saturate(180%) blur(6px);
  -webkit-backdrop-filter: saturate(180%) blur(6px);
  background: rgba(54, 54, 54, 0.5);
  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.6);
  box-shadow: 0 0 5px 0 rgba(0,0,0,.6);
}

.apis-content h2 {
  margin: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 25px;
  padding-bottom: 5px;
}

.apis-content p {
  margin: 0;
  white-space: normal;
  text-align: justify;
}

.apis-content a {
  background: rgba(255, 255, 255, 0.1);
  padding: 7px;
  display: block;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.apis-content a:hover, .apis-content a:active {
  background: #fff;
  color: var(--background);
  cursor: pointer;
}
