{
  "openapi": "3.0.2",
  "info": {
    "version": "1.1.0",
    "title": "BaaS Utils",
    "description": "# Errors\nAccount Middleware uses [HTTP response status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes) to indicate the success or failure of your API requests.\nIn general, there are three status code ranges you can expect:\n- `2xx` success status codes confirm that your request worked as expected\n- `4xx` error status codes indicate an error because of the information provided (e.g., a required parameter was not provided)\n- `5xx` error status codes are rare and indicate an error with R4's servers\n\n## HTTP Status code summary\nExtracted from [Stripe API codes](https://stripe.com/docs/api/errors)\n- `200 - OK` Everything worked as expected.\n- `400 - Bad Request` The request was unacceptable, often due to missing a required parameter.\n- `401 - Unauthorized` No valid API key provided.\n- `403 - Forbidden` The API key doesn't have permissions to perform the request.\n- `404 - Not Found` The requested resource doesn't exist.\n- `429 - Too Many Requests` Too many requests hit the API too quickly. We recommend an exponential backoff of your requests.\n- `500, 502, 503, 504 - Server Errors` Something went wrong on R4's end.\n"
  },
  "servers": [
    {
      "description": "Development",
      "url": "https://develop.r4digital.cloud/utils"
    },
    {
      "description": "Production",
      "url": "https://api.r4digital.cloud/utils"
    }
  ],
  "tags": [
    {
      "name": "Utils"
    }
  ],
  "paths": {
    "/operation-rules": {
      "get": {
        "description": "Rules affect the times and days when operations are available",
        "tags": [
          "Operation Rules"
        ],
        "summary": "Operation rules",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Bearer token",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "Bearer eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSlicVN5VzljIn0"
          },
          {
            "in": "query",
            "name": "status",
            "description": "Filter rules by status",
            "schema": {
              "type": "string",
              "enum": [
                "ACTIVE",
                "INACTIVE"
              ]
            },
            "example": "INACTIVE"
          }
        ],
        "responses": {
          "200": {
            "description": "Rules successfully listed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid",
                        "example": "0938e85f-c188-464c-a1c2-c19bc660f93a"
                      },
                      "name": {
                        "type": "string",
                        "example": "TED"
                      },
                      "description": {
                        "type": "string",
                        "example": "TED 7h-17h"
                      },
                      "start_time": {
                        "type": "string",
                        "description": "The time the operation becomes available",
                        "example": "07:00:00"
                      },
                      "end_time": {
                        "type": "string",
                        "description": "The time the operation becomes unavailable",
                        "example": "17:00:00"
                      },
                      "is_business_days_only": {
                        "type": "boolean",
                        "description": "If true, the operation is only available on business days",
                        "example": true
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "ACTIVE",
                          "INACTIVE"
                        ],
                        "example": "ACTIVE"
                      },
                      "created_at": {
                        "type": "string",
                        "example": "2021-07-23T16:58:27.000Z"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "The date the rule was last updated",
                        "example": "2022-10-20T12:51:18.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error with types [AuthenticationError].",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "Authentication Error",
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "title": "Error code",
                              "description": "The type of error",
                              "example": "AUTHENTICATION_FAILED",
                              "enum": [
                                "AUTHENTICATION_FAILED"
                              ]
                            },
                            "message": {
                              "type": "string",
                              "title": "Error message",
                              "description": "Describes a message informing a reason for the error",
                              "example": "Authentication failed."
                            },
                            "status_code": {
                              "type": "number",
                              "description": "Error status code",
                              "example": "401"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error [InternalServerError].",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "Internal Server Error",
                      "properties": {
                        "code": {
                          "type": "string",
                          "title": "Error code",
                          "description": "The type of error",
                          "example": "INTERNAL_SERVER_ERROR",
                          "enum": [
                            "INTERNAL_SERVER_ERROR"
                          ]
                        },
                        "message": {
                          "type": "string",
                          "title": "Error message",
                          "description": "Describes a message informing a reason for the error",
                          "example": "Internal server failure"
                        },
                        "status_code": {
                          "type": "number",
                          "description": "Error status code",
                          "example": "500"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "bearerFormat": "JWT",
        "scheme": "bearer",
        "description": "Bearer auth (https://developer.mozilla.org/en-US/docs/Web/HTTP/Authentication)."
      }
    }
  }
}
