{
  "openapi": "3.0.2",
  "info": {
    "version": "1.0.0",
    "title": "BaaS - Pix QR Code",
    "description": "<h1> BaaS Pix QR Code </h1>\n<h5>Concepts:</h5>\n<section>\n<h3>Idempotence-Key</h3>\n<p>\n  To ensure that communication failures/interruptions do not result in accidental data loss or duplication, such as making a duplicate payment, the APIs are designed so that each request is executed \\\"exactly once\\\". For this, the concept of Idempotence was implemented.\n</p>\n<p>\n  The Client System must generate a new key for each request, guaranteeing that each operation will be executed only once.\n  In case you do not receive a response to a request, it can be sent again with the same key to obtain the response. If a new key is generated, we will understand that it is a new operation and will be executed a second time.\n</p>\n<p>\n  The idempotence key must be in GUID (v4) format, i.e. 32 hexadecimal digits, in an 8-4-4-4-12 array. </br>\n  Example: <strong>'69F963C6-7487-4363-9406-A1DE2A9636D4'</strong></br>\n  The Idempotence-Key will be stored in the API cache for a period of 24 hours.\n</p>\n</section>\n"
  },
  "servers": [
    {
      "description": "Development",
      "url": "https://develop.r4digital.cloud/pix-qrcode"
    },
    {
      "description": "Production",
      "url": "https://api.r4digital.cloud/pix-qrcode"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "general",
      "description": "General",
      "x-displayName": "General"
    },
    {
      "name": "decode_qr_code",
      "description": "Decode QR code",
      "x-displayName": "Decode QR Code"
    },
    {
      "name": "create_qr_code",
      "description": "Create QR Code",
      "x-displayName": "Create QR Code"
    },
    {
      "name": "get_qr_code",
      "description": "Get QR Code",
      "x-displayName": "Get QR Code"
    },
    {
      "name": "update_qr_code",
      "description": "Update QR Code",
      "x-displayName": "Update QR Code"
    }
  ],
  "paths": {
    "/decode": {
      "post": {
        "tags": [
          "decode_qr_code"
        ],
        "summary": "Decode QR Code",
        "operationId": "decode_qr_code",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Idempotence-Key",
            "schema": {
              "example": "69F963C6-7487-4363-9406-A1DE2A9636D4",
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Params to decode a QR Code",
                "required": [
                  "payload",
                  "account_id"
                ],
                "properties": {
                  "payload": {
                    "type": "string",
                    "description": "Payload decode from QR Code.",
                    "format": "base64",
                    "example": "MDAwMjAxMjYzMzAwMTRici5nb3YuYmNiLnBpeDAxMTE5MDIyNjM5NTA5MDUyMDQwMDAwNTMwMzk4NjU0MDQyLjAwNTgwMkJSNTkxM0Z1bGFubyBkZSBUYWw2MDEyUE9SVE8gQUxFR1JFNjIwNzA1MDMqKio2MzA0RDNDQg"
                  },
                  "account_id": {
                    "type": "string",
                    "description": "Unique identifier of the account.",
                    "format": "uuid-v4",
                    "example": "6d814c28-fe73-443c-bfe0-48d518aa32fa"
                  },
                  "city_code": {
                    "type": "string",
                    "minLength": 5,
                    "example": "string"
                  },
                  "intended_payment_date": {
                    "type": "string",
                    "example": "2021-01-31",
                    "format": "yyyy-mm-dd"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "QR Code successfully decoded",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "title": "Dynamic QR Code",
                      "description": "Dynamic QR Code",
                      "required": [
                        "end_to_end_id",
                        "qr_code"
                      ],
                      "properties": {
                        "end_to_end_id": {
                          "type": "string",
                          "maxLength": 32
                        },
                        "qr_code": {
                          "type": "object",
                          "description": "Decoded QR code properties",
                          "required": [
                            "kind",
                            "key",
                            "key_kind",
                            "review",
                            "recipient",
                            "original_value",
                            "city",
                            "created_at",
                            "scanned_at",
                            "status"
                          ],
                          "properties": {
                            "kind": {
                              "type": "string",
                              "enum": [
                                "STATIC",
                                "DYNAMIC",
                                "DYNAMIC_WITH_DUE_DATE"
                              ]
                            },
                            "key": {
                              "type": "string",
                              "description": "Pix key",
                              "minLength": 5,
                              "maxLength": 77,
                              "example": "30937116068"
                            },
                            "key_kind": {
                              "type": "string",
                              "description": "Kind from key",
                              "enum": [
                                "CPF",
                                "CNPJ",
                                "EMAIL",
                                "CELLPHONE",
                                "VIRTUAL"
                              ]
                            },
                            "category_code": {
                              "type": "string",
                              "description": "Recipient category code",
                              "maxLength": 4,
                              "default": "0000",
                              "example": "0000"
                            },
                            "city": {
                              "type": "string",
                              "maxLength": 15,
                              "example": "RIO DE JANEIRO"
                            },
                            "zip_code": {
                              "type": "string",
                              "minLength": 5,
                              "maxLength": 10,
                              "example": "90485-075"
                            },
                            "review": {
                              "type": "integer",
                              "maxLength": 5
                            },
                            "original_value": {
                              "type": "number",
                              "format": "double",
                              "description": "Transaction value",
                              "example": 4587.92
                            },
                            "allow_value_alteration": {
                              "type": "boolean"
                            },
                            "text_to_payer": {
                              "type": "string",
                              "maxLength": 140
                            },
                            "recipient": {
                              "type": "object",
                              "required": [
                                "ispb",
                                "document_type",
                                "account_type",
                                "account_number"
                              ],
                              "properties": {
                                "ispb": {
                                  "type": "integer",
                                  "maxLength": 8
                                },
                                "name": {
                                  "type": "string",
                                  "maxLength": 200
                                },
                                "document_type": {
                                  "type": "string",
                                  "enum": [
                                    "CPF",
                                    "CNPJ"
                                  ]
                                },
                                "document_number": {
                                  "type": "number",
                                  "maxLength": 14
                                },
                                "conciliation_id": {
                                  "type": "string",
                                  "maxLength": 25
                                },
                                "agency_number": {
                                  "type": "number",
                                  "maxLength": 4
                                },
                                "account_number": {
                                  "type": "number",
                                  "maxLength": 20
                                },
                                "account_digit": {
                                  "type": "number",
                                  "maxLength": 5
                                },
                                "account_type": {
                                  "type": "string",
                                  "enum": [
                                    "CHECKING_ACCOUNT",
                                    "SALARY_ACCOUNT",
                                    "SAVINGS_ACCOUNT",
                                    "PAYMENT_ACCOUNT"
                                  ]
                                }
                              }
                            },
                            "payer": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "maxLength": 200
                                },
                                "document_number": {
                                  "type": "number",
                                  "maxLength": 14
                                }
                              }
                            },
                            "modality": {
                              "type": "object",
                              "properties": {
                                "goal": {
                                  "type": "string",
                                  "enum": [
                                    "WITHDRAW",
                                    "CHANGE"
                                  ]
                                },
                                "value": {
                                  "type": "number",
                                  "format": "double",
                                  "example": 4587.92
                                },
                                "allow_value_alteration": {
                                  "type": "boolean"
                                },
                                "withdraw_ispb": {
                                  "type": "integer",
                                  "description": "Service provider",
                                  "example": 44568458
                                },
                                "agent": {
                                  "type": "string",
                                  "enum": [
                                    "WITHDRAW_SERVICE_AGENT",
                                    "COMMERCIAL_ESTABLISHMENT_AGENT",
                                    "AGENT_OR_OTHER_LEGAL_ENTITY"
                                  ]
                                }
                              }
                            },
                            "additional_data": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "maxLength": 100
                                  },
                                  "value": {
                                    "type": "string",
                                    "maxLength": 400
                                  }
                                }
                              }
                            },
                            "expires_in": {
                              "type": "integer",
                              "maxLength": 10,
                              "default": 86400
                            },
                            "created_at": {
                              "type": "string",
                              "example": "2021-01-31T15:33:17.000Z"
                            },
                            "scanned_at": {
                              "type": "string",
                              "example": "2021-02-05T10:25:47.000Z"
                            },
                            "psp_recipient_url": {
                              "type": "string",
                              "maxLength": 124
                            },
                            "reusable": {
                              "type": "boolean"
                            },
                            "status": {
                              "type": "string",
                              "enum": [
                                "ACTIVE",
                                "DONE",
                                "REMOVED_BY_RECIPIENT",
                                "REMOVED_BY_PSP"
                              ]
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "title": "Dynamic QR Code with due date",
                      "description": "Dynamic QR Code with due date",
                      "required": [
                        "end_to_end_id",
                        "qr_code"
                      ],
                      "properties": {
                        "end_to_end_id": {
                          "type": "string",
                          "maxLength": 32
                        },
                        "qr_code": {
                          "type": "object",
                          "description": "Decoded QR code properties",
                          "required": [
                            "kind",
                            "key",
                            "key_kind",
                            "review",
                            "recipient",
                            "final_value",
                            "due_date",
                            "days_after_due_date",
                            "created_at",
                            "scanned_at",
                            "status"
                          ],
                          "properties": {
                            "kind": {
                              "type": "string",
                              "enum": [
                                "STATIC",
                                "DYNAMIC",
                                "DYNAMIC_WITH_DUE_DATE"
                              ]
                            },
                            "key": {
                              "type": "string",
                              "description": "Pix key",
                              "minLength": 5,
                              "maxLength": 77,
                              "example": "30937116068"
                            },
                            "key_kind": {
                              "type": "string",
                              "description": "Kind from key",
                              "enum": [
                                "CPF",
                                "CNPJ",
                                "EMAIL",
                                "CELLPHONE",
                                "VIRTUAL"
                              ]
                            },
                            "category_code": {
                              "type": "string",
                              "description": "Recipient category code",
                              "maxLength": 4,
                              "default": "0000",
                              "example": "0000"
                            },
                            "review": {
                              "type": "integer",
                              "maxLength": 5
                            },
                            "original_value": {
                              "type": "number",
                              "format": "double",
                              "description": "Transaction value",
                              "example": 500
                            },
                            "text_to_payer": {
                              "type": "string",
                              "maxLength": 140
                            },
                            "recipient": {
                              "type": "object",
                              "properties": {
                                "ispb": {
                                  "type": "integer",
                                  "maxLength": 8
                                },
                                "name": {
                                  "type": "string",
                                  "maxLength": 200
                                },
                                "document_number": {
                                  "type": "number",
                                  "maxLength": 14
                                },
                                "nickname": {
                                  "type": "string",
                                  "maxLength": 100
                                },
                                "address": {
                                  "type": "string",
                                  "maxLength": 150
                                },
                                "city": {
                                  "type": "string",
                                  "maxLength": 15,
                                  "example": "RIO DE JANEIRO"
                                },
                                "state": {
                                  "type": "string",
                                  "maxLength": 2
                                },
                                "zip_code": {
                                  "type": "string",
                                  "minLength": 5,
                                  "maxLength": 10,
                                  "example": "90485-075"
                                },
                                "conciliation_id": {
                                  "type": "string",
                                  "maxLength": 25
                                },
                                "agency_number": {
                                  "type": "number",
                                  "maxLength": 4
                                },
                                "account_number": {
                                  "type": "number",
                                  "maxLength": 20
                                },
                                "account_digit": {
                                  "type": "number",
                                  "maxLength": 5
                                },
                                "account_type": {
                                  "type": "string",
                                  "enum": [
                                    "CHECKING_ACCOUNT",
                                    "SALARY_ACCOUNT",
                                    "SAVINGS_ACCOUNT",
                                    "PAYMENT_ACCOUNT"
                                  ]
                                }
                              }
                            },
                            "payer": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "maxLength": 200
                                },
                                "document_number": {
                                  "type": "number",
                                  "maxLength": 14
                                }
                              }
                            },
                            "deduction": {
                              "type": "number",
                              "format": "double",
                              "example": 5
                            },
                            "discount": {
                              "type": "number",
                              "format": "double",
                              "example": 50
                            },
                            "interest": {
                              "type": "number",
                              "format": "double",
                              "example": 0.5
                            },
                            "fine": {
                              "type": "number",
                              "format": "double",
                              "example": 10
                            },
                            "final_value": {
                              "type": "number",
                              "format": "double",
                              "description": "Value after deduction, discount, interest and fine",
                              "example": 350.59
                            },
                            "due_date": {
                              "type": "string",
                              "example": "2021-01-31"
                            },
                            "days_after_due_date": {
                              "type": "integer",
                              "maxLength": 6,
                              "example": 5
                            },
                            "additional_data": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "maxLength": 100
                                  },
                                  "value": {
                                    "type": "string",
                                    "maxLength": 400
                                  }
                                }
                              }
                            },
                            "created_at": {
                              "type": "string",
                              "example": "2021-01-31T15:33:17.000Z"
                            },
                            "scanned_at": {
                              "type": "string",
                              "example": "2021-02-05T10:25:47.000Z"
                            },
                            "psp_recipient_url": {
                              "type": "string",
                              "maxLength": 124
                            },
                            "reusable": {
                              "type": "boolean"
                            },
                            "status": {
                              "type": "string",
                              "enum": [
                                "ACTIVE",
                                "DONE",
                                "REMOVED_BY_RECIPIENT",
                                "REMOVED_BY_PSP"
                              ]
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "title": "Static QR Code",
                      "description": "Static QR Code",
                      "required": [
                        "end_to_end_id",
                        "qr_code"
                      ],
                      "properties": {
                        "end_to_end_id": {
                          "type": "string",
                          "maxLength": 32
                        },
                        "qr_code": {
                          "type": "object",
                          "description": "Decoded QR code properties",
                          "required": [
                            "kind",
                            "key",
                            "key_kind",
                            "city",
                            "recipient"
                          ],
                          "properties": {
                            "kind": {
                              "type": "string",
                              "enum": [
                                "STATIC",
                                "DYNAMIC",
                                "DYNAMIC_WITH_DUE_DATE"
                              ]
                            },
                            "key": {
                              "type": "string",
                              "description": "Pix key",
                              "minLength": 5,
                              "maxLength": 77,
                              "example": "30937116068"
                            },
                            "key_kind": {
                              "type": "string",
                              "description": "Kind from key",
                              "enum": [
                                "CPF",
                                "CNPJ",
                                "EMAIL",
                                "CELLPHONE",
                                "VIRTUAL"
                              ]
                            },
                            "category_code": {
                              "type": "string",
                              "description": "Recipient category code",
                              "maxLength": 4,
                              "default": "0000",
                              "example": "0000"
                            },
                            "city": {
                              "type": "string",
                              "maxLength": 15,
                              "example": "RIO DE JANEIRO"
                            },
                            "zip_code": {
                              "type": "string",
                              "minLength": 5,
                              "maxLength": 10,
                              "example": "90485-075"
                            },
                            "value": {
                              "type": "number",
                              "format": "double",
                              "description": "Transaction value",
                              "example": 4587.92
                            },
                            "withdraw_ispb": {
                              "type": "integer",
                              "maxLength": 8,
                              "description": "ISPB from PSS. When provided it means the QR code is for \"Pix Saque\".",
                              "example": 44568458
                            },
                            "additional_data": {
                              "type": "string"
                            },
                            "recipient": {
                              "type": "object",
                              "required": [
                                "ispb",
                                "document_type",
                                "account_type",
                                "account_number"
                              ],
                              "properties": {
                                "ispb": {
                                  "type": "integer",
                                  "maxLength": 8
                                },
                                "name": {
                                  "type": "string",
                                  "maxLength": 200
                                },
                                "document_type": {
                                  "type": "string",
                                  "enum": [
                                    "CPF",
                                    "CNPJ"
                                  ]
                                },
                                "document_number": {
                                  "type": "number",
                                  "maxLength": 14
                                },
                                "conciliation_id": {
                                  "type": "string",
                                  "maxLength": 25
                                },
                                "agency_number": {
                                  "type": "number",
                                  "maxLength": 4
                                },
                                "account_number": {
                                  "type": "number",
                                  "maxLength": 20
                                },
                                "account_digit": {
                                  "type": "number",
                                  "maxLength": 5
                                },
                                "account_type": {
                                  "type": "string",
                                  "enum": [
                                    "CHECKING_ACCOUNT",
                                    "SALARY_ACCOUNT",
                                    "SAVINGS_ACCOUNT",
                                    "PAYMENT_ACCOUNT"
                                  ]
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "Decoded Static QR Code": {
                    "value": {
                      "end_to_end_id": "E1476673020220111130052626644038",
                      "qr_code": {
                        "kind": "STATIC",
                        "category_code": "0000",
                        "city": "PORTO ALEGRE",
                        "key": "90226395090",
                        "key_kind": "CPF",
                        "recipient": {
                          "account_number": 378,
                          "account_digit": 6,
                          "account_type": "PAYMENT_ACCOUNT",
                          "agency_number": 1,
                          "conciliation_id": "_**",
                          "document_number": 90226395090,
                          "ispb": 11476673,
                          "name": "Testes Automatizados",
                          "document_type": "CPF"
                        },
                        "value": 2.44,
                        "zip_code": "90480-002"
                      }
                    }
                  },
                  "Decoded Dynamic QR Code": {
                    "value": {
                      "end_to_end_id": "E1476673020220111130052626644038",
                      "qr_code": {
                        "kind": "DYNAMIC",
                        "category_code": "0000",
                        "city": "PORTO ALEGRE",
                        "zip_code": "90480-002",
                        "key": "90226395090",
                        "key_kind": "CPF",
                        "original_value": 2.44,
                        "recipient": {
                          "account_number": 378,
                          "account_digit": 6,
                          "account_type": "PAYMENT_ACCOUNT",
                          "agency_number": 1,
                          "conciliation_id": "_**",
                          "document_number": 90226395090,
                          "ispb": 11476673,
                          "name": "Testes Automatizados",
                          "document_type": "CPF"
                        },
                        "payer": {
                          "name": "Jorge Silva",
                          "document_number": 72909231038
                        },
                        "modality": {
                          "agent": "AGENT_OR_OTHER_LEGAL_ENTITY",
                          "allow_value_alteration": false,
                          "withdraw_ispb": 145,
                          "goal": "WITHDRAW",
                          "value": 5
                        },
                        "psp_recipient_url": "http://placeholder.com",
                        "reusable": true,
                        "review": 5456,
                        "created_at": "2021-01-31T15:33:17.000Z",
                        "scanned_at": "2021-02-05T10:25:47.000Z",
                        "status": "ACTIVE",
                        "text_to_payer": "lorem ipsum",
                        "expires_in": 43200
                      }
                    }
                  },
                  "DDecoded Dynamic QR Code With Due Date": {
                    "value": {
                      "end_to_end_id": "E1476673020220111130052626644038",
                      "qr_code": {
                        "kind": "DYNAMIC_WITH_DUE_DATE",
                        "category_code": "0000",
                        "days_after_due_date": 5,
                        "deduction": 0.31,
                        "discount": 0.48,
                        "due_date": "2021-01-31",
                        "final_value": 255.57,
                        "fine": 10.05,
                        "interest": 1.55,
                        "key": "90226395090",
                        "key_kind": "CPF",
                        "original_value": 254.57,
                        "payer": {
                          "document_number": 72909231038,
                          "name": "Jorge Silva"
                        },
                        "recipient": {
                          "account_number": 378,
                          "account_digit": 6,
                          "account_type": "PAYMENT_ACCOUNT",
                          "address": "1o de Maio",
                          "agency_number": 1131,
                          "conciliation_id": "_**",
                          "document_number": 27600504081,
                          "document_type": "CPF",
                          "ispb": 11476673,
                          "name": "Testes Automatizados",
                          "city": "PORTO ALEGRE",
                          "state": "RS",
                          "zip_code": "90480-002"
                        },
                        "review": 5456,
                        "created_at": "2021-01-31T09:28:03.000Z",
                        "scanned_at": "2021-01-31T15:33:17.000Z",
                        "status": "DONE",
                        "text_to_payer": "lorem ipsum",
                        "psp_recipient_url": "http://placeholder.com"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error with types [ValidationFailedError, InvalidDataError, EMVMerchantAccountSizeExceededError, InvalidIdempotenceKeyError, InvalidUUIDError].",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "The provided data is invalid",
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "title": "Error code",
                              "description": "The type of error",
                              "example": "VALIDATION_FAILED",
                              "enum": [
                                "VALIDATION_FAILED"
                              ]
                            },
                            "message": {
                              "type": "string",
                              "title": "Error message",
                              "description": "Describes a message informing a reason for the error",
                              "example": "Invalid request data"
                            },
                            "status_code": {
                              "type": "number",
                              "description": "Error status code",
                              "example": "400"
                            }
                          }
                        }
                      }
                    },
                    {
                      "title": "Invalid Data Error",
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "title": "Error code",
                              "description": "The type of error",
                              "example": "INVALID_DATA",
                              "enum": [
                                "INVALID_DATA"
                              ]
                            },
                            "message": {
                              "type": "string",
                              "title": "Error message",
                              "description": "Describes a message informing a reason for the error",
                              "example": "The data provided has an invalid format"
                            },
                            "status_code": {
                              "type": "number",
                              "description": "Error status code",
                              "example": "400"
                            }
                          }
                        }
                      }
                    },
                    {
                      "title": "EMV Merchant Account Size Exceeded",
                      "properties": {
                        "code": {
                          "type": "string",
                          "title": "Error code",
                          "description": "The type of error",
                          "example": "EMV_MERCHANT_ACCOUNT_SIZE_EXCEEDED",
                          "enum": [
                            "EMV_MERCHANT_ACCOUNT_SIZE_EXCEEDED"
                          ]
                        },
                        "message": {
                          "type": "string",
                          "title": "Error message",
                          "description": "Describes a message informing a reason for the error",
                          "example": "EMV Merchant Account Information field exceeded the maximum size."
                        },
                        "status_code": {
                          "type": "number",
                          "description": "Error status code",
                          "example": "400"
                        }
                      }
                    },
                    {
                      "title": "Invalid Idempotence Key Error",
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "title": "Error code",
                              "description": "The type of error",
                              "example": "INVALID_IDEMPOTENCE_KEY",
                              "enum": [
                                "INVALID_IDEMPOTENCE_KEY"
                              ]
                            },
                            "message": {
                              "type": "string",
                              "title": "Error message",
                              "description": "Describes a message informing a reason for the error",
                              "example": "Idempotence Key is missing or is not a valid uuid."
                            },
                            "status_code": {
                              "type": "number",
                              "description": "Error status code",
                              "example": "400"
                            }
                          }
                        }
                      }
                    },
                    {
                      "title": "Invalid uuid",
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "title": "Error code",
                              "description": "The type of error",
                              "example": "INVALID_UUID",
                              "enum": [
                                "INVALID_UUID"
                              ]
                            },
                            "message": {
                              "type": "string",
                              "title": "Error message",
                              "description": "Describes a message informing a reason for the error",
                              "example": "Invalid uuid"
                            },
                            "status_code": {
                              "type": "number",
                              "description": "Error status code",
                              "example": "400"
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "Example 1 - ValidationFailed": {
                    "value": {
                      "code": "VALIDATION_FAILED",
                      "message": "Invalid request data"
                    }
                  },
                  "Example 2 - InvalidDataError": {
                    "value": {
                      "code": "INVALID_DATA",
                      "message": "The data provided has an invalid format"
                    }
                  },
                  "Example 3 - EMVMerchantAccountSizeExceededError": {
                    "value": {
                      "code": "EMV_MERCHANT_ACCOUNT_SIZE_EXCEEDED",
                      "message": "EMV Merchant Account Information field exceeded the maximum size"
                    }
                  },
                  "Example 4 - InvalidIdempotenceKeyError": {
                    "value": {
                      "code": "INVALID_IDEMPOTENCE_KEY",
                      "message": "Idempotence Key is missing or is not a valid uuid."
                    }
                  },
                  "Example 5 - InvalidUUIDError": {
                    "value": {
                      "code": "INVALID_UUID",
                      "message": "Invalid uuid"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Error with types [KeyNotFoundError, AccountNotFoundError]",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "Key Not Found",
                      "properties": {
                        "code": {
                          "type": "string",
                          "title": "Error code",
                          "description": "The type of error",
                          "example": "KEY_NOT_FOUND",
                          "enum": [
                            "KEY_NOT_FOUND"
                          ]
                        },
                        "message": {
                          "type": "string",
                          "title": "Error message",
                          "description": "Describes a message informing a reason for the error",
                          "example": "The key provided wasn't found or doesn't exist"
                        },
                        "status_code": {
                          "type": "number",
                          "description": "Error status code",
                          "example": "404"
                        }
                      }
                    },
                    {
                      "title": "Account Not Found",
                      "properties": {
                        "code": {
                          "type": "string",
                          "title": "Error code",
                          "description": "The type of error",
                          "example": "ACCOUNT_NOT_FOUND",
                          "enum": [
                            "ACCOUNT_NOT_FOUND"
                          ]
                        },
                        "message": {
                          "type": "string",
                          "title": "Error message",
                          "description": "Describes a message informing a reason for the error",
                          "example": "Account not found"
                        },
                        "status_code": {
                          "type": "number",
                          "description": "Error status code",
                          "example": "404"
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "Example 1 - KeyNotFoundError": {
                    "value": {
                      "code": "KEY_NOT_FOUND",
                      "message": "The key provided wasn't found or doesn't exist"
                    }
                  },
                  "Example 2 - AccountNotFoundError": {
                    "value": {
                      "code": "ACCOUNT_NOT_FOUND",
                      "message": "Account not found."
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "Error with types [InvalidQRCodePayloadError]",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Invalid QR Code payload",
                  "properties": {
                    "code": {
                      "type": "string",
                      "title": "Error code",
                      "description": "The type of error",
                      "example": "INVALID_QR_CODE_PAYLOAD",
                      "enum": [
                        "INVALID_QR_CODE_PAYLOAD"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "title": "Error message",
                      "description": "Describes a message informing a reason for the error",
                      "example": "The payload has been violated or is invalid"
                    },
                    "status_code": {
                      "type": "number",
                      "description": "Error status code",
                      "example": "406"
                    }
                  }
                },
                "examples": {
                  "Example 1 - InvalidQRCodePayloadError": {
                    "value": {
                      "code": "INVALID_QR_CODE_PAYLOAD",
                      "message": "The payload has been violated or is invalid"
                    }
                  }
                }
              }
            }
          },
          "408": {
            "description": "Timeout Error with types [DecodeTimeout]",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Timeout to decode the qr code by third party integration",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "title": "Error code",
                          "description": "The type of error",
                          "example": "DECODE_TIMEOUT",
                          "enum": [
                            "DECODE_TIMEOUT"
                          ]
                        },
                        "message": {
                          "type": "string",
                          "title": "Error message",
                          "description": "Describes a message informing a reason for the error",
                          "example": "Invalid request data"
                        },
                        "status_code": {
                          "type": "number",
                          "description": "Error status code",
                          "example": "408"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1 - DecodeTimeout": {
                    "value": {
                      "code": "DECODE_TIMEOUT",
                      "message": "Timeout to decode the qr code"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict Error with types [IdempotenceKeyAlreadyExistsError]",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Idempotence Key Already Exists Error",
                  "properties": {
                    "code": {
                      "type": "string",
                      "title": "Error code",
                      "description": "The type of error",
                      "example": "IDEMPOTENCE_KEY_ALREADY_EXISTS",
                      "enum": [
                        "IDEMPOTENCE_KEY_ALREADY_EXISTS"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "title": "Error message",
                      "description": "Describes a message informing a reason for the error",
                      "example": "The idempotence key provided already exists"
                    },
                    "status_code": {
                      "type": "number",
                      "description": "Error status code",
                      "example": "409"
                    }
                  }
                },
                "examples": {
                  "Example 1 - IdempotenceKeyAlreadyExistsError": {
                    "value": {
                      "code": "IDEMPOTENCE_KEY_ALREADY_EXISTS",
                      "message": "The idempotence key provided already exists"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Internal Server Error",
                  "properties": {
                    "code": {
                      "type": "string",
                      "title": "Error code",
                      "description": "The type of error",
                      "example": "INTERNAL_SERVER_ERROR",
                      "enum": [
                        "INTERNAL_SERVER_ERROR"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "title": "Error message",
                      "description": "Describes a message informing a reason for the error",
                      "example": "Unexpected error with our service"
                    },
                    "status_code": {
                      "type": "number",
                      "description": "Error status code",
                      "example": "500"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/status": {
      "get": {
        "tags": [
          "general"
        ],
        "summary": "Health Check",
        "operationId": "health_check",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Not Found",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "title": "Error code",
                          "description": "The type of error",
                          "example": "NOT_FOUND",
                          "enum": [
                            "NOT_FOUND"
                          ]
                        },
                        "message": {
                          "type": "string",
                          "title": "Error message",
                          "description": "Describes a message informing a reason for the error",
                          "example": "Unable to found the requested account"
                        },
                        "status_code": {
                          "type": "number",
                          "description": "Error status code",
                          "example": "404"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Internal Server Error",
                  "properties": {
                    "code": {
                      "type": "string",
                      "title": "Error code",
                      "description": "The type of error",
                      "example": "INTERNAL_SERVER_ERROR",
                      "enum": [
                        "INTERNAL_SERVER_ERROR"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "title": "Error message",
                      "description": "Describes a message informing a reason for the error",
                      "example": "Unexpected error with our service"
                    },
                    "status_code": {
                      "type": "number",
                      "description": "Error status code",
                      "example": "500"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/static": {
      "post": {
        "tags": [
          "create_qr_code"
        ],
        "summary": "Create a static QR Code",
        "description": "Create a static QR Code",
        "operationId": "create_static_qr_code",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Idempotence-Key",
            "schema": {
              "example": "69F963C6-7487-4363-9406-A1DE2A9636D4",
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Params to create a new static QR Code",
                "required": [
                  "account_id",
                  "format",
                  "key",
                  "city"
                ],
                "properties": {
                  "account_id": {
                    "type": "string",
                    "description": "Unique identifier of the account.",
                    "format": "uuid-v4",
                    "example": "6d814c28-fe73-443c-bfe0-48d518aa32fa"
                  },
                  "format": {
                    "type": "string",
                    "enum": [
                      "IMAGE",
                      "PAYLOAD_BASE_64",
                      "IMAGE_AND_PAYLOAD_BASE_64"
                    ],
                    "description": "Sets request return format:\n* IMAGE: Static QR Code image\n* PAYLOAD_BASE_64: Static QR Code payload\n* IMAGE_AND_PAYLOAD_BASE_64: Static QR Code image and payload\n",
                    "example": "IMAGE_AND_PAYLOAD_BASE_64"
                  },
                  "key": {
                    "type": "string",
                    "description": "Pix key",
                    "minLength": 5,
                    "maxLength": 77,
                    "example": "30937116068"
                  },
                  "category_code": {
                    "type": "string",
                    "description": "Recipient category code",
                    "maxLength": 4,
                    "default": "0000",
                    "example": "0000"
                  },
                  "value": {
                    "type": "number",
                    "format": "double",
                    "description": "Transaction value",
                    "example": 4587.92
                  },
                  "city": {
                    "type": "string",
                    "maxLength": 15,
                    "example": "RIO DE JANEIRO"
                  },
                  "zip_code": {
                    "type": "string",
                    "minLength": 5,
                    "maxLength": 10,
                    "example": "90485-075"
                  },
                  "recipient_conciliation_id": {
                    "type": "string",
                    "maxLength": 25
                  },
                  "additional_data": {
                    "type": "string",
                    "maxLength": 64
                  },
                  "withdraw_ispb": {
                    "type": "integer",
                    "description": "ISPB from PSS. When provided it means the QR code is for \"Pix Saque\".",
                    "maxLength": 8,
                    "example": 44568458
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Static QR Code successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Static QR Code",
                  "properties": {
                    "image_qr_code_base_64": {
                      "type": "string",
                      "format": "base64",
                      "description": "Static QR Code image"
                    },
                    "payload_base_64": {
                      "type": "string",
                      "format": "base64",
                      "description": "Static QR Code payload"
                    }
                  }
                },
                "examples": {
                  "Format 0": {
                    "value": {
                      "image_qr_code_base_64": "iVBORw0KGgoAAAANSUhEUgAABMQAAATECAYAAACEMNn6AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAIABJREFUeJzs2luO3MqyYMGORs5/ynE/99GPAIEu0SuX2QAIjwdZhYU89977/wAAAAAg4v+/PQAAAAAA/EuCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmftwf46c45b4/AD3LvHX1e7f5N719N7b5sV/seeH+f2X6+fLfa92ra9v2rzbdd7f3gmdr7Mc0vxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABI+bw9AL+69749Av/jnPP2CD/a9H12Hs/Uvi/b78v2+abV1rvd9u+z7xXfxPvxjP17prbe7Xzvd/ELMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSPm8PwN91znl7hH/q3vv2CP9Ubb3Ttu/f9vd3er7t5zE9X23/tq+3Nl/N9vOdtv3+bd+/7e/b9vPYfv94pnYe279XPOMXYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkfN4eANjjnPP2CP/U9HrvvaPPq9l+Htvfj+3zTavdl9p8221/37af7/b9m7Z9/7afx/b9q33/4Jv4hRgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKZ+3BwD2uPeOPu+cM/q87abXWzuP7eudno9nps93+/tRm8/79sz27+m07fdl+/7VbL8vwL/jF2IAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApHzeHoC/69779gj8IOect0fgf0yfx/T3YHq+7fdv+3zbv/f2b5fa96Wmtn/b1+v7wjep3We+m1+IAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJDyeXsAfnXOeXsEfpDp+3LvHX2e+Z6pfQ+279/2+abZv2e271/N9vtnvme2zzdt+/5tV9u/7fcZ3uQXYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACknHvvfXsIYIdzzujzfF6+2/R92W77fa6dx7Tt5ztt+33Zfh61/fP/wTPb7wvP1O4zfBO/EAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAg5dx779tD8J9zzujzHO8z0+ex3fR92X6ft5/v9vWajz/hPL5b7Xy3/39V+55un2/a9vs3bft5TKud73bb75/78oxfiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQ8nl7gJ/unDP6vHvv6POmbV/v9vm2s3/PuM/P1Obbfr7T8223ff+2z1e7L9vPl11q57v9/dj+vdo+37Ta+da+B9v5hRgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKZ+3B+BX55y3R/jR7r2jz5s+j+n5trN/u9TOY/t6t3+vpm0/j2m1891+HrX7V7P9/diu9n5s/z5v37/t79v282UXvxADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIOXce+/bQ/D3nHNGn7f9uljvM9bLn5g+jxr375na98B6v1vtPKbXu/2+bD/fadvvy7Taemuc73fzCzEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUj5vD8Cvzjlvj8D/mD6Pe+/q5223fb2193f7eUzbfr7bv1f277tt37/t92+a8/hu28+39v2r2X7/trN/u/iFGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApn7cH+OnOOaPPu/eOPo9nps9j+32Znq/Geexi/57xvfpu2/dv+/3brva+bT/f7fs3rfb+bp9vu+3vR+17WuMXYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkfN4egL/rnDP6vHvv6PNq8203vX/bTZ+v+/zM9v2btn292+/Lds53l+3nsd329dbu8/bvwfb7sl3tPLbf59p51PiFGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApn7cH+OnuvaPPO+eMPs98z2yfb/t6p21f7/R8PLP9PNy/Z2r7t32+2nlst33/tv+/UbP9/a3NN6223mm19db4hRgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKZ+3B/jpzjmjz7v3jj5v+3zbTe/fdu7LM7X1Ttu+f9Pvh/ftmdr3eTv3+Zna/m1fr+/Ld9t+X2rv73a1863xCzEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUj5vD8Cvzjlvj/Bb0/Pde0efN216vtr+uc/PbJ9vu+375/3Y9bzt691+X7avd/v3b/t8Ndvvc83274H3lz+x/T7X+IUYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACnn3nvfHoK/55zz9gi/NX39rPeZ7Z8D631m+3q32/594Zna93n7fbbeXezfLtu/L9vV9m/7+zvN3w/+hF+IAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJDyeXuAn+6c8/YI/9S9d/R52/evtt7t802z3l1q79v0evlutfu8fb3bTe+f8+VPbD9f9/mZ2v75f+27+YUYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmftweASffe0eedc0afNz3fdtP7N237eWy/f9vPt8Z5PDP9fmx/37bPN833/pnafNO2f1+2235fzPeM+Z6pfQ+m+YUYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmftwf46e69o88754w+b7vt+zc93zT3hT+x/b5sn692/3yfv9v285ier/Z92X6+NdvvH88432dq36vt89X4hRgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKefee98egv+cc94e4bemr8v29W63/fWdPt/a/audL99t+/u7fT6e2f49nbb9/jmPZ3yvntl+/9yX77b9/tX4hRgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKZ+3B/jpzjlvj/Bb9963R/jRtu/f9vs3bft6t9+XabX1Tt+/6f3bPt+07fNNc192qf092r5e+Cbb39/a936a89jFL8QAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASPm8PQA/yznn7RH+qdp6771vj/Bb289j+3zT51tb73a19W6/f9Os95nt70ft++x8n6nt37Tt78d22/fP+8af8AsxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFI+bw/A33XOGX3evXf0edvn2256/6Ztn692n50Hb9p+Hv5+7Hre9vMw3zPbvwc1zuOZ7e/btO3f++3zsYtfiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQ8nl7gJ/u3jv6vHPO6PN4Zvo8pu9Lzfb3zfk+s/08tn+ft+9fTe08au/b9vOo3b/t92Wa9+2Z7eutvb/wJr8QAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACDl8/YAP905Z/R5997R502bXu9228+jxvu2y/T+Ta93+/7x3bZ/X3im9n3Z/ve3Nh/fzd+P77b9e1XjF2IAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApHzeHoBfnXPeHuFHs3+8afr+3XtHn8cutfsyPd/0/vn78cz2/dv+ftS+B9vXu/0+T7N/z9TWyzPbv881fiEGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQMrn7QF+unvv6PPOOaPPm55vmvU+s3297OL+7VLbP/dvl+nzmFb7/8p9fmb7+U7Pt/393W77+1a7z9OcL3/CL8QAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASPm8PcBPd84Zfd69d/R5202vd/o8pm1f7/R829e7ff9q802rrbdm+3ls/3vu/Xhm+/d52vbz3b5/fLft74f5nvF9+W5+IQYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAyuftAfhZzjlvj/Bb9963R/it6f3bvt5p0+vdfp+nbb9/0/M532e2f19q92/7eUyrvb81tfu8ne/pd9t+vtvPo7beGr8QAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACDl3Hvv20Pw95xz3h7ht6avn/U+Y75ntn9OvR/POF/+hPv8TG2907bv3/b5pm1f7/a/H9b73bafx7Ta+W7nF2IAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApHzeHoC/6947+rxzzurnTa93u9p6p9m/Z+zfM9Pfv+2235ftf99qtv//UlPbv+3r3f7/8/b9q/09qtl+vuziF2IAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApHzeHoBfnXNGn3fvXf287abPo2b6vmw/D+/HM9v3b/v9m7b9/d1+X6ZtX6/34xnvxzO1+zetdv+23xffl2dq58szfiEGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQMq59963h+A/55y3R/jRatd5+r5s37/t690+37Ta92r7fdnOfd5l+33efl9qaue7fb21+abV1lvj+8Kf8AsxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFLOvfe+PQT/Oee8PQJ/0fTr5r484zye2f7nw3k8s33/3D/+hPfjme3r3a52Htb7zPR6a38vt5/HtO3nu51fiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQcu699+0h+HvOOaPPc1122X6+0/Oxy/b7sn2+7Wrf+9r5buf+PVPbv+18X3bZ/v/B9vd3+3pr79v2+7KdX4gBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiMH/tWsvKbIrSQAFCcj9bzl62P0G/aCQ3yvPOmYLSFzxURUHAQAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAAp59573x6CrnPO6O9NH+fp+abVnndabf22P2/tz9H287Ld9vPifvCbeF/t4n2wS+19v/194P9dfsIXYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgBD9jp7AAAM1ElEQVQAAACkfN4e4Nudc0Z/7947+nvTas+7fb7t+zE9X83287d9vu3nr7Z+298v0/Nt39+a7edlWu39t/15a+wHP7H9fVCbr8YXYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACknHvvfXsI/uuc8/YIhHkd7DL9PrC/8P9tv2/b59tu+/ptn2/a9v93a/u7fT6e2b6/tfcBu/hCDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAICUc++9bw/xzc45o783vR3T8223/ThvPy812/ejdn+nbb8f28/fdtvXrzbftO3nefv+TnNedtl+/rafl2nO3zPb12/7ed6+ftv5QgwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAlM/bA/BP55zR37v3jv7e9HzTts+3nfV7Zvv61d4H29mPZ2rrt30++Inp+7td7f5ufz9vP3/bz8v2/YWf8IUYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmftwf4dvfe0d8756z+venn5Xfbfj+2n+fp592uth/Tz7t9/aZtvx/2YxfzPbP9PG9/P9dsP88128/z9vm8X343X4gBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkHLuvfftIfge55zR39t+/Kafd9r0+tWed9r29Zu2fT+28z7lN9l+/rZzP57x/9Au2/++bd9ffrft97fGF2IAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApHzeHoDvcu99e4S/avvznnPeHuGrbV8/5++Z7eu3fb6a2n5M39/p39u+H95/z2xfv2nT+1G7b9vV1m/7+au9X3jGF2IAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApHzeHuDbnXPeHoEvcu99e4R/NT2f+/FMbf22nz/z8RPb93e77evnvu1SW7/t52/7fNtt34/tas/LM74QAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACDl8/YA/NO99+0R+B/nnLdH+FfT52X6eZ3nXbafl+33bfv92D7ftO3nZfv6bbf9fkzbfl5q75ea7fdt+3zT3I/fbfv9qPGFGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApn7cH4M8657w9wl917317hK82vX7T52/7/m5fP3bZvr+1+7t9P7bz/ttl+/ptn8/76pna+2D7fDxjf383X4gBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkPJ5ewBgj3PO2yN8ten1u/eO/t72+aZtP8/W75nt92O72vp53mdqfz94Zvv9qNn+PnBeeJMvxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABI+bw9APB73XtHf++cM/p707Y/7/R87OK8/G6190vtfT/N/v5uzt8u25/XfXtm+/njGV+IAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJDyeXsA/qx779sj8Aedc94e4a+aPs/T6zf9e9uftzbfdtv3Y7vt56V2P7af5+3rV+O8PLP9fW8/nqndD+eZn/CFGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApn7cH4J/OOW+PwBe5947+3vT5236ep9dvu9rzTp+/7fdtu9r545nt93da7XnZZfvft9p5rj1vjf3dxRdiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKSce+99ewgAAAAA+Ft8IQYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAyn8A05nDafaS6uUAAAAASUVORK5CYII="
                    }
                  },
                  "Format 1": {
                    "value": {
                      "payload_base_64": "MDAwMjAxMjYzMzAwMTRici5nb3YuYmNiLnBpeDAxMTE5MDIyNjM5NTA5MDUyMDQwMDAwNTMwMzk4NjU0MDQyLjAwNTgwMkJSNTkxM0Z1bGFubyBkZSBUYWw2MDEyUE9SVE8gQUxFR1JFNjIwNzA1MDMqKio2MzA0RDNDQg"
                    }
                  },
                  "Format 2": {
                    "value": {
                      "payload_base_64": "MDAwMjAxMjYzMzAwMTRici5nb3YuYmNiLnBpeDAxMTE5MDIyNjM5NTA5MDUyMDQwMDAwNTMwMzk4NjU0MDQyLjAwNTgwMkJSNTkxM0Z1bGFubyBkZSBUYWw2MDEyUE9SVE8gQUxFR1JFNjIwNzA1MDMqKio2MzA0RDNDQg",
                      "image_qr_code_base_64": "iVBORw0KGgoAAAANSUhEUgAABMQAAATECAYAAACEMNn6AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAIABJREFUeJzs2luO3MqyYMGORs5/ynE/99GPAIEu0SuX2QAIjwdZhYU89977/wAAAAAg4v+/PQAAAAAA/EuCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmftwf46c45b4/AD3LvHX1e7f5N719N7b5sV/seeH+f2X6+fLfa92ra9v2rzbdd7f3gmdr7Mc0vxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABI+bw9AL+69749Av/jnPP2CD/a9H12Hs/Uvi/b78v2+abV1rvd9u+z7xXfxPvxjP17prbe7Xzvd/ELMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSPm8PwN91znl7hH/q3vv2CP9Ubb3Ttu/f9vd3er7t5zE9X23/tq+3Nl/N9vOdtv3+bd+/7e/b9vPYfv94pnYe279XPOMXYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkfN4eANjjnPP2CP/U9HrvvaPPq9l+Htvfj+3zTavdl9p8221/37af7/b9m7Z9/7afx/b9q33/4Jv4hRgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKZ+3BwD2uPeOPu+cM/q87abXWzuP7eudno9nps93+/tRm8/79sz27+m07fdl+/7VbL8vwL/jF2IAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApHzeHoC/69779gj8IOect0fgf0yfx/T3YHq+7fdv+3zbv/f2b5fa96Wmtn/b1+v7wjep3We+m1+IAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJDyeXsAfnXOeXsEfpDp+3LvHX2e+Z6pfQ+279/2+abZv2e271/N9vtnvme2zzdt+/5tV9u/7fcZ3uQXYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACknHvvfXsIYIdzzujzfF6+2/R92W77fa6dx7Tt5ztt+33Zfh61/fP/wTPb7wvP1O4zfBO/EAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAg5dx779tD8J9zzujzHO8z0+ex3fR92X6ft5/v9vWajz/hPL5b7Xy3/39V+55un2/a9vs3bft5TKud73bb75/78oxfiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQ8nl7gJ/unDP6vHvv6POmbV/v9vm2s3/PuM/P1Obbfr7T8223ff+2z1e7L9vPl11q57v9/dj+vdo+37Ta+da+B9v5hRgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKZ+3B+BX55y3R/jR7r2jz5s+j+n5trN/u9TOY/t6t3+vpm0/j2m1891+HrX7V7P9/diu9n5s/z5v37/t79v282UXvxADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIOXce+/bQ/D3nHNGn7f9uljvM9bLn5g+jxr375na98B6v1vtPKbXu/2+bD/fadvvy7Taemuc73fzCzEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUj5vD8Cvzjlvj8D/mD6Pe+/q5223fb2193f7eUzbfr7bv1f277tt37/t92+a8/hu28+39v2r2X7/trN/u/iFGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApn7cH+OnOOaPPu/eOPo9nps9j+32Znq/Geexi/57xvfpu2/dv+/3brva+bT/f7fs3rfb+bp9vu+3vR+17WuMXYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkfN4egL/rnDP6vHvv6PNq8203vX/bTZ+v+/zM9v2btn292+/Lds53l+3nsd329dbu8/bvwfb7sl3tPLbf59p51PiFGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApn7cH+OnuvaPPO+eMPs98z2yfb/t6p21f7/R8PLP9PNy/Z2r7t32+2nlst33/tv+/UbP9/a3NN6223mm19db4hRgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKZ+3B/jpzjmjz7v3jj5v+3zbTe/fdu7LM7X1Ttu+f9Pvh/ftmdr3eTv3+Zna/m1fr+/Ld9t+X2rv73a1863xCzEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUj5vD8Cvzjlvj/Bb0/Pde0efN216vtr+uc/PbJ9vu+375/3Y9bzt691+X7avd/v3b/t8Ndvvc83274H3lz+x/T7X+IUYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACnn3nvfHoK/55zz9gi/NX39rPeZ7Z8D631m+3q32/594Zna93n7fbbeXezfLtu/L9vV9m/7+zvN3w/+hF+IAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJDyeXuAn+6c8/YI/9S9d/R52/evtt7t802z3l1q79v0evlutfu8fb3bTe+f8+VPbD9f9/mZ2v75f+27+YUYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmftweASffe0eedc0afNz3fdtP7N237eWy/f9vPt8Z5PDP9fmx/37bPN833/pnafNO2f1+2235fzPeM+Z6pfQ+m+YUYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmftwf46e69o88754w+b7vt+zc93zT3hT+x/b5sn692/3yfv9v285ier/Z92X6+NdvvH88432dq36vt89X4hRgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKefee98egv+cc94e4bemr8v29W63/fWdPt/a/audL99t+/u7fT6e2f49nbb9/jmPZ3yvntl+/9yX77b9/tX4hRgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKZ+3B/jpzjlvj/Bb9963R/jRtu/f9vs3bft6t9+XabX1Tt+/6f3bPt+07fNNc192qf092r5e+Cbb39/a936a89jFL8QAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASPm8PQA/yznn7RH+qdp6771vj/Bb289j+3zT51tb73a19W6/f9Os95nt70ft++x8n6nt37Tt78d22/fP+8af8AsxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFI+bw/A33XOGX3evXf0edvn2256/6Ztn692n50Hb9p+Hv5+7Hre9vMw3zPbvwc1zuOZ7e/btO3f++3zsYtfiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQ8nl7gJ/u3jv6vHPO6PN4Zvo8pu9Lzfb3zfk+s/08tn+ft+9fTe08au/b9vOo3b/t92Wa9+2Z7eutvb/wJr8QAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACDl8/YAP905Z/R5997R502bXu9228+jxvu2y/T+Ta93+/7x3bZ/X3im9n3Z/ve3Nh/fzd+P77b9e1XjF2IAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApHzeHoBfnXPeHuFHs3+8afr+3XtHn8cutfsyPd/0/vn78cz2/dv+ftS+B9vXu/0+T7N/z9TWyzPbv881fiEGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQMrn7QF+unvv6PPOOaPPm55vmvU+s3297OL+7VLbP/dvl+nzmFb7/8p9fmb7+U7Pt/393W77+1a7z9OcL3/CL8QAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASPm8PcBPd84Zfd69d/R5202vd/o8pm1f7/R829e7ff9q802rrbdm+3ls/3vu/Xhm+/d52vbz3b5/fLft74f5nvF9+W5+IQYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAyuftAfhZzjlvj/Bb9963R/it6f3bvt5p0+vdfp+nbb9/0/M532e2f19q92/7eUyrvb81tfu8ne/pd9t+vtvPo7beGr8QAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACDl3Hvv20Pw95xz3h7ht6avn/U+Y75ntn9OvR/POF/+hPv8TG2907bv3/b5pm1f7/a/H9b73bafx7Ta+W7nF2IAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApHzeHoC/6947+rxzzurnTa93u9p6p9m/Z+zfM9Pfv+2235ftf99qtv//UlPbv+3r3f7/8/b9q/09qtl+vuziF2IAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApHzeHoBfnXNGn3fvXf287abPo2b6vmw/D+/HM9v3b/v9m7b9/d1+X6ZtX6/34xnvxzO1+zetdv+23xffl2dq58szfiEGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQMq59963h+A/55y3R/jRatd5+r5s37/t690+37Ta92r7fdnOfd5l+33efl9qaue7fb21+abV1lvj+8Kf8AsxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFLOvfe+PQT/Oee8PQJ/0fTr5r484zye2f7nw3k8s33/3D/+hPfjme3r3a52Htb7zPR6a38vt5/HtO3nu51fiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQcu699+0h+HvOOaPPc1122X6+0/Oxy/b7sn2+7Wrf+9r5buf+PVPbv+18X3bZ/v/B9vd3+3pr79v2+7KdX4gBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiMH/tWsvKbIrSQAFCcj9bzl62P0G/aCQ3yvPOmYLSFzxURUHAQAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAAp59573x6CrnPO6O9NH+fp+abVnndabf22P2/tz9H287Ld9vPifvCbeF/t4n2wS+19v/194P9dfsIXYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgBD9jp7AAAM1ElEQVQAAACkfN4e4Nudc0Z/7947+nvTas+7fb7t+zE9X83287d9vu3nr7Z+298v0/Nt39+a7edlWu39t/15a+wHP7H9fVCbr8YXYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACknHvvfXsI/uuc8/YIhHkd7DL9PrC/8P9tv2/b59tu+/ptn2/a9v93a/u7fT6e2b6/tfcBu/hCDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAICUc++9bw/xzc45o783vR3T8223/ThvPy812/ejdn+nbb8f28/fdtvXrzbftO3nefv+TnNedtl+/rafl2nO3zPb12/7ed6+ftv5QgwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAlM/bA/BP55zR37v3jv7e9HzTts+3nfV7Zvv61d4H29mPZ2rrt30++Inp+7td7f5ufz9vP3/bz8v2/YWf8IUYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmftwf4dvfe0d8756z+venn5Xfbfj+2n+fp592uth/Tz7t9/aZtvx/2YxfzPbP9PG9/P9dsP88128/z9vm8X343X4gBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkHLuvfftIfge55zR39t+/Kafd9r0+tWed9r29Zu2fT+28z7lN9l+/rZzP57x/9Au2/++bd9ffrft97fGF2IAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApHzeHoDvcu99e4S/avvznnPeHuGrbV8/5++Z7eu3fb6a2n5M39/p39u+H95/z2xfv2nT+1G7b9vV1m/7+au9X3jGF2IAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApHzeHuDbnXPeHoEvcu99e4R/NT2f+/FMbf22nz/z8RPb93e77evnvu1SW7/t52/7fNtt34/tas/LM74QAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACDl8/YA/NO99+0R+B/nnLdH+FfT52X6eZ3nXbafl+33bfv92D7ftO3nZfv6bbf9fkzbfl5q75ea7fdt+3zT3I/fbfv9qPGFGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApn7cH4M8657w9wl917317hK82vX7T52/7/m5fP3bZvr+1+7t9P7bz/ttl+/ptn8/76pna+2D7fDxjf383X4gBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkPJ5ewBgj3PO2yN8ten1u/eO/t72+aZtP8/W75nt92O72vp53mdqfz94Zvv9qNn+PnBeeJMvxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABI+bw9APB73XtHf++cM/p707Y/7/R87OK8/G6190vtfT/N/v5uzt8u25/XfXtm+/njGV+IAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJDyeXsA/qx779sj8Aedc94e4a+aPs/T6zf9e9uftzbfdtv3Y7vt56V2P7af5+3rV+O8PLP9fW8/nqndD+eZn/CFGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApn7cH4J/OOW+PwBe5947+3vT5236ep9dvu9rzTp+/7fdtu9r545nt93da7XnZZfvft9p5rj1vjf3dxRdiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKSce+99ewgAAAAA+Ft8IQYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAyn8A05nDafaS6uUAAAAASUVORK5CYII="
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error with types [ValidationFailedError, InvalidDataError, EMVMerchantAccountSizeExceededError, InvalidUUIDError].",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "The provided data is invalid",
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "title": "Error code",
                              "description": "The type of error",
                              "example": "VALIDATION_FAILED",
                              "enum": [
                                "VALIDATION_FAILED"
                              ]
                            },
                            "message": {
                              "type": "string",
                              "title": "Error message",
                              "description": "Describes a message informing a reason for the error",
                              "example": "Invalid request data"
                            },
                            "status_code": {
                              "type": "number",
                              "description": "Error status code",
                              "example": "400"
                            }
                          }
                        }
                      }
                    },
                    {
                      "title": "Invalid Data Error",
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "title": "Error code",
                              "description": "The type of error",
                              "example": "INVALID_DATA",
                              "enum": [
                                "INVALID_DATA"
                              ]
                            },
                            "message": {
                              "type": "string",
                              "title": "Error message",
                              "description": "Describes a message informing a reason for the error",
                              "example": "The data provided has an invalid format"
                            },
                            "status_code": {
                              "type": "number",
                              "description": "Error status code",
                              "example": "400"
                            }
                          }
                        }
                      }
                    },
                    {
                      "title": "EMV Merchant Account Size Exceeded",
                      "properties": {
                        "code": {
                          "type": "string",
                          "title": "Error code",
                          "description": "The type of error",
                          "example": "EMV_MERCHANT_ACCOUNT_SIZE_EXCEEDED",
                          "enum": [
                            "EMV_MERCHANT_ACCOUNT_SIZE_EXCEEDED"
                          ]
                        },
                        "message": {
                          "type": "string",
                          "title": "Error message",
                          "description": "Describes a message informing a reason for the error",
                          "example": "EMV Merchant Account Information field exceeded the maximum size."
                        },
                        "status_code": {
                          "type": "number",
                          "description": "Error status code",
                          "example": "400"
                        }
                      }
                    },
                    {
                      "title": "Invalid uuid",
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "title": "Error code",
                              "description": "The type of error",
                              "example": "INVALID_UUID",
                              "enum": [
                                "INVALID_UUID"
                              ]
                            },
                            "message": {
                              "type": "string",
                              "title": "Error message",
                              "description": "Describes a message informing a reason for the error",
                              "example": "Invalid uuid"
                            },
                            "status_code": {
                              "type": "number",
                              "description": "Error status code",
                              "example": "400"
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "Example 1 - ValidationFailed": {
                    "value": {
                      "code": "VALIDATION_FAILED",
                      "message": "Invalid request data"
                    }
                  },
                  "Example 2 - InvalidDataError": {
                    "value": {
                      "code": "INVALID_DATA",
                      "message": "The data provided has an invalid format"
                    }
                  },
                  "Example 3 - EMVMerchantAccountSizeExceededError": {
                    "value": {
                      "code": "EMV_MERCHANT_ACCOUNT_SIZE_EXCEEDED",
                      "message": "EMV Merchant Account Information field exceeded the maximum size"
                    }
                  },
                  "Example 4 - InvalidUUIDError": {
                    "value": {
                      "code": "INVALID_UUID",
                      "message": "Invalid uuid"
                    }
                  }
                }
              }
            }
          },
          "401": {
[...]
