{
  "openapi": "3.0.2",
  "info": {
    "version": "1.0.0-beta",
    "title": "Bill Payment",
    "description": "**Description**: Api responsible for soliciting bill payments\nFor a bill payment be successfully completed, the client has to do two requests to the service. <br/>The first one is for create a payment and get information about bill. <br/>The second one is for the client provide information about payer and about the amount to pay. After this steps some back end process will be responsible to confirm with application if the transaction is permitted and if was, check if client has balance enough to do the operation requested.\n# Status\nTo see how the payment flow is going the client can get information about it and confirm the statuses and occurrences.\n\n  | Status                | Description                                                 |\n  |-------------------- | ------------------------------------------------------------|\n  | `CREATED` | The payment was created with the id provided. |\n  | -------------------- | ------------------------------------------------- ---------- |\n  | `AUTHORIZED` | The customer has authorized the payment and it will be processed. |\n  | -------------------- | ------------------------------------------------- ---------- |\n  | `COFIRMED` | Application confirmed payment. |\n  | -------------------- | ------------------------------------------------- ---------- |\n  | `NOT CONFIRMED` | Application not confirmed payment. |\n  | -------------------- | ------------------------------------------------- ---------- |\n  | `PROCESSING` | Payment has been sent for internal processing |\n  | -------------------- | ------------------------------------------------- ---------- |\n  | `TRANSFERRED` | Payment has been transferred internally and awaits finalization |\n  | -------------------- | ------------------------------------------------- ---------- |\n  | `REJECTED` | Payment has been rejected. |\n  | -------------------- | ------------------------------------------------- ---------- |\n  | `DONE` | Payment has been fully processed.\n  | -------------------- | ------------------------------------------------- ---------- |\n  | `CANCELED` | Payment has been cancelled.                                      |\n  |-------------------- | ------------------------------------------------------------|\n\n# Errors\nBill Payment uses [HTTP response status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes) to indicate the success or failure of your API requests.\nIn general, there are three status code ranges you can expect:\n- `2xx` success status codes confirm that your request worked as expected\n- `4xx` error status codes indicate an error because of the information provided (e.g., a required parameter was not provided)\n- `5xx` error status codes are rare and indicate an error with R4's servers\n## HTTP Status code summary\nExtracted from [Stripe API codes](https://stripe.com/docs/api/errors)\n- `200 - OK` - Success for request.\n- `400 - Bad Request` - The server cannot or will not process the request due to an apparent client error.\n- `404 - Not Found` The requested resource doesn't exist.\n- `409 - Conflict` The requested account is inactive or does not exist.\n- `422 - Unprocessable Entity` UUID invalid or another mistake\n- `424 - Failed Dependency`  The requested action depended on another action and that action failed\n- `500, 502, 503, 504 - Server Errors` Something went wrong on R4's end.\n## Error codes\nBelow is a list of possible error codes that can be returned:\n\n  | Code                | Description                                                 |\n  |-------------------- | ------------------------------------------------------------|\n  | `404  - Not Found`  | The resource informed was not found.                        |\n  |-------------------- | ------------------------------------------------------------|\n  | `409  - Conflict`   | The id informed was already processed.                      |\n  |-------------------- | ------------------------------------------------------------|\n  | `422 - Un. Entity`  | UUID invalid                                                |\n  |-------------------- | ------------------------------------------------------------|\n  | `424 - Failed Dependency`  | The requested action depended on another action and that action failed                                             |\n  |-------------------- | ------------------------------------------------------------|\n"
  },
  "servers": [
    {
      "description": "Development",
      "url": "https://develop.r4digital.cloud/bill-payment"
    },
    {
      "description": "Production",
      "url": "https://api.r4digital.cloud/bill-payment"
    }
  ],
  "tags": [
    {
      "name": "Bill Payment"
    }
  ],
  "paths": {
    "/bill-payments": {
      "post": {
        "tags": [
          "Bill Payment"
        ],
        "description": "Returns information's about a bill payment requested and prepare to authorize payment.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "account_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "DIGITABLE",
                      "BARCODE"
                    ]
                  },
                  "value": {
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "account_id",
                  "type",
                  "value"
                ],
                "example": {
                  "id": "0683e31a-b8c7-4984-9c6a-fafd36e9ffba",
                  "account_id": "b24c5c00-b294-4956-8500-705c93ffaee8",
                  "type": "DIGITABLE",
                  "value": "34191.79001 01043.510047 91020.150008 6 86470026000"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "assignor": {
                      "type": "string"
                    },
                    "type": {
                      "type": "number"
                    },
                    "settle_date": {
                      "type": "string",
                      "format": "date"
                    },
                    "end_hour": {
                      "type": "string"
                    },
                    "inite_hour": {
                      "type": "string"
                    },
                    "next_settle": {
                      "type": "string"
                    },
                    "value": {
                      "type": "number"
                    },
                    "authorize_transaction_id": {
                      "type": "number"
                    },
                    "error_code": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "document_recipient": {
                      "type": "string",
                      "nullable": true
                    },
                    "document_payer": {
                      "type": "string",
                      "nullable": true
                    },
                    "pay_due_date": {
                      "type": "string",
                      "format": "date",
                      "nullable": true
                    },
                    "next_business_day": {
                      "type": "string",
                      "format": "date",
                      "nullable": true
                    },
                    "due_date_register": {
                      "type": "string",
                      "format": "date",
                      "nullable": true
                    },
                    "allow_change_value": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "recipient": {
                      "type": "string",
                      "nullable": true
                    },
                    "payer": {
                      "type": "string",
                      "nullable": true
                    },
                    "discount_value": {
                      "type": "number",
                      "nullable": true
                    },
                    "interest_value_calculated": {
                      "type": "number",
                      "nullable": true
                    },
                    "max_value": {
                      "type": "number",
                      "nullable": true
                    },
                    "min_value": {
                      "type": "number",
                      "nullable": true
                    },
                    "fine_value_calculated": {
                      "type": "number",
                      "nullable": true
                    },
                    "original_value": {
                      "type": "number",
                      "nullable": true
                    },
                    "total_updated": {
                      "type": "number",
                      "nullable": true
                    },
                    "total_with_discount": {
                      "type": "number",
                      "nullable": true
                    },
                    "total_with_additional": {
                      "type": "number",
                      "nullable": true
                    },
                    "due_date": {
                      "type": "string",
                      "format": "date",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "status_code": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "status_code"
                  ],
                  "example": {
                    "code": "CONFLICT",
                    "message": "Requested id already exists",
                    "status_code": 409
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "status_code": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "status_code"
                  ],
                  "example": {
                    "code": "INTERNAL_SERVER_ERROR",
                    "message": "Internal Server Error",
                    "status_code": 500
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Bill Payment"
        ],
        "description": "Returns information's about a bill payment for a specif account.",
        "parameters": [
          {
            "in": "query",
            "name": "account_id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": "Account Id on database."
          },
          {
            "in": "query",
            "name": "after",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "before",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cursor": {
                      "type": "object",
                      "properties": {
                        "after": {
                          "type": "string"
                        },
                        "before": {
                          "type": "string"
                        },
                        "limit": {
                          "type": "number"
                        }
                      }
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assignor": {
                            "type": "string"
                          },
                          "type": {
                            "type": "number"
                          },
                          "settle_date": {
                            "type": "string",
                            "format": "date"
                          },
                          "end_hour": {
                            "type": "string"
                          },
                          "inite_hour": {
                            "type": "string"
                          },
                          "next_settle": {
                            "type": "string"
                          },
                          "value": {
                            "type": "number"
                          },
                          "authorize_transaction_id": {
                            "type": "number"
                          },
                          "error_code": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "document_recipient": {
                            "type": "string",
                            "nullable": true
                          },
                          "document_payer": {
                            "type": "string",
                            "nullable": true
                          },
                          "pay_due_date": {
                            "type": "string",
                            "format": "date",
                            "nullable": true
                          },
                          "next_business_day": {
                            "type": "string",
                            "format": "date",
                            "nullable": true
                          },
                          "due_date_register": {
                            "type": "string",
                            "format": "date",
                            "nullable": true
                          },
                          "allow_change_value": {
                            "type": "boolean",
                            "nullable": true
                          },
                          "recipient": {
                            "type": "string",
                            "nullable": true
                          },
                          "payer": {
                            "type": "string",
                            "nullable": true
                          },
                          "discount_value": {
                            "type": "number",
                            "nullable": true
                          },
                          "interest_value_calculated": {
                            "type": "number",
                            "nullable": true
                          },
                          "max_value": {
                            "type": "number",
                            "nullable": true
                          },
                          "min_value": {
                            "type": "number",
                            "nullable": true
                          },
                          "fine_value_calculated": {
                            "type": "number",
                            "nullable": true
                          },
                          "original_value": {
                            "type": "number",
                            "nullable": true
                          },
                          "total_updated": {
                            "type": "number",
                            "nullable": true
                          },
                          "total_with_discount": {
                            "type": "number",
                            "nullable": true
                          },
                          "total_with_additional": {
                            "type": "number",
                            "nullable": true
                          },
                          "due_date": {
                            "type": "string",
                            "format": "date",
                            "nullable": true
                          },
                          "message": {
                            "type": "string",
                            "nullable": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "status_code": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "status_code"
                  ],
                  "example": {
                    "code": "CONFLICT",
                    "message": "Requested id already exists",
                    "status_code": 409
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "status_code": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "status_code"
                  ],
                  "example": {
                    "code": "INTERNAL_SERVER_ERROR",
                    "message": "Internal Server Error",
                    "status_code": 500
                  }
                }
              }
            }
          }
        }
      }
    },
    "/bill-payments/{payment_guuid}": {
      "post": {
        "tags": [
          "Bill Payment"
        ],
        "description": "Authorize a payment by specifying a payment amount and payer information.",
        "parameters": [
          {
            "in": "path",
            "name": "payment_guuid",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": "Transaction ID for authorized bill payment."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payer": {
                    "type": "object",
                    "properties": {
                      "document_type": {
                        "type": "string",
                        "enum": [
                          "CPF",
                          "CNPJ"
                        ]
                      },
                      "document_number": {
                        "type": "number"
                      }
                    }
                  },
                  "amount": {
                    "type": "number",
                    "format": "float"
                  }
                },
                "required": [
                  "payer - document_type - document_number",
                  "amount"
                ],
                "example": {
                  "payer": {
                    "document_type": "CPF",
                    "document_number": "1234567890"
                  },
                  "amount": 123.48
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment information.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Accepted"
                }
              }
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "status_code": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "status_code"
                  ],
                  "example": {
                    "code": "RESOURCE_NOT_FOUND",
                    "message": "Resource not found",
                    "status_code": 404
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "status_code": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "status_code"
                  ],
                  "example": {
                    "code": "INTERNAL_SERVER_ERROR",
                    "message": "Internal Server Error",
                    "status_code": 500
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Bill Payment"
        ],
        "description": "Get payment information by payment guuid.",
        "parameters": [
          {
            "in": "path",
            "name": "payment_guuid",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": "Bill payment guuid on database."
          }
        ],
        "responses": {
          "200": {
            "description": "Payment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assignor": {
                            "type": "string"
                          },
                          "type": {
                            "type": "number"
                          },
                          "settle_date": {
                            "type": "string",
                            "format": "date"
                          },
                          "end_hour": {
                            "type": "string"
                          },
                          "inite_hour": {
                            "type": "string"
                          },
                          "next_settle": {
                            "type": "string"
                          },
                          "value": {
                            "type": "number"
                          },
                          "authorize_transaction_id": {
                            "type": "number"
                          },
                          "error_code": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "document_recipient": {
                            "type": "string",
                            "nullable": true
                          },
                          "document_payer": {
                            "type": "string",
                            "nullable": true
                          },
                          "pay_due_date": {
                            "type": "string",
                            "format": "date",
                            "nullable": true
                          },
                          "next_business_day": {
                            "type": "string",
                            "format": "date",
                            "nullable": true
                          },
                          "due_date_register": {
                            "type": "string",
                            "format": "date",
                            "nullable": true
                          },
                          "allow_change_value": {
                            "type": "boolean",
                            "nullable": true
                          },
                          "recipient": {
                            "type": "string",
                            "nullable": true
                          },
                          "payer": {
                            "type": "string",
                            "nullable": true
                          },
                          "discount_value": {
                            "type": "number",
                            "nullable": true
                          },
                          "interest_value_calculated": {
                            "type": "number",
                            "nullable": true
                          },
                          "max_value": {
                            "type": "number",
                            "nullable": true
                          },
                          "min_value": {
                            "type": "number",
                            "nullable": true
                          },
                          "fine_value_calculated": {
                            "type": "number",
                            "nullable": true
                          },
                          "original_value": {
                            "type": "number",
                            "nullable": true
                          },
                          "total_updated": {
                            "type": "number",
                            "nullable": true
                          },
                          "total_with_discount": {
                            "type": "number",
                            "nullable": true
                          },
                          "total_with_additional": {
                            "type": "number",
                            "nullable": true
                          },
                          "due_date": {
                            "type": "string",
                            "format": "date",
                            "nullable": true
                          },
                          "message": {
                            "type": "string",
                            "nullable": true
                          }
                        }
                      }
                    },
                    "occurrences": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "status_code": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "status_code"
                  ],
                  "example": {
                    "code": "RESOURCE_NOT_FOUND",
                    "message": "Resource not found",
                    "status_code": 404
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "status_code": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "status_code"
                  ],
                  "example": {
                    "code": "INTERNAL_SERVER_ERROR",
                    "message": "Internal Server Error",
                    "status_code": 500
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Bill Payment"
        ],
        "description": "Cancels a payment and reverse when possible",
        "parameters": [
          {
            "in": "path",
            "name": "payment_guuid",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": "Bill payment guuid on database"
          }
        ],
        "responses": {
          "202": {
            "description": "Operation status information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "status_code": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "status_code"
                  ],
                  "example": {
                    "code": "RESOURCE_NOT_FOUND",
                    "message": "Resource not found",
                    "status_code": 404
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "status_code": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "status_code"
                  ],
                  "example": {
                    "code": "INTERNAL_SERVER_ERROR",
                    "message": "Internal Server Error",
                    "status_code": 500
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "responses": {
      "NotFound": {
        "description": "The specified resource was not found",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "status_code": {
                  "type": "number"
                }
              },
              "required": [
                "code",
                "message",
                "status_code"
              ],
              "example": {
                "code": "RESOURCE_NOT_FOUND",
                "message": "Resource not found",
                "status_code": 404
              }
            }
          }
        }
      },
      "UnprocessableEntity": {
        "description": "Unprocessable Entity",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "status_code": {
                  "type": "number"
                }
              },
              "required": [
                "code",
                "message",
                "status_code"
              ],
              "example": {
                "code": "INTERNAL_SERVER_ERROR",
                "message": "Unprocessable Entity",
                "status_code": 422
              }
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "status_code": {
                  "type": "number"
                }
              },
              "required": [
                "code",
                "message",
                "status_code"
              ],
              "example": {
                "code": "INTERNAL_SERVER_ERROR",
                "message": "Internal Server Error",
                "status_code": 500
              }
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "status_code": {
                  "type": "number"
                }
              },
              "required": [
                "code",
                "message",
                "status_code"
              ],
              "example": {
                "code": "CONFLICT",
                "message": "Requested id already exists",
                "status_code": 409
              }
            }
          }
        }
      },
      "PaymentResponse": {
        "description": "Payment",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "assignor": {
                  "type": "string"
                },
                "type": {
                  "type": "number"
                },
                "settle_date": {
                  "type": "string",
                  "format": "date"
                },
                "end_hour": {
                  "type": "string"
                },
                "inite_hour": {
                  "type": "string"
                },
                "next_settle": {
                  "type": "string"
                },
                "value": {
                  "type": "number"
                },
                "authorize_transaction_id": {
                  "type": "number"
                },
                "error_code": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "document_recipient": {
                  "type": "string",
                  "nullable": true
                },
                "document_payer": {
                  "type": "string",
                  "nullable": true
                },
                "pay_due_date": {
                  "type": "string",
                  "format": "date",
                  "nullable": true
                },
                "next_business_day": {
                  "type": "string",
                  "format": "date",
                  "nullable": true
                },
                "due_date_register": {
                  "type": "string",
                  "format": "date",
                  "nullable": true
                },
                "allow_change_value": {
                  "type": "boolean",
                  "nullable": true
                },
                "recipient": {
                  "type": "string",
                  "nullable": true
                },
                "payer": {
                  "type": "string",
                  "nullable": true
                },
                "discount_value": {
                  "type": "number",
                  "nullable": true
                },
                "interest_value_calculated": {
                  "type": "number",
                  "nullable": true
                },
                "max_value": {
                  "type": "number",
                  "nullable": true
                },
                "min_value": {
                  "type": "number",
                  "nullable": true
                },
                "fine_value_calculated": {
                  "type": "number",
                  "nullable": true
                },
                "original_value": {
                  "type": "number",
                  "nullable": true
                },
                "total_updated": {
                  "type": "number",
                  "nullable": true
                },
                "total_with_discount": {
                  "type": "number",
                  "nullable": true
                },
                "total_with_additional": {
                  "type": "number",
                  "nullable": true
                },
                "due_date": {
                  "type": "string",
                  "format": "date",
                  "nullable": true
                },
                "message": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          }
        }
      },
      "PaymentWithCursorResponse": {
        "description": "Payment",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "cursor": {
                  "type": "object",
                  "properties": {
                    "after": {
                      "type": "string"
                    },
                    "before": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "number"
                    }
                  }
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "assignor": {
                        "type": "string"
                      },
                      "type": {
                        "type": "number"
                      },
                      "settle_date": {
                        "type": "string",
                        "format": "date"
                      },
                      "end_hour": {
                        "type": "string"
                      },
                      "inite_hour": {
                        "type": "string"
                      },
                      "next_settle": {
                        "type": "string"
                      },
                      "value": {
                        "type": "number"
                      },
                      "authorize_transaction_id": {
                        "type": "number"
                      },
                      "error_code": {
                        "type": "string"
                      },
                      "status": {
                        "type": "string"
                      },
                      "document_recipient": {
                        "type": "string",
                        "nullable": true
                      },
                      "document_payer": {
                        "type": "string",
                        "nullable": true
                      },
                      "pay_due_date": {
                        "type": "string",
                        "format": "date",
                        "nullable": true
                      },
                      "next_business_day": {
                        "type": "string",
                        "format": "date",
                        "nullable": true
                      },
                      "due_date_register": {
                        "type": "string",
                        "format": "date",
                        "nullable": true
                      },
                      "allow_change_value": {
                        "type": "boolean",
                        "nullable": true
                      },
                      "recipient": {
                        "type": "string",
                        "nullable": true
                      },
                      "payer": {
                        "type": "string",
                        "nullable": true
                      },
                      "discount_value": {
                        "type": "number",
                        "nullable": true
                      },
                      "interest_value_calculated": {
                        "type": "number",
                        "nullable": true
                      },
                      "max_value": {
                        "type": "number",
                        "nullable": true
                      },
                      "min_value": {
                        "type": "number",
                        "nullable": true
                      },
                      "fine_value_calculated": {
                        "type": "number",
                        "nullable": true
                      },
                      "original_value": {
                        "type": "number",
                        "nullable": true
                      },
                      "total_updated": {
                        "type": "number",
                        "nullable": true
                      },
                      "total_with_discount": {
                        "type": "number",
                        "nullable": true
                      },
                      "total_with_additional": {
                        "type": "number",
                        "nullable": true
                      },
                      "due_date": {
                        "type": "string",
                        "format": "date",
                        "nullable": true
                      },
                      "message": {
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "PaymentWithOccurrencesResponse": {
        "description": "Payment",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "assignor": {
                        "type": "string"
                      },
                      "type": {
                        "type": "number"
                      },
                      "settle_date": {
                        "type": "string",
                        "format": "date"
                      },
                      "end_hour": {
                        "type": "string"
                      },
                      "inite_hour": {
                        "type": "string"
                      },
                      "next_settle": {
                        "type": "string"
                      },
                      "value": {
                        "type": "number"
                      },
                      "authorize_transaction_id": {
                        "type": "number"
                      },
                      "error_code": {
                        "type": "string"
                      },
                      "status": {
                        "type": "string"
                      },
                      "document_recipient": {
                        "type": "string",
                        "nullable": true
                      },
                      "document_payer": {
                        "type": "string",
                        "nullable": true
                      },
                      "pay_due_date": {
                        "type": "string",
                        "format": "date",
                        "nullable": true
                      },
                      "next_business_day": {
                        "type": "string",
                        "format": "date",
                        "nullable": true
                      },
                      "due_date_register": {
                        "type": "string",
                        "format": "date",
                        "nullable": true
                      },
                      "allow_change_value": {
                        "type": "boolean",
                        "nullable": true
                      },
                      "recipient": {
                        "type": "string",
                        "nullable": true
                      },
                      "payer": {
                        "type": "string",
                        "nullable": true
                      },
                      "discount_value": {
                        "type": "number",
                        "nullable": true
                      },
                      "interest_value_calculated": {
                        "type": "number",
                        "nullable": true
                      },
                      "max_value": {
                        "type": "number",
                        "nullable": true
                      },
                      "min_value": {
                        "type": "number",
                        "nullable": true
                      },
                      "fine_value_calculated": {
                        "type": "number",
                        "nullable": true
                      },
                      "original_value": {
                        "type": "number",
                        "nullable": true
                      },
                      "total_updated": {
                        "type": "number",
                        "nullable": true
                      },
                      "total_with_discount": {
                        "type": "number",
                        "nullable": true
                      },
                      "total_with_additional": {
                        "type": "number",
                        "nullable": true
                      },
                      "due_date": {
                        "type": "string",
                        "format": "date",
                        "nullable": true
                      },
                      "message": {
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                },
                "occurrences": {
                  "type": "array",
                  "items": {
                    "properties": {
                      "code": {
                        "type": "string"
                      },
                      "status": {
                        "type": "string"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "schemas": {
      "InternalServerError": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "status_code": {
            "type": "number"
          }
        },
        "required": [
          "code",
          "message",
          "status_code"
        ],
        "example": {
          "code": "INTERNAL_SERVER_ERROR",
          "message": "Internal Server Error",
          "status_code": 500
        }
      },
      "UnprocessableEntity": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "status_code": {
            "type": "number"
          }
        },
        "required": [
          "code",
          "message",
          "status_code"
        ],
        "example": {
          "code": "INTERNAL_SERVER_ERROR",
          "message": "Unprocessable Entity",
          "status_code": 422
        }
      },
      "ResourceNotFound": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "status_code": {
            "type": "number"
          }
        },
        "required": [
          "code",
          "message",
          "status_code"
        ],
        "example": {
          "code": "RESOURCE_NOT_FOUND",
          "message": "Resource not found",
          "status_code": 404
        }
      },
      "Conflict": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "status_code": {
            "type": "number"
          }
        },
        "required": [
          "code",
          "message",
          "status_code"
        ],
        "example": {
          "code": "CONFLICT",
          "message": "Requested id already exists",
          "status_code": 409
        }
      },
      "PaymentWithCursorResponse": {
        "type": "object",
        "properties": {
          "cursor": {
            "type": "object",
            "properties": {
              "after": {
                "type": "string"
              },
              "before": {
                "type": "string"
              },
              "limit": {
                "type": "number"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "assignor": {
                  "type": "string"
                },
                "type": {
                  "type": "number"
                },
                "settle_date": {
                  "type": "string",
                  "format": "date"
                },
                "end_hour": {
                  "type": "string"
                },
                "inite_hour": {
                  "type": "string"
                },
                "next_settle": {
                  "type": "string"
                },
                "value": {
                  "type": "number"
                },
                "authorize_transaction_id": {
                  "type": "number"
                },
                "error_code": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "document_recipient": {
                  "type": "string",
                  "nullable": true
                },
                "document_payer": {
                  "type": "string",
                  "nullable": true
                },
                "pay_due_date": {
                  "type": "string",
                  "format": "date",
                  "nullable": true
                },
                "next_business_day": {
                  "type": "string",
                  "format": "date",
                  "nullable": true
                },
                "due_date_register": {
                  "type": "string",
                  "format": "date",
                  "nullable": true
                },
                "allow_change_value": {
                  "type": "boolean",
                  "nullable": true
                },
                "recipient": {
                  "type": "string",
                  "nullable": true
                },
                "payer": {
                  "type": "string",
                  "nullable": true
                },
                "discount_value": {
                  "type": "number",
                  "nullable": true
                },
                "interest_value_calculated": {
                  "type": "number",
                  "nullable": true
                },
                "max_value": {
                  "type": "number",
                  "nullable": true
                },
                "min_value": {
                  "type": "number",
                  "nullable": true
                },
                "fine_value_calculated": {
                  "type": "number",
                  "nullable": true
                },
                "original_value": {
                  "type": "number",
                  "nullable": true
                },
                "total_updated": {
                  "type": "number",
                  "nullable": true
                },
                "total_with_discount": {
                  "type": "number",
                  "nullable": true
                },
                "total_with_additional": {
                  "type": "number",
                  "nullable": true
                },
                "due_date": {
                  "type": "string",
                  "format": "date",
                  "nullable": true
                },
                "message": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          }
        }
      },
      "PaymentWithOccurrencesResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "assignor": {
                  "type": "string"
                },
                "type": {
                  "type": "number"
                },
                "settle_date": {
                  "type": "string",
                  "format": "date"
                },
                "end_hour": {
                  "type": "string"
                },
                "inite_hour": {
                  "type": "string"
                },
                "next_settle": {
                  "type": "string"
                },
                "value": {
                  "type": "number"
                },
                "authorize_transaction_id": {
                  "type": "number"
                },
                "error_code": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "document_recipient": {
                  "type": "string",
                  "nullable": true
                },
                "document_payer": {
                  "type": "string",
                  "nullable": true
                },
                "pay_due_date": {
                  "type": "string",
                  "format": "date",
                  "nullable": true
                },
                "next_business_day": {
                  "type": "string",
                  "format": "date",
                  "nullable": true
                },
                "due_date_register": {
                  "type": "string",
                  "format": "date",
                  "nullable": true
                },
                "allow_change_value": {
                  "type": "boolean",
                  "nullable": true
                },
                "recipient": {
                  "type": "string",
                  "nullable": true
                },
                "payer": {
                  "type": "string",
                  "nullable": true
                },
                "discount_value": {
                  "type": "number",
                  "nullable": true
                },
                "interest_value_calculated": {
                  "type": "number",
                  "nullable": true
                },
                "max_value": {
                  "type": "number",
                  "nullable": true
                },
                "min_value": {
                  "type": "number",
                  "nullable": true
                },
                "fine_value_calculated": {
                  "type": "number",
                  "nullable": true
                },
                "original_value": {
                  "type": "number",
                  "nullable": true
                },
                "total_updated": {
                  "type": "number",
                  "nullable": true
                },
                "total_with_discount": {
                  "type": "number",
                  "nullable": true
                },
                "total_with_additional": {
                  "type": "number",
                  "nullable": true
                },
                "due_date": {
                  "type": "string",
                  "format": "date",
                  "nullable": true
                },
                "message": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          },
          "occurrences": {
            "type": "array",
            "items": {
              "properties": {
                "code": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string",
                  "format": "date"
                }
              }
            }
          }
        }
      },
      "PaymentResponse": {
        "type": "object",
        "properties": {
          "assignor": {
            "type": "string"
          },
          "type": {
            "type": "number"
          },
          "settle_date": {
            "type": "string",
            "format": "date"
          },
          "end_hour": {
            "type": "string"
          },
          "inite_hour": {
            "type": "string"
          },
          "next_settle": {
            "type": "string"
          },
          "value": {
            "type": "number"
          },
          "authorize_transaction_id": {
            "type": "number"
          },
          "error_code": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "document_recipient": {
            "type": "string",
            "nullable": true
          },
          "document_payer": {
            "type": "string",
            "nullable": true
          },
          "pay_due_date": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "next_business_day": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "due_date_register": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "allow_change_value": {
            "type": "boolean",
            "nullable": true
          },
          "recipient": {
            "type": "string",
            "nullable": true
          },
          "payer": {
            "type": "string",
            "nullable": true
          },
          "discount_value": {
            "type": "number",
            "nullable": true
          },
          "interest_value_calculated": {
            "type": "number",
            "nullable": true
          },
          "max_value": {
            "type": "number",
            "nullable": true
          },
          "min_value": {
            "type": "number",
            "nullable": true
          },
          "fine_value_calculated": {
            "type": "number",
            "nullable": true
          },
          "original_value": {
            "type": "number",
            "nullable": true
          },
          "total_updated": {
            "type": "number",
            "nullable": true
          },
          "total_with_discount": {
            "type": "number",
            "nullable": true
          },
          "total_with_additional": {
            "type": "number",
            "nullable": true
          },
          "due_date": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "message": {
            "type": "string",
            "nullable": true
          }
        }
      }
    }
  }
}
