{
  "openapi": "3.0.2",
  "info": {
    "version": "1.1.0-beta",
    "title": "Bill Payment",
    "description": "**Description**: Api responsible for soliciting bill payments\n\n  For a bill payment be successfully completed, the client has to do two requests to the service.\n\n  The first one is for create a payment and get information about bill.\n\n  The second one is for the client provide information about payer and about the amount to pay.\nAfter this steps, some back end process will be responsible to confirm with application if the transaction is permitted and if was, check if client has balance enough to do the operation requested.\n# Status\nTo see how the payment flow is going the client can get information about it and confirm the statuses and occurrences.\n\n  | Status                | Description                                                 |\n  |-------------------- | ------------------------------------------------------------|\n  | `CREATED` | The payment was created with the id provided. |\n  | `AUTHORIZED` | The customer has authorized the payment and it will be processed. |\n  | `CONFIRMING` | Payment has been sent for internal confirmation. |\n  | `COFIRMED` | Application confirmed payment. |\n  | `NOT_CONFIRMED` | Application not confirmed payment. |\n  | `PROCESSING` | Payment has been sent for internal processing |\n  | `TRANSFERRED` | Payment has been transferred internally and awaits finalization. |\n  | `REJECTED` | Payment has been rejected. |\n  | `ERROR` | Some error has ocurred during the process. |\n  | `CANCELED` | Payment has been cancelled. |\n  | `DONE` | Payment has been fully processed. |\n\n# Errors\nBill Payment uses [HTTP response status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes) to indicate the success or failure of your API requests.\nIn general, there are three status code ranges you can expect:\n- `2xx` success status codes confirm that your request worked as expected\n- `4xx` error status codes indicate an error because of the information provided (e.g., a required parameter was not provided)\n- `5xx` error status codes are rare and indicate an error with R4's servers\n## HTTP Status code summary\nExtracted from [Stripe API codes](https://stripe.com/docs/api/errors)\n- `200 - OK` - Success for request.\n- `400 - Bad Request` - The server cannot or will not process the request due to an apparent client error.\n- `404 - Not Found` The requested resource doesn't exist.\n- `409 - Conflict` The requested account is inactive or does not exist.\n- `422 - Unprocessable Entity` UUID invalid or another mistake\n- `424 - Failed Dependency`  The requested action depended on another action and that action failed\n- `500, 502, 503, 504 - Server Errors` Something went wrong on R4's end.\n## Error codes\nBelow is a list of possible error codes that can be returned:\n\n  | Code                | Description                                                 |\n  |-------------------- | ------------------------------------------------------------|\n  | `404  - Not Found`  | The resource informed was not found.                        |\n  | `409  - Conflict`   | The id informed was already processed.                      |\n  | `422 - Un. Entity`  | UUID invalid.                                               |\n  | `424 - Failed Dependency`  | The requested action depended on another action and that action failed. |\n\n## Status Change Notification\nAs described in the status table, some statuses will fire a notification call to the client.\n  To receive this notifications, its necessary to request the registration of the service URL which will receive the notification object.\n  This object will be sent as an HTTP call with the POST method, of which the client must respond with a 200 status and within 5 seconds.\n\n**Notification Call Scheme**\n\n  Headers:\n  ```json\n  {\n    X-R4-Application: GUID // Application Unique Identifier\n    X-R4-Delivery: GUID // Attempt Unique Identifier\n    X-R4-Event: {event_type} // Event Type for the Notification (As describe in the Status Table)\n    User-Agent: R4-Hookshot\n  }\n  ```\n  Body\n  ```json\n  {\n    \"object_kind\": \"{event_type}\", // Event Type for the Notification (As describe in the Status Table)\n    \"object_id\": \"GUID\", // Bill payment Unique Identifier\n    \"application_id\": \"GUID\", // Application Unique Identifier\n    \"account_id\": \"GUID\" // Account Unique Identifier\n  }\n  ```\n"
  },
  "servers": [
    {
      "description": "Development",
      "url": "https://develop.r4digital.cloud/bill-payment"
    },
    {
      "description": "Production",
      "url": "https://api.r4digital.cloud/bill-payment"
    }
  ],
  "tags": [
    {
      "name": "Bill Payment"
    }
  ],
  "paths": {
    "/bill-payments": {
      "post": {
        "tags": [
          "Bill Payment"
        ],
        "description": "Returns information's about a bill payment requested and prepare to authorize payment.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id",
                  "account_id",
                  "type",
                  "value"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "account_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "DIGITABLE",
                      "BARCODE"
                    ]
                  },
                  "value": {
                    "type": "string"
                  }
                },
                "example": {
                  "id": "0683e31a-b8c7-4984-9c6a-fafd36e9ffba",
                  "account_id": "b24c5c00-b294-4956-8500-705c93ffaee8",
                  "type": "DIGITABLE",
                  "value": "34191.79001 01043.510047 91020.150008 6 86470026000"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "application_id",
                    "account_id",
                    "original_code",
                    "original_type",
                    "status",
                    "created_at",
                    "updated_at"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "guid",
                      "example": "ad946bcd-682c-4c07-9264-9e958d400101"
                    },
                    "application_id": {
                      "type": "string",
                      "format": "guid",
                      "example": "cf4126bcd-682c-4c07-9264-9e958d400123"
                    },
                    "account_id": {
                      "type": "string",
                      "format": "guid",
                      "example": "abs46bcd-682c-4c07-9264-9e958d400312"
                    },
                    "assignor": {
                      "type": "string",
                      "example": "Conta - Segmento Telefone"
                    },
                    "original_code": {
                      "type": "string",
                      "example": 8.480000000063354e+47
                    },
                    "original_type": {
                      "type": "string",
                      "enum": [
                        "DIGITABLE",
                        "BARCODE"
                      ],
                      "example": "DIGITABLE"
                    },
                    "original_value": {
                      "type": "number",
                      "example": 33.53
                    },
                    "settle_date": {
                      "type": "string",
                      "format": "date",
                      "example": "2021-10-18T00:00:00.000Z"
                    },
                    "end_hour": {
                      "type": "string",
                      "example": "07:00"
                    },
                    "inite_hour": {
                      "type": "string",
                      "example": "05:00"
                    },
                    "next_settle": {
                      "type": "string",
                      "example": "N"
                    },
                    "value": {
                      "type": "number",
                      "example": 33.53
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "CREATED",
                        "AUTHORIZED",
                        "CONFIRMING",
                        "CONFIRMED",
                        "NOT_CONFIRMED",
                        "PROCESSING",
                        "TRANSFERRED",
                        "ERROR",
                        "CANCELED",
                        "DONE"
                      ]
                    },
                    "document_recipient": {
                      "type": "string",
                      "example": 96906497000100
                    },
                    "document_type_payer": {
                      "type": "string",
                      "enum": [
                        "CPF",
                        "CNPJ"
                      ]
                    },
                    "document_payer": {
                      "type": "string",
                      "example": 21568259000100
                    },
                    "pay_due_date": {
                      "type": "string",
                      "format": "date"
                    },
                    "next_business_day": {
                      "type": "string",
                      "format": "date"
                    },
                    "due_date_register": {
                      "type": "string",
                      "format": "date"
                    },
                    "allow_change_value": {
                      "type": "string",
                      "enum": [
                        "YES",
                        "NO"
                      ]
                    },
                    "recipient": {
                      "type": "string",
                      "example": "RECIPIENT"
                    },
                    "payer": {
                      "type": "string",
                      "example": "PAYER"
                    },
                    "discount_value": {
                      "type": "number"
                    },
                    "interest_value_calculated": {
                      "type": "number"
                    },
                    "max_value": {
                      "type": "number"
                    },
                    "min_value": {
                      "type": "number"
                    },
                    "fine_value_calculated": {
                      "type": "number"
                    },
                    "total_updated": {
                      "type": "number"
                    },
                    "total_with_discount": {
                      "type": "number"
                    },
                    "total_with_additional": {
                      "type": "number"
                    },
                    "due_date": {
                      "type": "string",
                      "format": "date"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date",
                      "example": "2021-09-24T12:59:46.173Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date",
                      "example": "2021-09-24T12:59:49.830Z"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "status_code": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "status_code"
                      ]
                    },
                    {
                      "example": {
                        "code": "CONFLICT",
                        "message": "Requested id already exists",
                        "status_code": 409
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "status_code": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "status_code"
                      ]
                    },
                    {
                      "example": {
                        "code": "INTERNAL_SERVER_ERROR",
                        "message": "Internal Server Error",
                        "status_code": 500
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Bill Payment"
        ],
        "description": "Returns information's about a bill payment for a specif account.",
        "parameters": [
          {
            "in": "query",
            "name": "account_id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": "Account Id on database."
          },
          {
            "in": "query",
            "name": "after",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "before",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cursor": {
                      "type": "object",
                      "properties": {
                        "after": {
                          "type": "string"
                        },
                        "before": {
                          "type": "string"
                        },
                        "limit": {
                          "type": "number"
                        }
                      }
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "application_id",
                          "account_id",
                          "original_code",
                          "original_type",
                          "status",
                          "created_at",
                          "updated_at"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "guid",
                            "example": "ad946bcd-682c-4c07-9264-9e958d400101"
                          },
                          "application_id": {
                            "type": "string",
                            "format": "guid",
                            "example": "cf4126bcd-682c-4c07-9264-9e958d400123"
                          },
                          "account_id": {
                            "type": "string",
                            "format": "guid",
                            "example": "abs46bcd-682c-4c07-9264-9e958d400312"
                          },
                          "assignor": {
                            "type": "string",
                            "example": "Conta - Segmento Telefone"
                          },
                          "original_code": {
                            "type": "string",
                            "example": 8.480000000063354e+47
                          },
                          "original_type": {
                            "type": "string",
                            "enum": [
                              "DIGITABLE",
                              "BARCODE"
                            ],
                            "example": "DIGITABLE"
                          },
                          "original_value": {
                            "type": "number",
                            "example": 33.53
                          },
                          "settle_date": {
                            "type": "string",
                            "format": "date",
                            "example": "2021-10-18T00:00:00.000Z"
                          },
                          "end_hour": {
                            "type": "string",
                            "example": "07:00"
                          },
                          "inite_hour": {
                            "type": "string",
                            "example": "05:00"
                          },
                          "next_settle": {
                            "type": "string",
                            "example": "N"
                          },
                          "value": {
                            "type": "number",
                            "example": 33.53
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "CREATED",
                              "AUTHORIZED",
                              "CONFIRMING",
                              "CONFIRMED",
                              "NOT_CONFIRMED",
                              "PROCESSING",
                              "TRANSFERRED",
                              "ERROR",
                              "CANCELED",
                              "DONE"
                            ]
                          },
                          "document_recipient": {
                            "type": "string",
                            "example": 96906497000100
                          },
                          "document_type_payer": {
                            "type": "string",
                            "enum": [
                              "CPF",
                              "CNPJ"
                            ]
                          },
                          "document_payer": {
                            "type": "string",
                            "example": 21568259000100
                          },
                          "pay_due_date": {
                            "type": "string",
                            "format": "date"
                          },
                          "next_business_day": {
                            "type": "string",
                            "format": "date"
                          },
                          "due_date_register": {
                            "type": "string",
                            "format": "date"
                          },
                          "allow_change_value": {
                            "type": "string",
                            "enum": [
                              "YES",
                              "NO"
                            ]
                          },
                          "recipient": {
                            "type": "string",
                            "example": "RECIPIENT"
                          },
                          "payer": {
                            "type": "string",
                            "example": "PAYER"
                          },
                          "discount_value": {
                            "type": "number"
                          },
                          "interest_value_calculated": {
                            "type": "number"
                          },
                          "max_value": {
                            "type": "number"
                          },
                          "min_value": {
                            "type": "number"
                          },
                          "fine_value_calculated": {
                            "type": "number"
                          },
                          "total_updated": {
                            "type": "number"
                          },
                          "total_with_discount": {
                            "type": "number"
                          },
                          "total_with_additional": {
                            "type": "number"
                          },
                          "due_date": {
                            "type": "string",
                            "format": "date"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date",
                            "example": "2021-09-24T12:59:46.173Z"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date",
                            "example": "2021-09-24T12:59:49.830Z"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "status_code": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "status_code"
                      ]
                    },
                    {
                      "example": {
                        "code": "CONFLICT",
                        "message": "Requested id already exists",
                        "status_code": 409
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "status_code": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "status_code"
                      ]
                    },
                    {
                      "example": {
                        "code": "INTERNAL_SERVER_ERROR",
                        "message": "Internal Server Error",
                        "status_code": 500
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/bill-payments/{payment_guuid}": {
      "post": {
        "tags": [
          "Bill Payment"
        ],
        "description": "Authorize a payment by specifying a payment amount and payer information.",
        "parameters": [
          {
            "in": "path",
            "name": "payment_guuid",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": "Transaction ID for authorized bill payment."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payer": {
                    "type": "object",
                    "properties": {
                      "document_type": {
                        "type": "string",
                        "enum": [
                          "CPF",
                          "CNPJ"
                        ]
                      },
                      "document_number": {
                        "type": "number"
                      }
                    }
                  },
                  "amount": {
                    "type": "number",
                    "format": "float"
                  }
                },
                "required": [
                  "payer - document_type - document_number",
                  "amount"
                ],
                "example": {
                  "payer": {
                    "document_type": "CPF",
                    "document_number": "1234567890"
                  },
                  "amount": 123.48
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment information.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Accepted"
                }
              }
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "status_code": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "status_code"
                      ]
                    },
                    {
                      "required": [
                        "code",
                        "message",
                        "status_code"
                      ]
                    },
                    {
                      "example": {
                        "code": "RESOURCE_NOT_FOUND",
                        "message": "Resource not found",
                        "status_code": 404
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "status_code": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "status_code"
                      ]
                    },
                    {
                      "example": {
                        "code": "INTERNAL_SERVER_ERROR",
                        "message": "Internal Server Error",
                        "status_code": 500
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Bill Payment"
        ],
        "description": "Get payment information by payment guuid.",
        "parameters": [
          {
            "in": "path",
            "name": "payment_guuid",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": "Bill payment guuid on database."
          }
        ],
        "responses": {
          "200": {
            "description": "Payment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "status",
                    "created_at"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "application_id",
                          "account_id",
                          "original_code",
                          "original_type",
                          "status",
                          "created_at",
                          "updated_at"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "guid",
                            "example": "ad946bcd-682c-4c07-9264-9e958d400101"
                          },
                          "application_id": {
                            "type": "string",
                            "format": "guid",
                            "example": "cf4126bcd-682c-4c07-9264-9e958d400123"
                          },
                          "account_id": {
                            "type": "string",
                            "format": "guid",
                            "example": "abs46bcd-682c-4c07-9264-9e958d400312"
                          },
                          "assignor": {
                            "type": "string",
                            "example": "Conta - Segmento Telefone"
                          },
                          "original_code": {
                            "type": "string",
                            "example": 8.480000000063354e+47
                          },
                          "original_type": {
                            "type": "string",
                            "enum": [
                              "DIGITABLE",
                              "BARCODE"
                            ],
                            "example": "DIGITABLE"
                          },
                          "original_value": {
                            "type": "number",
                            "example": 33.53
                          },
                          "settle_date": {
                            "type": "string",
                            "format": "date",
                            "example": "2021-10-18T00:00:00.000Z"
                          },
                          "end_hour": {
                            "type": "string",
                            "example": "07:00"
                          },
                          "inite_hour": {
                            "type": "string",
                            "example": "05:00"
                          },
                          "next_settle": {
                            "type": "string",
                            "example": "N"
                          },
                          "value": {
                            "type": "number",
                            "example": 33.53
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "CREATED",
                              "AUTHORIZED",
                              "CONFIRMING",
                              "CONFIRMED",
                              "NOT_CONFIRMED",
                              "PROCESSING",
                              "TRANSFERRED",
                              "ERROR",
                              "CANCELED",
                              "DONE"
                            ]
                          },
                          "document_recipient": {
                            "type": "string",
                            "example": 96906497000100
                          },
                          "document_type_payer": {
                            "type": "string",
                            "enum": [
                              "CPF",
                              "CNPJ"
                            ]
                          },
                          "document_payer": {
                            "type": "string",
                            "example": 21568259000100
                          },
                          "pay_due_date": {
                            "type": "string",
                            "format": "date"
                          },
                          "next_business_day": {
                            "type": "string",
                            "format": "date"
                          },
                          "due_date_register": {
                            "type": "string",
                            "format": "date"
                          },
                          "allow_change_value": {
                            "type": "string",
                            "enum": [
                              "YES",
                              "NO"
                            ]
                          },
                          "recipient": {
                            "type": "string",
                            "example": "RECIPIENT"
                          },
                          "payer": {
                            "type": "string",
                            "example": "PAYER"
                          },
                          "discount_value": {
                            "type": "number"
                          },
                          "interest_value_calculated": {
                            "type": "number"
                          },
                          "max_value": {
                            "type": "number"
                          },
                          "min_value": {
                            "type": "number"
                          },
                          "fine_value_calculated": {
                            "type": "number"
                          },
                          "total_updated": {
                            "type": "number"
                          },
                          "total_with_discount": {
                            "type": "number"
                          },
                          "total_with_additional": {
                            "type": "number"
                          },
                          "due_date": {
                            "type": "string",
                            "format": "date"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date",
                            "example": "2021-09-24T12:59:46.173Z"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date",
                            "example": "2021-09-24T12:59:49.830Z"
                          }
                        }
                      }
                    },
                    "occurrences": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "CREATED",
                              "AUTHORIZED",
                              "CONFIRMED",
                              "NOT_CONFIRMED",
                              "TRANSFERRED",
                              "REJECTED",
                              "ERROR",
                              "CANCELED",
                              "DONE",
                              "FORBIDDEN"
                            ]
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "status_code": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "status_code"
                      ]
                    },
                    {
                      "required": [
                        "code",
                        "message",
                        "status_code"
                      ]
                    },
                    {
                      "example": {
                        "code": "RESOURCE_NOT_FOUND",
                        "message": "Resource not found",
                        "status_code": 404
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "status_code": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "status_code"
                      ]
                    },
                    {
                      "example": {
                        "code": "INTERNAL_SERVER_ERROR",
                        "message": "Internal Server Error",
                        "status_code": 500
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Bill Payment"
        ],
        "description": "Cancels a payment and reverse when possible",
        "parameters": [
          {
            "in": "path",
            "name": "payment_guuid",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": "Bill payment guuid on database"
          }
        ],
        "responses": {
          "202": {
            "description": "Operation status information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "status_code": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "status_code"
                      ]
                    },
                    {
                      "required": [
                        "code",
                        "message",
                        "status_code"
                      ]
                    },
                    {
                      "example": {
                        "code": "RESOURCE_NOT_FOUND",
                        "message": "Resource not found",
                        "status_code": 404
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "status_code": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "status_code"
                      ]
                    },
                    {
                      "example": {
                        "code": "INTERNAL_SERVER_ERROR",
                        "message": "Internal Server Error",
                        "status_code": 500
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "responses": {
      "NotFound": {
        "description": "The specified resource was not found",
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "status_code": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "status_code"
                  ]
                },
                {
                  "required": [
                    "code",
                    "message",
                    "status_code"
                  ]
                },
                {
                  "example": {
                    "code": "RESOURCE_NOT_FOUND",
                    "message": "Resource not found",
                    "status_code": 404
                  }
                }
              ]
            }
          }
        }
      },
      "UnprocessableEntity": {
        "description": "Unprocessable Entity",
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "status_code": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "status_code"
                  ]
                },
                {
                  "example": {
                    "code": "INTERNAL_SERVER_ERROR",
                    "message": "Unprocessable Entity",
                    "status_code": 422
                  }
                }
              ]
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "status_code": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "status_code"
                  ]
                },
                {
                  "example": {
                    "code": "INTERNAL_SERVER_ERROR",
                    "message": "Internal Server Error",
                    "status_code": 500
                  }
                }
              ]
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict",
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "status_code": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "status_code"
                  ]
                },
                {
                  "example": {
                    "code": "CONFLICT",
                    "message": "Requested id already exists",
                    "status_code": 409
                  }
                }
              ]
            }
          }
        }
      },
      "PaymentResponse": {
        "description": "Payment",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "id",
                "application_id",
                "account_id",
                "original_code",
                "original_type",
                "status",
                "created_at",
                "updated_at"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "format": "guid",
                  "example": "ad946bcd-682c-4c07-9264-9e958d400101"
                },
                "application_id": {
                  "type": "string",
                  "format": "guid",
                  "example": "cf4126bcd-682c-4c07-9264-9e958d400123"
                },
                "account_id": {
                  "type": "string",
                  "format": "guid",
                  "example": "abs46bcd-682c-4c07-9264-9e958d400312"
                },
                "assignor": {
                  "type": "string",
                  "example": "Conta - Segmento Telefone"
                },
                "original_code": {
                  "type": "string",
                  "example": 8.480000000063354e+47
                },
                "original_type": {
                  "type": "string",
                  "enum": [
                    "DIGITABLE",
                    "BARCODE"
                  ],
                  "example": "DIGITABLE"
                },
                "original_value": {
                  "type": "number",
                  "example": 33.53
                },
                "settle_date": {
                  "type": "string",
                  "format": "date",
                  "example": "2021-10-18T00:00:00.000Z"
                },
                "end_hour": {
                  "type": "string",
                  "example": "07:00"
                },
                "inite_hour": {
                  "type": "string",
                  "example": "05:00"
                },
                "next_settle": {
                  "type": "string",
                  "example": "N"
                },
                "value": {
                  "type": "number",
                  "example": 33.53
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "CREATED",
                    "AUTHORIZED",
                    "CONFIRMING",
                    "CONFIRMED",
                    "NOT_CONFIRMED",
                    "PROCESSING",
                    "TRANSFERRED",
                    "ERROR",
                    "CANCELED",
                    "DONE"
                  ]
                },
                "document_recipient": {
                  "type": "string",
                  "example": 96906497000100
                },
                "document_type_payer": {
                  "type": "string",
                  "enum": [
                    "CPF",
                    "CNPJ"
                  ]
                },
                "document_payer": {
                  "type": "string",
                  "example": 21568259000100
                },
                "pay_due_date": {
                  "type": "string",
                  "format": "date"
                },
                "next_business_day": {
                  "type": "string",
                  "format": "date"
                },
                "due_date_register": {
                  "type": "string",
                  "format": "date"
                },
                "allow_change_value": {
                  "type": "string",
                  "enum": [
                    "YES",
                    "NO"
                  ]
                },
                "recipient": {
                  "type": "string",
                  "example": "RECIPIENT"
                },
                "payer": {
                  "type": "string",
                  "example": "PAYER"
                },
                "discount_value": {
                  "type": "number"
                },
                "interest_value_calculated": {
                  "type": "number"
                },
                "max_value": {
                  "type": "number"
                },
                "min_value": {
                  "type": "number"
                },
                "fine_value_calculated": {
                  "type": "number"
                },
                "total_updated": {
                  "type": "number"
                },
                "total_with_discount": {
                  "type": "number"
                },
                "total_with_additional": {
                  "type": "number"
                },
                "due_date": {
                  "type": "string",
                  "format": "date"
                },
                "created_at": {
                  "type": "string",
                  "format": "date",
                  "example": "2021-09-24T12:59:46.173Z"
                },
                "updated_at": {
                  "type": "string",
                  "format": "date",
                  "example": "2021-09-24T12:59:49.830Z"
                }
              }
            }
          }
        }
      },
      "PaymentWithCursorResponse": {
        "description": "Payment",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "cursor": {
                  "type": "object",
                  "properties": {
                    "after": {
                      "type": "string"
                    },
                    "before": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "number"
                    }
                  }
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "application_id",
                      "account_id",
                      "original_code",
                      "original_type",
                      "status",
                      "created_at",
                      "updated_at"
                    ],
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "guid",
                        "example": "ad946bcd-682c-4c07-9264-9e958d400101"
                      },
                      "application_id": {
                        "type": "string",
                        "format": "guid",
                        "example": "cf4126bcd-682c-4c07-9264-9e958d400123"
                      },
                      "account_id": {
                        "type": "string",
                        "format": "guid",
                        "example": "abs46bcd-682c-4c07-9264-9e958d400312"
                      },
                      "assignor": {
                        "type": "string",
                        "example": "Conta - Segmento Telefone"
                      },
                      "original_code": {
                        "type": "string",
                        "example": 8.480000000063354e+47
                      },
                      "original_type": {
                        "type": "string",
                        "enum": [
                          "DIGITABLE",
                          "BARCODE"
                        ],
                        "example": "DIGITABLE"
                      },
                      "original_value": {
                        "type": "number",
                        "example": 33.53
                      },
                      "settle_date": {
                        "type": "string",
                        "format": "date",
                        "example": "2021-10-18T00:00:00.000Z"
                      },
                      "end_hour": {
                        "type": "string",
                        "example": "07:00"
                      },
                      "inite_hour": {
                        "type": "string",
                        "example": "05:00"
                      },
                      "next_settle": {
                        "type": "string",
                        "example": "N"
                      },
                      "value": {
                        "type": "number",
                        "example": 33.53
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "CREATED",
                          "AUTHORIZED",
                          "CONFIRMING",
                          "CONFIRMED",
                          "NOT_CONFIRMED",
                          "PROCESSING",
                          "TRANSFERRED",
                          "ERROR",
                          "CANCELED",
                          "DONE"
                        ]
                      },
                      "document_recipient": {
                        "type": "string",
                        "example": 96906497000100
                      },
                      "document_type_payer": {
                        "type": "string",
                        "enum": [
                          "CPF",
                          "CNPJ"
                        ]
                      },
                      "document_payer": {
                        "type": "string",
                        "example": 21568259000100
                      },
                      "pay_due_date": {
                        "type": "string",
                        "format": "date"
                      },
                      "next_business_day": {
                        "type": "string",
                        "format": "date"
                      },
                      "due_date_register": {
                        "type": "string",
                        "format": "date"
                      },
                      "allow_change_value": {
                        "type": "string",
                        "enum": [
                          "YES",
                          "NO"
                        ]
                      },
                      "recipient": {
                        "type": "string",
                        "example": "RECIPIENT"
                      },
                      "payer": {
                        "type": "string",
                        "example": "PAYER"
                      },
                      "discount_value": {
                        "type": "number"
                      },
                      "interest_value_calculated": {
                        "type": "number"
                      },
                      "max_value": {
                        "type": "number"
                      },
                      "min_value": {
                        "type": "number"
                      },
                      "fine_value_calculated": {
                        "type": "number"
                      },
                      "total_updated": {
                        "type": "number"
                      },
                      "total_with_discount": {
                        "type": "number"
                      },
                      "total_with_additional": {
                        "type": "number"
                      },
                      "due_date": {
                        "type": "string",
                        "format": "date"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date",
                        "example": "2021-09-24T12:59:46.173Z"
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date",
                        "example": "2021-09-24T12:59:49.830Z"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "PaymentWithOccurrencesResponse": {
        "description": "Payment",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "code",
                "status",
                "created_at"
              ],
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "application_id",
                      "account_id",
                      "original_code",
                      "original_type",
                      "status",
                      "created_at",
                      "updated_at"
                    ],
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "guid",
                        "example": "ad946bcd-682c-4c07-9264-9e958d400101"
                      },
                      "application_id": {
                        "type": "string",
                        "format": "guid",
                        "example": "cf4126bcd-682c-4c07-9264-9e958d400123"
                      },
                      "account_id": {
                        "type": "string",
                        "format": "guid",
                        "example": "abs46bcd-682c-4c07-9264-9e958d400312"
                      },
                      "assignor": {
                        "type": "string",
                        "example": "Conta - Segmento Telefone"
                      },
                      "original_code": {
                        "type": "string",
                        "example": 8.480000000063354e+47
                      },
                      "original_type": {
                        "type": "string",
                        "enum": [
                          "DIGITABLE",
                          "BARCODE"
                        ],
                        "example": "DIGITABLE"
                      },
                      "original_value": {
                        "type": "number",
                        "example": 33.53
                      },
                      "settle_date": {
                        "type": "string",
                        "format": "date",
                        "example": "2021-10-18T00:00:00.000Z"
                      },
                      "end_hour": {
                        "type": "string",
                        "example": "07:00"
                      },
                      "inite_hour": {
                        "type": "string",
                        "example": "05:00"
                      },
                      "next_settle": {
                        "type": "string",
                        "example": "N"
                      },
                      "value": {
                        "type": "number",
                        "example": 33.53
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "CREATED",
                          "AUTHORIZED",
                          "CONFIRMING",
                          "CONFIRMED",
                          "NOT_CONFIRMED",
                          "PROCESSING",
                          "TRANSFERRED",
                          "ERROR",
                          "CANCELED",
                          "DONE"
                        ]
                      },
                      "document_recipient": {
                        "type": "string",
                        "example": 96906497000100
                      },
                      "document_type_payer": {
                        "type": "string",
                        "enum": [
                          "CPF",
                          "CNPJ"
                        ]
                      },
                      "document_payer": {
                        "type": "string",
                        "example": 21568259000100
                      },
                      "pay_due_date": {
                        "type": "string",
                        "format": "date"
                      },
                      "next_business_day": {
                        "type": "string",
                        "format": "date"
                      },
                      "due_date_register": {
                        "type": "string",
                        "format": "date"
                      },
                      "allow_change_value": {
                        "type": "string",
                        "enum": [
                          "YES",
                          "NO"
                        ]
                      },
                      "recipient": {
                        "type": "string",
                        "example": "RECIPIENT"
                      },
                      "payer": {
                        "type": "string",
                        "example": "PAYER"
                      },
                      "discount_value": {
                        "type": "number"
                      },
                      "interest_value_calculated": {
                        "type": "number"
                      },
                      "max_value": {
                        "type": "number"
                      },
                      "min_value": {
                        "type": "number"
                      },
                      "fine_value_calculated": {
                        "type": "number"
                      },
                      "total_updated": {
                        "type": "number"
                      },
                      "total_with_discount": {
                        "type": "number"
                      },
                      "total_with_additional": {
                        "type": "number"
                      },
                      "due_date": {
                        "type": "string",
                        "format": "date"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date",
                        "example": "2021-09-24T12:59:46.173Z"
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date",
                        "example": "2021-09-24T12:59:49.830Z"
                      }
                    }
                  }
                },
                "occurrences": {
                  "type": "array",
                  "items": {
                    "properties": {
                      "code": {
                        "type": "string"
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "CREATED",
                          "AUTHORIZED",
                          "CONFIRMED",
                          "NOT_CONFIRMED",
                          "TRANSFERRED",
                          "REJECTED",
                          "ERROR",
                          "CANCELED",
                          "DONE",
                          "FORBIDDEN"
                        ]
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorProperties": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "status_code": {
            "type": "number"
          }
        },
        "required": [
          "code",
          "message",
          "status_code"
        ]
      },
      "InternalServerError": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "status_code": {
                "type": "number"
              }
            },
            "required": [
              "code",
              "message",
              "status_code"
            ]
          },
          {
            "example": {
              "code": "INTERNAL_SERVER_ERROR",
              "message": "Internal Server Error",
              "status_code": 500
            }
          }
        ]
      },
      "UnprocessableEntity": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "status_code": {
                "type": "number"
              }
            },
            "required": [
              "code",
              "message",
              "status_code"
            ]
          },
          {
            "example": {
              "code": "INTERNAL_SERVER_ERROR",
              "message": "Unprocessable Entity",
              "status_code": 422
            }
          }
        ]
      },
      "ResourceNotFound": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "status_code": {
                "type": "number"
              }
            },
            "required": [
              "code",
              "message",
              "status_code"
            ]
          },
          {
            "required": [
              "code",
              "message",
              "status_code"
            ]
          },
          {
            "example": {
              "code": "RESOURCE_NOT_FOUND",
              "message": "Resource not found",
              "status_code": 404
            }
          }
        ]
      },
      "Conflict": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "status_code": {
                "type": "number"
              }
            },
            "required": [
              "code",
              "message",
              "status_code"
            ]
          },
          {
            "example": {
              "code": "CONFLICT",
              "message": "Requested id already exists",
              "status_code": 409
            }
          }
        ]
      },
      "PaymentWithCursorResponse": {
        "type": "object",
        "properties": {
          "cursor": {
            "type": "object",
            "properties": {
              "after": {
                "type": "string"
              },
              "before": {
                "type": "string"
              },
              "limit": {
                "type": "number"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "id",
                "application_id",
                "account_id",
                "original_code",
                "original_type",
                "status",
                "created_at",
                "updated_at"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "format": "guid",
                  "example": "ad946bcd-682c-4c07-9264-9e958d400101"
                },
                "application_id": {
                  "type": "string",
                  "format": "guid",
                  "example": "cf4126bcd-682c-4c07-9264-9e958d400123"
                },
                "account_id": {
                  "type": "string",
                  "format": "guid",
                  "example": "abs46bcd-682c-4c07-9264-9e958d400312"
                },
                "assignor": {
                  "type": "string",
                  "example": "Conta - Segmento Telefone"
                },
                "original_code": {
                  "type": "string",
                  "example": 8.480000000063354e+47
                },
                "original_type": {
                  "type": "string",
                  "enum": [
                    "DIGITABLE",
                    "BARCODE"
                  ],
                  "example": "DIGITABLE"
                },
                "original_value": {
                  "type": "number",
                  "example": 33.53
                },
                "settle_date": {
                  "type": "string",
                  "format": "date",
                  "example": "2021-10-18T00:00:00.000Z"
                },
                "end_hour": {
                  "type": "string",
                  "example": "07:00"
                },
                "inite_hour": {
                  "type": "string",
                  "example": "05:00"
                },
                "next_settle": {
                  "type": "string",
                  "example": "N"
                },
                "value": {
                  "type": "number",
                  "example": 33.53
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "CREATED",
                    "AUTHORIZED",
                    "CONFIRMING",
                    "CONFIRMED",
                    "NOT_CONFIRMED",
                    "PROCESSING",
                    "TRANSFERRED",
                    "ERROR",
                    "CANCELED",
                    "DONE"
                  ]
                },
                "document_recipient": {
                  "type": "string",
                  "example": 96906497000100
                },
                "document_type_payer": {
                  "type": "string",
                  "enum": [
                    "CPF",
                    "CNPJ"
                  ]
                },
                "document_payer": {
                  "type": "string",
                  "example": 21568259000100
                },
                "pay_due_date": {
                  "type": "string",
                  "format": "date"
                },
                "next_business_day": {
                  "type": "string",
                  "format": "date"
                },
                "due_date_register": {
                  "type": "string",
                  "format": "date"
                },
                "allow_change_value": {
                  "type": "string",
                  "enum": [
                    "YES",
                    "NO"
                  ]
                },
                "recipient": {
                  "type": "string",
                  "example": "RECIPIENT"
                },
                "payer": {
                  "type": "string",
                  "example": "PAYER"
                },
                "discount_value": {
                  "type": "number"
                },
                "interest_value_calculated": {
                  "type": "number"
                },
                "max_value": {
                  "type": "number"
                },
                "min_value": {
                  "type": "number"
                },
                "fine_value_calculated": {
                  "type": "number"
                },
                "total_updated": {
                  "type": "number"
                },
                "total_with_discount": {
                  "type": "number"
                },
                "total_with_additional": {
                  "type": "number"
                },
                "due_date": {
                  "type": "string",
                  "format": "date"
                },
                "created_at": {
                  "type": "string",
                  "format": "date",
                  "example": "2021-09-24T12:59:46.173Z"
                },
                "updated_at": {
                  "type": "string",
                  "format": "date",
                  "example": "2021-09-24T12:59:49.830Z"
                }
              }
            }
          }
        }
      },
      "PaymentWithOccurrencesResponse": {
        "type": "object",
        "required": [
          "code",
          "status",
          "created_at"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "id",
                "application_id",
                "account_id",
                "original_code",
                "original_type",
                "status",
                "created_at",
                "updated_at"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "format": "guid",
                  "example": "ad946bcd-682c-4c07-9264-9e958d400101"
                },
                "application_id": {
                  "type": "string",
                  "format": "guid",
                  "example": "cf4126bcd-682c-4c07-9264-9e958d400123"
                },
                "account_id": {
                  "type": "string",
                  "format": "guid",
                  "example": "abs46bcd-682c-4c07-9264-9e958d400312"
                },
                "assignor": {
                  "type": "string",
                  "example": "Conta - Segmento Telefone"
                },
                "original_code": {
                  "type": "string",
                  "example": 8.480000000063354e+47
                },
                "original_type": {
                  "type": "string",
                  "enum": [
                    "DIGITABLE",
                    "BARCODE"
                  ],
                  "example": "DIGITABLE"
                },
                "original_value": {
                  "type": "number",
                  "example": 33.53
                },
                "settle_date": {
                  "type": "string",
                  "format": "date",
                  "example": "2021-10-18T00:00:00.000Z"
                },
                "end_hour": {
                  "type": "string",
                  "example": "07:00"
                },
                "inite_hour": {
                  "type": "string",
                  "example": "05:00"
                },
                "next_settle": {
                  "type": "string",
                  "example": "N"
                },
                "value": {
                  "type": "number",
                  "example": 33.53
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "CREATED",
                    "AUTHORIZED",
                    "CONFIRMING",
                    "CONFIRMED",
                    "NOT_CONFIRMED",
                    "PROCESSING",
                    "TRANSFERRED",
                    "ERROR",
                    "CANCELED",
                    "DONE"
                  ]
                },
                "document_recipient": {
                  "type": "string",
                  "example": 96906497000100
                },
                "document_type_payer": {
                  "type": "string",
                  "enum": [
                    "CPF",
                    "CNPJ"
                  ]
                },
                "document_payer": {
                  "type": "string",
                  "example": 21568259000100
                },
                "pay_due_date": {
                  "type": "string",
                  "format": "date"
                },
                "next_business_day": {
                  "type": "string",
                  "format": "date"
                },
                "due_date_register": {
                  "type": "string",
                  "format": "date"
                },
                "allow_change_value": {
                  "type": "string",
                  "enum": [
                    "YES",
                    "NO"
                  ]
                },
                "recipient": {
                  "type": "string",
                  "example": "RECIPIENT"
                },
                "payer": {
                  "type": "string",
                  "example": "PAYER"
                },
                "discount_value": {
                  "type": "number"
                },
                "interest_value_calculated": {
                  "type": "number"
                },
                "max_value": {
                  "type": "number"
                },
                "min_value": {
                  "type": "number"
                },
                "fine_value_calculated": {
                  "type": "number"
                },
                "total_updated": {
                  "type": "number"
                },
                "total_with_discount": {
                  "type": "number"
                },
                "total_with_additional": {
                  "type": "number"
                },
                "due_date": {
                  "type": "string",
                  "format": "date"
                },
                "created_at": {
                  "type": "string",
                  "format": "date",
                  "example": "2021-09-24T12:59:46.173Z"
                },
                "updated_at": {
                  "type": "string",
                  "format": "date",
                  "example": "2021-09-24T12:59:49.830Z"
                }
              }
            }
          },
          "occurrences": {
            "type": "array",
            "items": {
              "properties": {
                "code": {
                  "type": "string"
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "CREATED",
                    "AUTHORIZED",
                    "CONFIRMED",
                    "NOT_CONFIRMED",
                    "TRANSFERRED",
                    "REJECTED",
                    "ERROR",
                    "CANCELED",
                    "DONE",
                    "FORBIDDEN"
                  ]
                },
                "created_at": {
                  "type": "string",
                  "format": "date"
                }
              }
            }
          }
        }
      },
      "PaymentResponse": {
        "type": "object",
        "required": [
          "id",
          "application_id",
          "account_id",
          "original_code",
          "original_type",
          "status",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "guid",
            "example": "ad946bcd-682c-4c07-9264-9e958d400101"
          },
          "application_id": {
            "type": "string",
            "format": "guid",
            "example": "cf4126bcd-682c-4c07-9264-9e958d400123"
          },
          "account_id": {
            "type": "string",
            "format": "guid",
            "example": "abs46bcd-682c-4c07-9264-9e958d400312"
          },
          "assignor": {
            "type": "string",
            "example": "Conta - Segmento Telefone"
          },
          "original_code": {
            "type": "string",
            "example": 8.480000000063354e+47
          },
          "original_type": {
            "type": "string",
            "enum": [
              "DIGITABLE",
              "BARCODE"
            ],
            "example": "DIGITABLE"
          },
          "original_value": {
            "type": "number",
            "example": 33.53
          },
          "settle_date": {
            "type": "string",
            "format": "date",
            "example": "2021-10-18T00:00:00.000Z"
          },
          "end_hour": {
            "type": "string",
            "example": "07:00"
          },
          "inite_hour": {
            "type": "string",
            "example": "05:00"
          },
          "next_settle": {
            "type": "string",
            "example": "N"
          },
          "value": {
            "type": "number",
            "example": 33.53
          },
          "status": {
            "type": "string",
            "enum": [
              "CREATED",
              "AUTHORIZED",
              "CONFIRMING",
              "CONFIRMED",
              "NOT_CONFIRMED",
              "PROCESSING",
              "TRANSFERRED",
              "ERROR",
              "CANCELED",
              "DONE"
            ]
          },
          "document_recipient": {
            "type": "string",
            "example": 96906497000100
          },
          "document_type_payer": {
            "type": "string",
            "enum": [
              "CPF",
              "CNPJ"
            ]
          },
          "document_payer": {
            "type": "string",
            "example": 21568259000100
          },
          "pay_due_date": {
            "type": "string",
            "format": "date"
          },
          "next_business_day": {
            "type": "string",
            "format": "date"
          },
          "due_date_register": {
            "type": "string",
            "format": "date"
          },
          "allow_change_value": {
            "type": "string",
            "enum": [
              "YES",
              "NO"
            ]
          },
          "recipient": {
            "type": "string",
            "example": "RECIPIENT"
          },
          "payer": {
            "type": "string",
            "example": "PAYER"
          },
          "discount_value": {
            "type": "number"
          },
          "interest_value_calculated": {
            "type": "number"
          },
          "max_value": {
            "type": "number"
          },
          "min_value": {
            "type": "number"
          },
          "fine_value_calculated": {
            "type": "number"
          },
          "total_updated": {
            "type": "number"
          },
          "total_with_discount": {
            "type": "number"
          },
          "total_with_additional": {
            "type": "number"
          },
          "due_date": {
            "type": "string",
            "format": "date"
          },
          "created_at": {
            "type": "string",
            "format": "date",
            "example": "2021-09-24T12:59:46.173Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date",
            "example": "2021-09-24T12:59:49.830Z"
          }
        }
      }
    }
  }
}
