{
  "openapi": "3.0.3",
  "info": {
    "title": "BaaS Invest",
    "version": "0.0.1",
    "description": "\n*Description**: API responsible for managing investments\n# Errors\nThis service uses [HTTP response status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes) to indicate the success or failure of your API requests.\nIn general, there are three status code ranges you can expect:\n- `2xx` success status codes confirm that your request worked as expected\n- `4xx` error status codes indicate an error because of the information provided (e.g., a required parameter was not provided)\n- `5xx` error status codes are rare and indicate an error with servers\n## HTTP Status code summary\nExtracted from [Stripe API codes](https://stripe.com/docs/api/errors)\n\n  - `200 - OK` Everything worked as expected.\n\n  - `400 - Bad Request` The request was unacceptable, often due to missing a required parameter.\n\n  - `401 - Unauthorized` No valid API key provided.\n\n  - `403 - Forbidden` The API key doesn't have permissions to perform the request.\n\n  - `404 - Not Found` The requested resource doesn't exist.\n\n  - `429 - Too Many Requests` Too many requests hit the API too quickly. We recommend an exponential backoff of your requests.\n\n  - `500, 502, 503, 504 - Server Errors` Something went wrong on R4's end.\n\n## Error codes\nBelow is a list of possible error codes that can be returned:\n\n  | Code                     | Description                                              |\n  |------------------------- | ---------------------------------------------------------|\n  | `ENTITY_ALREADY_EXISTS`  | The operation informed already exists                    |\n  | `INVALID_PARAM`          | There is an invalid param in the request                 |\n  | `UNEXPECTED_ERROR`       | Internal server failure                                  |\n"
  },
  "servers": [
    {
      "description": "Development",
      "url": "https://develop.r4digital.cloud/pix"
    },
    {
      "description": "Production",
      "url": "https://api.r4digital.cloud/pix"
    }
  ],
  "paths": {
    "/v1/action": {
      "post": {
        "summary": "Create and process some action",
        "description": "Create and process some action",
        "tags": [
          "Action"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "title": "Action",
                    "type": "object",
                    "description": "Create and process some action",
                    "properties": {
                      "action": {
                        "type": "string",
                        "description": "Action to be processed",
                        "example": "PING",
                        "enum": [
                          "PING",
                          "PONG",
                          "ERROR"
                        ]
                      },
                      "options": {
                        "type": "object",
                        "description": "additional data to be processed",
                        "example": "12345678900"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    }
  }
}
