{
  "openapi": "3.0.2",
  "info": {
    "version": "$APP_VERSION",
    "title": "BaaS - Open Banking Payments",
    "description": ""
  },
  "servers": [
    {
      "description": "Development",
      "url": "https://develop.r4digital.cloud/open-banking"
    },
    {
      "description": "Production",
      "url": "https://api.r4digital.cloud/open-banking"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Pagamentos",
      "description": "Pagamentos"
    }
  ],
  "paths": {
    "/v2/pix/payments": {
      "post": {
        "tags": [
          "Pagamentos"
        ],
        "summary": "Criar iniciacao de pagamento.",
        "operationId": "paymentsPostPixPaymentsV2",
        "description": "Metodo para criar uma iniciacao de pagamento.",
        "parameters": [
          {
            "name": "consentId",
            "in": "header",
            "required": true,
            "description": "E ID do consentimento injetado no header pela Sensedia\n",
            "schema": {
              "type": "string",
              "pattern": "^urn:[a-zA-Z0-9][a-zA-Z0-9-]{0,31}:[a-zA-Z0-9()+,\\-.:=@;$_!*'%\\/?#]+$",
              "maxLength": 256
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Cabecalho HTTP padrao. Permite que as credenciais sejam fornecidas dependendo do tipo de recurso solicitado",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "[\\w\\W\\s]*",
              "maxLength": 2048
            }
          },
          {
            "name": "x-fapi-auth-date",
            "in": "header",
            "description": "Data em que o usuario logou pela ultima vez com o receptor. Representada de acordo com a [RFC7231](https://tools.ietf.org/html/rfc7231).Exemplo: Sun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$",
              "minLength": 29,
              "maxLength": 29
            }
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "O endereco IP do usuario se estiver atualmente logado com o receptor.",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "[\\w\\W\\s]*",
              "minLength": 1,
              "maxLength": 100
            }
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlacao. Se fornecido, o transmissor deve \"reproduzir\" esse valor no cabecalho de resposta.",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-]{0,99}$",
              "minLength": 1,
              "maxLength": 100
            }
          },
          {
            "name": "x-customer-user-agent",
            "in": "header",
            "description": "Indica o user-agent que o usuario utiliza.",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "[\\w\\W\\s]*",
              "minLength": 1,
              "maxLength": 100
            }
          },
          {
            "name": "x-idempotency-key",
            "in": "header",
            "description": "Cabecalho HTTP personalizado. Identificador de solicitacao exclusivo para suportar a idempotencia.",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 40,
              "pattern": "^(?!\\s)(.*)(\\S)$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/jwt": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "description": "Objeto contendo dados do pagamento e do recebedor (creditor).",
                      "required": [
                        "localInstrument",
                        "payment",
                        "creditorAccount",
                        "cnpjInitiator"
                      ],
                      "properties": {
                        "localInstrument": {
                          "type": "string",
                          "maxLength": 4,
                          "enum": [
                            "MANU",
                            "DICT",
                            "QRDN",
                            "QRES",
                            "INIC"
                          ],
                          "example": "DICT",
                          "description": "Especifica a forma de iniciacao do pagamento:\n- MANU - Insercao manual de dados da conta transacional\n- DICT - Insercao manual de chave Pix\n- QRDN - QR code dinamico\n- QRES - QR code estatico\n- INIC - Indica que o recebedor (creditor) contratou o Iniciador de Pagamentos especificamente para realizar iniciacoes de pagamento em que o beneficiario e previamente conhecido.\n"
                        },
                        "payment": {
                          "type": "object",
                          "description": "Objeto contendo dados do pagameto como moeda e valor.",
                          "required": [
                            "amount",
                            "currency"
                          ],
                          "properties": {
                            "amount": {
                              "type": "string",
                              "minLength": 4,
                              "maxLength": 19,
                              "pattern": "^((\\d{1,16}\\.\\d{2}))$",
                              "example": "100000.12",
                              "description": "Valor da transacao com 2 casas decimais.\n"
                            },
                            "currency": {
                              "type": "string",
                              "maxLength": 3,
                              "pattern": "^([A-Z]{3})$",
                              "example": "BRL",
                              "description": "Codigo da moeda nacional segundo modelo ISO-4217, ou seja, 'BRL'.\nTodos os valores monetarios informados estao representados com a moeda vigente do Brasil.\n"
                            }
                          },
                          "additionalProperties": false
                        },
                        "creditorAccount": {
                          "type": "object",
                          "description": "Objeto que contem a identificacao da conta de destino do beneficiario/recebedor.\n",
                          "required": [
                            "ispb",
                            "number",
                            "accountType"
                          ],
                          "properties": {
                            "ispb": {
                              "type": "string",
                              "minLength": 8,
                              "maxLength": 8,
                              "pattern": "^[0-9]{8}$",
                              "example": "12345678",
                              "description": "Deve ser preenchido com o ISPB (Identificador do Sistema de Pagamentos Brasileiros) do participante do SPI (Sistema de pagamentos instantaneos) somente com numeros.\n"
                            },
                            "issuer": {
                              "type": "string",
                              "maxLength": 4,
                              "pattern": "^\\d{4}$",
                              "example": "1774",
                              "description": "Codigo da Agencia emissora da conta sem digito.\n(Agencia e a dependencia destinada ao atendimento aos clientes, ao publico em geral e aos associados de cooperativas de credito,\nno exercicio de atividades da instituicao, nao podendo ser movel ou transitoria).\n[Restricao] Preenchimento obrigatorio para os seguintes tipos de conta: CACC (CONTA_DEPOSITO_A_VISTA), SVGS (CONTA_POUPANCA) e SLRY (CONTA_SALARIO).\n"
                            },
                            "number": {
                              "type": "string",
                              "minLength": 3,
                              "maxLength": 20,
                              "pattern": "^\\d{3,20}$",
                              "example": "1234567890",
                              "description": "Deve ser preenchido com o numero da conta do usuario recebedor, com digito verificador (se este existir),\nse houver valor alfanumerico, este deve ser convertido para 0.\n"
                            },
                            "accountType": {
                              "type": "string",
                              "maxLength": 4,
                              "enum": [
                                "CACC",
                                "SLRY",
                                "SVGS",
                                "TRAN"
                              ],
                              "example": "CACC",
                              "description": "Tipos de contas usadas para pagamento via Pix.\nModalidades tradicionais previstas pela Resolucao 4.753, nao contemplando contas vinculadas,\nconta de domiciliados no exterior, contas em moedas estrangeiras e conta correspondente moeda eletronica.\nSegue descricao de cada valor do ENUM para o escopo do Pix.\nCACC - Current - Conta Corrente.\nSLRY - Salary - Conta-Salario.\nSVGS - Savings - Conta de Poupanca.\nTRAN - TransactingAccount - Conta de Pagamento pre-paga.\n"
                            }
                          },
                          "additionalProperties": false
                        },
                        "remittanceInformation": {
                          "type": "string",
                          "maxLength": 140,
                          "pattern": "[\\w\\W\\s]*",
                          "example": "Pagamento da nota XPTO035-002.",
                          "description": "Deve ser preenchido sempre que o usuario pagador inserir alguma informacao adicional em um pagamento, a ser enviada ao recebedor.\n"
                        },
                        "qrCode": {
                          "type": "string",
                          "maxLength": 512,
                          "pattern": "[\\w\\W\\s]*",
                          "example": "00020104141234567890123426660014BR.GOV.BCB.PIX014466756C616E6F32303139406578616D706C652E636F6D27300012\nBR.COM.OUTRO011001234567895204000053039865406123.455802BR5915NOMEDORECEBEDOR6008BRASILIA61087007490062\n530515RP12345678-201950300017BR.GOV.BCB.BRCODE01051.0.080450014BR.GOV.BCB.PIX0123PADRAO.URL.PIX/0123AB\nCD81390012BR.COM.OUTRO01190123.ABCD.3456.WXYZ6304EB76\n",
                          "description": "Sequencia de caracteres que corresponde ao QR Code disponibilizado para o pagador.\nE a sequencia de caracteres que seria lida pelo leitor de QR Code, e deve propiciar o retorno dos dados do pagador apos consulta na DICT.\nEssa funcionalidade e possivel tanto para QR Code estatico quanto para QR Code dinamico.\nNo arranjo do Pix esta e a mesma sequencia gerada e/ou lida pela funcionalidade Pix Copia e Cola.\nEste campo devera ser no formato UTF-8.\n[Restricao] Preenchimento obrigatorio para pagamentos por QR Code, observado o tamanho maximo de 512 bytes.\n"
                        },
                        "proxy": {
                          "type": "string",
                          "maxLength": 77,
                          "pattern": "[\\w\\W\\s]*",
                          "example": "12345678901",
                          "description": "Chave cadastrada no DICT pertencente ao recebedor. Os tipos de chaves podem ser: telefone, e-mail, cpf/cnpj ou chave aleatoria.\nNo caso de telefone celular deve ser informado no padrao E.1641.\nPara e-mail deve ter o formato xxxxxxxx@xxxxxxx.xxx(.xx) e no maximo 77 caracteres.\nNo caso de CPF devera ser informado com 11 numeros, sem pontos ou tracos.\nPara o caso de CNPJ devera ser informado com 14 numeros, sem pontos ou tracos.\nNo caso de chave aleatoria deve ser informado o UUID gerado pelo DICT, conforme formato especificado na RFC41223.\nSe informado, a detentora da conta deve validar o proxy no DICT quando localInstrument for igual a DICT, QRDN ou QRES e validar o campo creditorAccount.\nEsta validacao e opcional caso o localInstrument for igual a INIC.\n[Restricao] Se localInstrument for igual a MANU, o campo proxy nao deve ser preenchido. Se localInstrument for igual INIC, DICT, QRDN ou QRES, o campo proxy deve ser sempre preenchido com a chave Pix.\n"
                        },
                        "cnpjInitiator": {
                          "type": "string",
                          "pattern": "^\\d{14}$",
                          "maxLength": 14,
                          "example": "50685362000135",
                          "description": "CNPJ do Iniciador de Pagamento devidamente habilitado para a prestacao de Servico de Iniciacao no Pix."
                        },
                        "transactionIdentification": {
                          "type": "string",
                          "pattern": "^[a-zA-Z0-9][a-zA-Z0-9]{0,24}$",
                          "maxLength": 25,
                          "example": "E00038166201907261559y6j6",
                          "description": "Trata-se de um identificador de transacao que deve ser retransmitido intacto pelo PSP do pagador ao gerar a ordem de pagamento. Essa informacao permitira ao recebedor identificar e correlacionar a transferencia, quando recebida, com a apresentacao das instrucoes ao pagador.\nOs caracteres permitidos no contexto do Pix para o campo txid (EMV 62-05) sao:\n- Letras minusculas, de 'a' a 'z'\n- Letras maiusculas, de 'A' a 'z'\n- Digitos decimais, de '0' a '9'\n\n[Restricao] Se localInstrument for igual a INIC, o campo transactionIdentification deve ser preenchido obrigatoriamente.\nSe localInstrument for igual a MANU ou DICT, o campo transactionIdentification nao deve ser preenchido.\nA detentora de conta deve validar se a condicionalidade do campo foi atendida pela iniciadora de pagamento.\n",
                          "additionalProperties": false
                        },
                        "ibgeTownCode": {
                          "type": "string",
                          "minLength": 7,
                          "maxLength": 7,
                          "pattern": "^\\d{7}$",
                          "example": "5300108",
                          "description": "Traz o codigo da cidade segundo o IBGE (Instituto Brasileiro de Geografia e Estatistica).\nPara o preenchimento deste campo, o Iniciador de Pagamentos deve seguir a orientacao do arranjo da forma de pagamento.\nO preenchimento do campo tanto em pix/payments quanto /consents deve ser igual. Caso haja divergencia dos valores, a instituicao deve retornar HTTP 422 com o codigo de erro PAGAMENTO_DIVERGENTE_DO_CONSENTIMENTO.\nEste campo faz referencia ao campo CodMun do arranjo Pix.\n"
                        }
                      }
                    }
                  },
                  "jti": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "description": "Payload para criacao da iniciacao do pagamento Pix.",
          "required": true
        },
        "responses": {
          "201": {
            "description": "Iniciacao de pagamento Pix criada com sucesso.",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "Um UUID RFC4122 usado como um ID de correlacao. O transmissor deve usar o mesmo valor recebido na requisicao para o cabecalho de resposta recebido na requisicao, caso nao tenha sido fornecido, deve se usar um UUID RFC4122.\n",
                "schema": {
                  "type": "string",
                  "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-]{0,99}$",
                  "maxLength": 100,
                  "description": "Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlacao. Se fornecido, o transmissor deve \"reproduzir\" esse valor no cabecalho de resposta."
                }
              }
            },
            "content": {
              "application/jwt": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "Objeto contendo dados do pagamento e da conta do recebedor (creditor).",
                      "required": [
                        "paymentId",
                        "consentId",
                        "creationDateTime",
                        "statusUpdateDateTime",
                        "status",
                        "localInstrument",
                        "payment",
                        "creditorAccount",
                        "cnpjInitiator"
                      ],
                      "properties": {
                        "paymentId": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100,
                          "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-]{0,99}$",
                          "example": "TXpRMU9UQTROMWhZV2xSU1FUazJSMDl",
                          "description": "Codigo ou identificador unico informado pela instituicao detentora da conta para representar\na iniciacao de pagamento individual. O `paymentId` deve ser diferente do `endToEndId`.\nEste e o identificador que devera ser utilizado na consulta ao status da iniciacao de pagamento efetuada.\n"
                        },
                        "endToEndId": {
                          "type": "string",
                          "minLength": 32,
                          "maxLength": 32,
                          "pattern": "^([E])([0-9]{8})([0-9]{4})(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])(2[0-3]|[01][0-9])([0-5][0-9])([a-zA-Z0-9]{11})$",
                          "example": "E9040088820210128000800123873170",
                          "description": "Deve ser preenchido no formato padrao ExxxxxxxxyyyyMMddHHmmkkkkkkkkkkk (32 caracteres; \\\"case sensitive\\\", isso e, diferencia letras maiusculas e minusculas), sendo:\no \\\"E\\\" - fixo (1 caractere);\no xxxxxxxx - identificacao do agente que gerou o 'EndToEndId', podendo ser: o ISPB do participante direto ou o ISPB do participante indireto (8 caracteres numericos [0-9]);\no yyyyMMddHHmm - data, hora e minuto (12 caracteres), seguindo o horario UTC, da submissao da ordem de pagamento, caso a liquidacao seja prioritaria, ou prevista para o envio da ordem ao sistema de liquidacao, caso seja realizado um agendamento. Para ordens prioritarias e nao prioritarias, aceita-se o preenchimento, pelo agente que gerou o 'EndToEndId', com uma tolerancia maxima de 12 horas, para o futuro e para o passado, em relacao ao horario efetivo de processamento da ordem pelo SPI;\no kkkkkkkkkkk - sequencial criado pelo agente que gerou o 'EndToEndId' (11 caracteres alfanumericos [a-z/A-Z/0-9]). Deve ser unico dentro de cada \\\"yyyyMMddHHmm\\\".\nAdmite-se que o 'EndToEndId' seja gerado pelo participante direto, pelo participante indireto ou pelo iniciador de pagamento.\nEle deve ser unico, nao podendo ser repetido em qualquer outra operacao enviada ao SPI.\n[Restricao] O 'EndToEndId' deve ser informado obrigatoriamente caso o status do pagamento seja ACCEPTED_SETTLEMENT_COMPLETED.\n"
                        },
                        "consentId": {
                          "type": "string",
                          "maxLength": 256,
                          "pattern": "^urn:[a-zA-Z0-9][a-zA-Z0-9-]{0,31}:[a-zA-Z0-9()+,\\-.:=@;$_!*'%\\/?#]+$",
                          "example": "urn:bancoex:C1DD33123",
                          "description": "Identificador unico do consentimento criado para a iniciacao de pagamento solicitada. Devera ser um URN - Uniform Resource Name.\nUm URN, conforme definido na [RFC8141](https://tools.ietf.org/html/rfc8141) e um Uniform Resource\nIdentifier - URI - que e atribuido sob o URI scheme \"urn\" e um namespace URN especifico, com a intencao de que o URN\nseja um identificador de recurso persistente e independente da localizacao.\nConsiderando a string urn:bancoex:C1DD33123 como exemplo para consentId temos:\n- o namespace(urn)\n- o identificador associado ao namespace da instituicao transnmissora (bancoex)\n- o identificador especifico dentro do namespace (C1DD33123).\nInformacoes mais detalhadas sobre a construcao de namespaces devem ser consultadas na [RFC8141](https://tools.ietf.org/html/rfc8141).\n"
                        },
                        "creationDateTime": {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(\\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\\d|2[0123]):(?:[012345]\\d):(?:[012345]\\d)Z$",
                          "example": "2020-07-21T08:30:00Z",
                          "description": "Data e hora em que o recurso foi criado.\nUma string com data e hora conforme especificacao RFC-3339,\nsempre com a utilizacao de timezone UTC(UTC time format).\n"
                        },
                        "statusUpdateDateTime": {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(\\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\\d|2[0123]):(?:[012345]\\d):(?:[012345]\\d)Z$",
                          "example": "2020-07-21T08:30:00Z",
                          "description": "Data e hora da ultima atualizacao da iniciacao de pagamento.\nUma string com data e hora conforme especificacao RFC-3339,\nsempre com a utilizacao de timezone UTC(UTC time format).\n"
                        },
                        "proxy": {
                          "type": "string",
                          "maxLength": 77,
                          "pattern": "[\\w\\W\\s]*",
                          "example": "12345678901",
                          "description": "Chave cadastrada no DICT pertencente ao recebedor. Os tipos de chaves podem ser: telefone, e-mail, cpf/cnpj ou chave aleatoria.\nNo caso de telefone celular deve ser informado no padrao E.1641.\nPara e-mail deve ter o formato xxxxxxxx@xxxxxxx.xxx(.xx) e no maximo 77 caracteres.\nNo caso de CPF devera ser informado com 11 numeros, sem pontos ou tracos.\nPara o caso de CNPJ devera ser informado com 14 numeros, sem pontos ou tracos.\nNo caso de chave aleatoria deve ser informado o UUID gerado pelo DICT, conforme formato especificado na RFC41223.\nSe informado, a detentora da conta deve validar o proxy no DICT quando localInstrument for igual a DICT, QRDN ou QRES e validar o campo creditorAccount.\nEsta validacao e opcional caso o localInstrument for igual a INIC.\n[Restricao] Se localInstrument for igual a MANU, o campo proxy nao deve ser preenchido. Se localInstrument for igual INIC, DICT, QRDN ou QRES, o campo proxy deve ser sempre preenchido com a chave Pix.\n"
                        },
                        "ibgeTownCode": {
                          "type": "string",
                          "minLength": 7,
                          "maxLength": 7,
                          "pattern": "^\\d{7}$",
                          "example": "5300108",
                          "description": "Traz o codigo da cidade segundo o IBGE (Instituto Brasileiro de Geografia e Estatistica).\nPara o preenchimento deste campo, o Iniciador de Pagamentos deve seguir a orientacao do arranjo da forma de pagamento.\nO preenchimento do campo tanto em pix/payments quanto /consents deve ser igual. Caso haja divergencia dos valores, a instituicao deve retornar HTTP 422 com o codigo de erro PAGAMENTO_DIVERGENTE_DO_CONSENTIMENTO.\nEste campo faz referencia ao campo CodMun do arranjo Pix.\n"
                        },
                        "status": {
                          "type": "string",
                          "maxLength": 45,
                          "enum": [
                            "PDNG",
                            "SASP",
                            "SASC",
                            "PART",
                            "ACSP",
                            "ACSC",
                            "ACCC",
                            "RJCT"
                          ],
                          "example": "PDNG",
                          "description": "Estado atual da iniciacao de pagamento. O estado evolui na seguinte ordem:\n1. PDNG (PENDING) - Iniciacao de pagamento ou transacao de pagamento esta pendente. Checagens adicionais em realizacao.\n2. SASP (SCHEDULE_ACCEPTED_SETTLEMENT_IN_PROCESS) - Indica que o processo de agendamento esta em processamento.\n3. SASC (SCHEDULE_ACCEPTED_SETTLEMENT_COMPLETED) - Indica que o processo de agendamento foi realizado.\n4. PART (PARTIALLY ACCEPTED) - Aguardando autorizacao multipla alcada.\n5. ACSP (ACCEPTED_SETTLEMENT_IN_PROCESS) - Iniciacao de pagamento aceita e processamento do pagamento foi iniciado.\n6. ACSC (ACCEPTED_SETTLEMENT_COMPLETED_DEBITOR_ACCOUNT) - Debito realizado na conta do pagador.\n7. ACCC (ACCEPTED_SETTLEMENT_COMPLETED) - Credito realizado na instituicao de destino.\n\nEm caso insucesso:\nRJCT (REJECTED) - Instrucao de pagamento rejeitada.\n"
                        },
                        "rejectionReason": {
                          "type": "string",
                          "maxLength": 50,
                          "enum": [
                            "ABORTED_SETTLEMENT_TIMEOUT",
                            "ERROR_CREDITOR_AGENT",
                            "TIMEOUT_DEBTOR_AGENT",
                            "INVALID_CREDITOR_ACCOUNT_NUMBER",
                            "BLOCKED_ACCOUNT",
                            "CLOSED_CREDITOR_ACCOUNT_NUMBER",
                            "INVALID_CREDITOR_ACCOUNTTYPE",
                            "TRANSACTION_NOT_SUPPORTED",
                            "NOT_ALLOWED_BOOK_TRANSFER",
                            "FORBIDDEN_RETURN_PAYMENT",
                            "INCORRECT_AGENT",
                            "ZERO_AMOUNT",
                            "NOT_ALLOWED_AMOUNT",
                            "INSUFFICIENT_FUNDS",
                            "WRONG_AMOUNT",
                            "INVALID_AMOUNT",
                            "INVALID_NUMBER_OF_TRANSACTIONS",
                            "INCONSISTENT_WITH_END_CUSTOMER",
                            "INVALID_IDENTIFICATION_CODE",
                            "INVALID_CREDITOR_IDENTIFICATION_CODE",
                            "CREDITOR_IDENTIFIER_INCORRECT",
                            "ELEMENT_CONTENT_FORMALLY_INCORRECT",
                            "ORDER_REJECTED",
                            "NOT_ALLOWED_PAYMENT",
                            "NOT_ALLOWED_ACCOUNT",
                            "USER_NOT_YET_ACTIVATED",
                            "INVALID_CREATION_DATE",
                            "INVALID_CUT_OFF_DATE",
                            "SETTLEMENT_FAILED",
                            "INVALID_PURPOSE",
                            "INVALID_END_TO_END_ID",
                            "INVALID_DEBTOR_CLEARING_SYSTEM_MEMBER_IDENTIFIER",
                            "INVALID_CREDITOR_CLEARING_SYSTEM_MEMBER_IDENTIFIER",
                            "REGULATORY_REASON",
                            "SPECIFIC_SERVICE_OFFERED_BY_CREDITOR_AGENT",
                            "INVALID_BILL",
                            "OPERATION_WINDOW",
                            "INCOMPATIBLE_DATE",
                            "MISMATCH_AMOUNT",
                            "OVER_LIMIT",
                            "INVALID_CONSENT",
                            "DENIED_MULTIPLE_AUTHORISATIONS",
                            "EXPIRED_MULTIPLE_AUTHORISATIONS",
                            "EXPIRED_BILL",
                            "CONSENT_REVOKED"
                          ],
                          "example": "USER_NOT_YET_ACTIVATED",
                          "description": "Motivo da rejeicao do pagamento. Informacoes complementares sobre o motivo do status.\nABORTED_SETTLEMENT_TIMEOUT - Liquidacao da transacao interrompida devido a timeout no SPI (AB03).\nERROR_CREDITOR_AGENT - Transacao interrompida devido a erro no participante do usuario recebedor (AB09).\nTIMEOUT_DEBTOR_AGENT - Timeout do participante emissor da ordem de pagamento (AB11).\nINVALID_CREDITOR_ACCOUNT_NUMBER - Numero da conta transacional do usuario recebedor inexistente ou invalido (AC03).\nBLOCKED_ACCOUNT - Conta transacional do usuario recebedor encontra-se bloqueada (AC06).\nCLOSED_CREDITOR_ACCOUNT_NUMBER - Numero da conta transacional do usuario recebedor encerrada (AC07).\nINVALID_CREDITOR_ACCOUNTTYPE - Tipo incorreto para a conta transacional do usuario recebedor (AC14).\nTRANSACTION_NOT_SUPPORTED - Tipo de transacao nao e suportado/autorizado na conta transacional do usuario recebedor (AG03). Exemplo: transferencia para conta salario.\nNOT_ALLOWED_BOOK_TRANSFER - Nao e permitida ordem de pagamento/devolucao no SPI cujos recursos sejam transferidos de uma conta transacional para outra em uma mesma instituicao participante ou entre participantes que utilizem o servico de liquidacao de um mesmo participante liquidante no SPI (booktransfer) (AG12).\nFORBIDDEN_RETURN_PAYMENT - Nao e permitido devolver a devolucao de um pagamento instantaneo (AG13).\nINCORRECT_AGENT - Participante direto nao e liquidante do participante do usuario pagador / participante do usuario recebedor (AGNT).\nZERO_AMOUNT - Ordem de pagamento instantaneo com valor zero (AM01).\nNOT_ALLOWED_AMOUNT - Ordem de pagamento/devolucao em valor que faz superar o limite permitido para o tipo de conta transacional creditada (AM02).\nINSUFFICIENT_FUNDS - Saldo insuficiente na conta PI do participante do usuario pagador (AM04).\nWRONG_AMOUNT - Devolucao de pagamento em valor que faz superar o valor da ordem de pagamento instantaneo correspondente (AM09).\nINVALID_AMOUNT - Divergencia entre a somatoria dos valores do bloco 'valorDoDinheiroOuCompra' e o campo 'valor' (AM12).\nINVALID_NUMBER_OF_TRANSACTIONS - Quantidade de transacoes invalida (AM18).\nINCONSISTENT_WITH_END_CUSTOMER - CPF/CNPJ do usuario recebedor nao e consistente com o titular da conta transacional especificada (BE01).\nINVALID_IDENTIFICATION_CODE - Codigo de situacao de pagamento ou de erro invalido (BE15).\nINVALID_CREDITOR_IDENTIFICATION_CODE - QR Code rejeitado pelo participante do usuario recebedor (BE17).\nCREDITOR_IDENTIFIER_INCORRECT - CPF/CNPJ do usuario recebedor incorreto (CH11).\nELEMENT_CONTENT_FORMALLY_INCORRECT - Elemento da mensagem incorreto (CH16).\nORDER_REJECTED - Ordem rejeitada pelo participante do usuario recebedor (DS04).\nNOT_ALLOWED_PAYMENT - Participante que assinou a mensagem nao e autorizado a realizar a operacao na conta PI debitada. No caso em que o participante que assinou a mensagem nao e o titular da conta PI debitada nem e o liquidante no SPI do participante do usuario pagador (DS0G).\nNOT_ALLOWED_ACCOUNT - ISPB do participante que submeteu a resposta a ordem de pagamento/devolucao diferente do ISPB do participante creditado pela ordem (DS0H).\nUSER_NOT_YET_ACTIVATED - Participante nao se encontra cadastrado ou ainda nao iniciou a operacao no SPI (DS27).\nINVALID_CREATION_DATE - Data e Hora do envio da mensagem invalida (DT02).\nINVALID_CUT_OFF_DATE - Transacao extrapola o prazo maximo para devolucao de pagamento instantaneo regulamentado pelo Arranjo PIX (DT05).\nSETTLEMENT_FAILED - Erro no processamento do pagamento instantaneo (ED05).\nINVALID_PURPOSE - Inconsistencia entre a finalidade da transacao e o preenchimento do bloco elementos Structured (FF07).\nINVALID_END_TO_END_ID - Identificador da operacao mal formatado (FF08).\nINVALID_DEBTOR_CLEARING_SYSTEM_MEMBER_IDENTIFIER - ISPB do participante do usuario pagador invalido ou inexistente (RC09).\nINVALID_CREDITOR_CLEARING_SYSTEM_MEMBER_IDENTIFIER - ISPB do participante do usuario recebedor invalido ou inexistente (RC10).\nREGULATORY_REASON - Ordem de pagamento em que o usuario pagador e sancionado por resolucao do Conselho de Seguranca das Nacoes Unidas (CSNU). Nos casos em que o usuario recebedor for o sancionado, a ordem de pagamento nao deve ser rejeitada (RR4).\nSPECIFIC_SERVICE_OFFERED_BY_CREDITOR_AGENT - A transacao original nao esta relacionada ao servico de Saque Pix (SL02).\nINVALID_BILL - Validacao de expiracao, validacao de vencimento, Status Valido (INDT).\nOPERATION_WINDOW - Requisicao esta fora da janela de funcionamento (IDEA).\nINCOMPATIBLE_DATE - Data do pagamento divergente da data consentida ou divergente da data atual do QR Code (TERM).\nMISMATCH_AMOUNT - O valor informado no consentimento nao e o mesmo valor do informado no payload de pagamento (OB01).\nOVER_LIMIT - O valor (ou quantidade de transacoes) ultrapassa a faixa de limite parametrizada na detentora para permitir a realizacao de transacoes pelo cliente (OB02).\nINVALID_CONSENT - Consentimento invalido (status nao e \"authorised\" ou esta expirado) (OB03).\nDENIED_MULTIPLE_AUTHORISATIONS - Um (ou mais) aprovadores na detentora recusaram a operacao (OB04).\nEXPIRED_MULTIPLE_AUTHORISATIONS - Um (ou mais) aprovadores na detentora nao tomaram acao para aprovar a operacao (OB05).\nEXPIRED_BILL - O QR Code nao e mais valido (OB06).\nCONSENT_REVOKED - Pagamento cancelado devido a revogacao do consentimento.\n[Restricao] Esse motivo devera ser enviado quando o campo /data/status for igual a RJCT (REJECTED).\n"
                        },
                        "localInstrument": {
                          "type": "string",
                          "maxLength": 4,
                          "enum": [
                            "MANU",
                            "DICT",
                            "QRDN",
                            "QRES",
                            "INIC"
                          ],
                          "example": "DICT",
                          "description": "Especifica a forma de iniciacao do pagamento:\n- MANU - Insercao manual de dados da conta transacional\n- DICT - Insercao manual de chave Pix\n- QRDN - QR code dinamico\n- QRES - QR code estatico\n- INIC - Indica que o recebedor (creditor) contratou o Iniciador de Pagamentos especificamente para realizar iniciacoes de pagamento em que o beneficiario e previamente conhecido.\n"
                        },
                        "cnpjInitiator": {
                          "type": "string",
                          "pattern": "^\\d{14}$",
                          "maxLength": 14,
                          "example": "50685362000135",
                          "description": "CNPJ do Iniciador de Pagamento devidamente habilitado para a prestacao de Servico de Iniciacao no Pix."
                        },
                        "payment": {
                          "type": "object",
                          "description": "Objeto contendo dados do pagameto como moeda e valor.",
                          "required": [
                            "amount",
                            "currency"
                          ],
                          "properties": {
                            "amount": {
                              "type": "string",
                              "minLength": 4,
                              "maxLength": 19,
                              "pattern": "^((\\d{1,16}\\.\\d{2}))$",
                              "example": "100000.12",
                              "description": "Valor da transacao com 2 casas decimais.\n"
                            },
                            "currency": {
                              "type": "string",
                              "maxLength": 3,
                              "pattern": "^([A-Z]{3})$",
                              "example": "BRL",
                              "description": "Codigo da moeda nacional segundo modelo ISO-4217, ou seja, 'BRL'.\nTodos os valores monetarios informados estao representados com a moeda vigente do Brasil.\n"
                            }
                          },
                          "additionalProperties": false
                        },
                        "transactionIdentification": {
                          "type": "string",
                          "pattern": "^[a-zA-Z0-9][a-zA-Z0-9]{0,24}$",
                          "maxLength": 25,
                          "example": "E00038166201907261559y6j6",
                          "description": "Trata-se de um identificador de transacao que deve ser retransmitido intacto pelo PSP do pagador ao gerar a ordem de pagamento. Essa informacao permitira ao recebedor identificar e correlacionar a transferencia, quando recebida, com a apresentacao das instrucoes ao pagador.\nOs caracteres permitidos no contexto do Pix para o campo txid (EMV 62-05) sao:\n- Letras minusculas, de 'a' a 'z'\n- Letras maiusculas, de 'A' a 'z'\n- Digitos decimais, de '0' a '9'\n\n[Restricao] Se localInstrument for igual a INIC, o campo transactionIdentification deve ser preenchido obrigatoriamente.\nSe localInstrument for igual a MANU ou DICT, o campo transactionIdentification nao deve ser preenchido.\nA detentora de conta deve validar se a condicionalidade do campo foi atendida pela iniciadora de pagamento.\n"
                        },
                        "remittanceInformation": {
                          "type": "string",
                          "maxLength": 140,
                          "pattern": "[\\w\\W\\s]*",
                          "example": "Pagamento da nota RSTO035-002.",
                          "description": "Deve ser preenchido sempre que o usuario pagador inserir alguma informacao adicional em um pagamento, a ser enviada ao recebedor.\n"
                        },
                        "creditorAccount": {
                          "type": "object",
                          "description": "Objeto que contem a identificacao da conta de destino do beneficiario/recebedor.\n",
                          "required": [
                            "ispb",
                            "number",
                            "accountType"
                          ],
                          "properties": {
                            "ispb": {
                              "type": "string",
                              "minLength": 8,
                              "maxLength": 8,
                              "pattern": "^[0-9]{8}$",
                              "example": "12345678",
                              "description": "Deve ser preenchido com o ISPB (Identificador do Sistema de Pagamentos Brasileiros) do participante do SPI (Sistema de pagamentos instantaneos) somente com numeros.\n"
                            },
                            "issuer": {
                              "type": "string",
                              "maxLength": 4,
                              "pattern": "^\\d{4}$",
                              "example": "1774",
                              "description": "Codigo da Agencia emissora da conta sem digito.\n(Agencia e a dependencia destinada ao atendimento aos clientes, ao publico em geral e aos associados de cooperativas de credito,\nno exercicio de atividades da instituicao, nao podendo ser movel ou transitoria).\n[Restricao] Preenchimento obrigatorio para os seguintes tipos de conta: CACC (CONTA_DEPOSITO_A_VISTA), SVGS (CONTA_POUPANCA) e SLRY (CONTA_SALARIO).\n"
                            },
                            "number": {
                              "type": "string",
                              "minLength": 3,
                              "maxLength": 20,
                              "pattern": "^\\d{3,20}$",
                              "example": "1234567890",
                              "description": "Deve ser preenchido com o numero da conta do usuario recebedor, com digito verificador (se este existir),\nse houver valor alfanumerico, este deve ser convertido para 0.\n"
                            },
                            "accountType": {
                              "type": "string",
                              "maxLength": 4,
                              "enum": [
                                "CACC",
                                "SLRY",
                                "SVGS",
                                "TRAN"
                              ],
                              "example": "CACC",
                              "description": "Tipos de contas usadas para pagamento via Pix.\nModalidades tradicionais previstas pela Resolucao 4.753, nao contemplando contas vinculadas,\nconta de domiciliados no exterior, contas em moedas estrangeiras e conta correspondente moeda eletronica.\nSegue descricao de cada valor do ENUM para o escopo do Pix.\nCACC - Current - Conta Corrente.\nSLRY - Salary - Conta-Salario.\nSVGS - Savings - Conta de Poupanca.\nTRAN - TransactingAccount - Conta de Pagamento pre-paga.\n"
                            }
                          },
                          "additionalProperties": false
                        }
                      },
                      "additionalProperties": false
                    },
                    "links": {
                      "type": "object",
                      "description": "Referencias para outros recusos da API requisitada.",
                      "required": [
                        "self"
                      ],
                      "properties": {
                        "self": {
                          "type": "string",
                          "format": "uri",
                          "maxLength": 2000,
                          "description": "URI completo que gerou a resposta atual.",
                          "example": "https://api.banco.com.br/open-banking/api/v1/resource",
                          "pattern": "^(https?:\\/\\/)?(www\\.)?[-a-zA-Z0-9@:%._\\+~#=]{2,256}\\.[a-z]{2,6}\\b([-a-zA-Z0-9@:%_\\+.~#?&\\/\\/=]*)$"
                        }
                      },
                      "additionalProperties": false
                    },
                    "meta": {
                      "type": "object",
                      "description": "Meta informacoes referente a API requisitada.",
                      "required": [
                        "totalRecords",
                        "totalPages",
                        "requestDateTime"
                      ],
                      "properties": {
                        "totalRecords": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Numero total de registros no resultado",
                          "example": 1
                        },
                        "totalPages": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Numero total de paginas no resultado",
                          "example": 1
                        },
                        "requestDateTime": {
                          "description": "Data e hora da consulta, conforme especificacao RFC-3339, formato UTC.",
                          "type": "string",
                          "maxLength": 20,
                          "format": "date-time",
                          "example": "2021-05-21T08:30:00Z"
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "A requisicao foi malformada, omitindo atributos obrigatorios, seja no payload ou atraves de atributos na URL.",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "required": [
                    "errors"
                  ],
                  "properties": {
                    "errors": {
                      "type": "array",
                      "minItems": 1,
                      "maxItems": 13,
                      "items": {
                        "type": "object",
                        "required": [
                          "code",
                          "title",
                          "detail"
                        ],
                        "properties": {
                          "code": {
                            "description": "Codigo de erro especifico do endpoint",
                            "type": "string",
                            "pattern": "[\\w\\W\\s]*",
                            "maxLength": 255
                          },
                          "title": {
                            "description": "Titulo legivel por humanos deste erro especifico",
                            "type": "string",
                            "pattern": "[\\w\\W\\s]*",
                            "maxLength": 255
                          },
                          "detail": {
                            "description": "Descricao legivel por humanos deste erro especifico",
                            "type": "string",
                            "pattern": "[\\w\\W\\s]*",
                            "maxLength": 2048
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "description": "Meta informacoes referente a API requisitada.",
                      "required": [
                        "totalRecords",
                        "totalPages",
                        "requestDateTime"
                      ],
                      "properties": {
                        "totalRecords": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Numero total de registros no resultado",
                          "example": 1
                        },
                        "totalPages": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Numero total de paginas no resultado",
                          "example": 1
                        },
                        "requestDateTime": {
                          "description": "Data e hora da consulta, conforme especificacao RFC-3339, formato UTC.",
                          "type": "string",
                          "maxLength": 20,
                          "format": "date-time",
                          "example": "2021-05-21T08:30:00Z"
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "additionalProperties": false
                }
              }
            },
            "headers": {
              "x-fapi-interaction-id": {
                "description": "Um UUID RFC4122 usado como um ID de correlacao. O transmissor deve usar o mesmo valor recebido na requisicao para o cabecalho de resposta recebido na requisicao, caso nao tenha sido fornecido, deve se usar um UUID RFC4122.\n",
                "schema": {
                  "type": "string",
                  "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-]{0,99}$",
                  "maxLength": 100,
                  "description": "Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlacao. Se fornecido, o transmissor deve \"reproduzir\" esse valor no cabecalho de resposta."
                }
              }
            }
          },
          "401": {
            "description": "Cabecalho de autenticacao ausente/invalido ou token invalido",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "required": [
                    "errors"
                  ],
                  "properties": {
                    "errors": {
                      "type": "array",
                      "minItems": 1,
                      "maxItems": 13,
                      "items": {
                        "type": "object",
                        "required": [
                          "code",
                          "title",
                          "detail"
                        ],
                        "properties": {
                          "code": {
                            "description": "Codigo de erro especifico do endpoint",
                            "type": "string",
                            "pattern": "[\\w\\W\\s]*",
                            "maxLength": 255
                          },
                          "title": {
                            "description": "Titulo legivel por humanos deste erro especifico",
                            "type": "string",
                            "pattern": "[\\w\\W\\s]*",
                            "maxLength": 255
                          },
                          "detail": {
                            "description": "Descricao legivel por humanos deste erro especifico",
                            "type": "string",
                            "pattern": "[\\w\\W\\s]*",
                            "maxLength": 2048
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "description": "Meta informacoes referente a API requisitada.",
                      "required": [
                        "totalRecords",
                        "totalPages",
                        "requestDateTime"
                      ],
                      "properties": {
                        "totalRecords": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Numero total de registros no resultado",
                          "example": 1
                        },
                        "totalPages": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Numero total de paginas no resultado",
                          "example": 1
                        },
                        "requestDateTime": {
                          "description": "Data e hora da consulta, conforme especificacao RFC-3339, formato UTC.",
                          "type": "string",
                          "maxLength": 20,
                          "format": "date-time",
                          "example": "2021-05-21T08:30:00Z"
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "additionalProperties": false
                }
              }
            },
            "headers": {
              "x-fapi-interaction-id": {
                "description": "Um UUID RFC4122 usado como um ID de correlacao. O transmissor deve usar o mesmo valor recebido na requisicao para o cabecalho de resposta recebido na requisicao, caso nao tenha sido fornecido, deve se usar um UUID RFC4122.\n",
                "schema": {
                  "type": "string",
                  "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-]{0,99}$",
                  "maxLength": 100,
                  "description": "Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlacao. Se fornecido, o transmissor deve \"reproduzir\" esse valor no cabecalho de resposta."
                }
              }
            }
          },
          "403": {
            "description": "O token tem escopo incorreto ou uma politica de seguranca foi violada",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "required": [
                    "errors"
                  ],
                  "properties": {
                    "errors": {
                      "type": "array",
                      "minItems": 1,
                      "maxItems": 13,
                      "items": {
                        "type": "object",
                        "required": [
                          "code",
                          "title",
                          "detail"
                        ],
                        "properties": {
                          "code": {
                            "description": "Codigo de erro especifico do endpoint",
                            "type": "string",
                            "pattern": "[\\w\\W\\s]*",
                            "maxLength": 255
                          },
                          "title": {
                            "description": "Titulo legivel por humanos deste erro especifico",
                            "type": "string",
                            "pattern": "[\\w\\W\\s]*",
                            "maxLength": 255
                          },
                          "detail": {
                            "description": "Descricao legivel por humanos deste erro especifico",
                            "type": "string",
                            "pattern": "[\\w\\W\\s]*",
                            "maxLength": 2048
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "description": "Meta informacoes referente a API requisitada.",
                      "required": [
                        "totalRecords",
                        "totalPages",
                        "requestDateTime"
                      ],
                      "properties": {
                        "totalRecords": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Numero total de registros no resultado",
                          "example": 1
                        },
                        "totalPages": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Numero total de paginas no resultado",
                          "example": 1
                        },
                        "requestDateTime": {
                          "description": "Data e hora da consulta, conforme especificacao RFC-3339, formato UTC.",
                          "type": "string",
                          "maxLength": 20,
                          "format": "date-time",
                          "example": "2021-05-21T08:30:00Z"
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "additionalProperties": false
                }
              }
            },
            "headers": {
              "x-fapi-interaction-id": {
                "description": "Um UUID RFC4122 usado como um ID de correlacao. O transmissor deve usar o mesmo valor recebido na requisicao para o cabecalho de resposta recebido na requisicao, caso nao tenha sido fornecido, deve se usar um UUID RFC4122.\n",
                "schema": {
                  "type": "string",
                  "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-]{0,99}$",
                  "maxLength": 100,
                  "description": "Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlacao. Se fornecido, o transmissor deve \"reproduzir\" esse valor no cabecalho de resposta."
                }
              }
            }
          },
          "404": {
            "description": "O recurso solicitado nao existe ou nao foi implementado",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "required": [
                    "errors"
                  ],
                  "properties": {
                    "errors": {
                      "type": "array",
                      "minItems": 1,
                      "maxItems": 13,
                      "items": {
                        "type": "object",
                        "required": [
                          "code",
                          "title",
                          "detail"
                        ],
                        "properties": {
                          "code": {
                            "description": "Codigo de erro especifico do endpoint",
                            "type": "string",
                            "pattern": "[\\w\\W\\s]*",
                            "maxLength": 255
                          },
                          "title": {
                            "description": "Titulo legivel por humanos deste erro especifico",
                            "type": "string",
                            "pattern": "[\\w\\W\\s]*",
                            "maxLength": 255
                          },
                          "detail": {
                            "description": "Descricao legivel por humanos deste erro especifico",
                            "type": "string",
                            "pattern": "[\\w\\W\\s]*",
                            "maxLength": 2048
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "description": "Meta informacoes referente a API requisitada.",
                      "required": [
                        "totalRecords",
                        "totalPages",
                        "requestDateTime"
                      ],
                      "properties": {
                        "totalRecords": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Numero total de registros no resultado",
                          "example": 1
                        },
                        "totalPages": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Numero total de paginas no resultado",
                          "example": 1
                        },
                        "requestDateTime": {
                          "description": "Data e hora da consulta, conforme especificacao RFC-3339, formato UTC.",
                          "type": "string",
                          "maxLength": 20,
                          "format": "date-time",
                          "example": "2021-05-21T08:30:00Z"
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "additionalProperties": false
                }
              }
            },
            "headers": {
              "x-fapi-interaction-id": {
                "description": "Um UUID RFC4122 usado como um ID de correlacao. O transmissor deve usar o mesmo valor recebido na requisicao para o cabecalho de resposta recebido na requisicao, caso nao tenha sido fornecido, deve se usar um UUID RFC4122.\n",
                "schema": {
                  "type": "string",
                  "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-]{0,99}$",
                  "maxLength": 100,
                  "description": "Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlacao. Se fornecido, o transmissor deve \"reproduzir\" esse valor no cabecalho de resposta."
                }
              }
            }
          },
          "405": {
            "description": "O consumidor tentou acessar o recurso com um metodo nao suportado",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "required": [
                    "errors"
                  ],
                  "properties": {
                    "errors": {
                      "type": "array",
                      "minItems": 1,
                      "maxItems": 13,
                      "items": {
                        "type": "object",
                        "required": [
                          "code",
                          "title",
                          "detail"
                        ],
                        "properties": {
                          "code": {
                            "description": "Codigo de erro especifico do endpoint",
                            "type": "string",
                            "pattern": "[\\w\\W\\s]*",
                            "maxLength": 255
                          },
                          "title": {
                            "description": "Titulo legivel por humanos deste erro especifico",
                            "type": "string",
                            "pattern": "[\\w\\W\\s]*",
                            "maxLength": 255
                          },
                          "detail": {
                            "description": "Descricao legivel por humanos deste erro especifico",
                            "type": "string",
                            "pattern": "[\\w\\W\\s]*",
                            "maxLength": 2048
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "description": "Meta informacoes referente a API requisitada.",
                      "required": [
                        "totalRecords",
                        "totalPages",
                        "requestDateTime"
                      ],
                      "properties": {
                        "totalRecords": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Numero total de registros no resultado",
                          "example": 1
                        },
                        "totalPages": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Numero total de paginas no resultado",
                          "example": 1
                        },
                        "requestDateTime": {
                          "description": "Data e hora da consulta, conforme especificacao RFC-3339, formato UTC.",
                          "type": "string",
                          "maxLength": 20,
                          "format": "date-time",
                          "example": "2021-05-21T08:30:00Z"
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "additionalProperties": false
                }
              }
            },
            "headers": {
              "x-fapi-interaction-id": {
                "description": "Um UUID RFC4122 usado como um ID de correlacao. O transmissor deve usar o mesmo valor recebido na requisicao para o cabecalho de resposta recebido na requisicao, caso nao tenha sido fornecido, deve se usar um UUID RFC4122.\n",
                "schema": {
                  "type": "string",
                  "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-]{0,99}$",
                  "maxLength": 100,
                  "description": "Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlacao. Se fornecido, o transmissor deve \"reproduzir\" esse valor no cabecalho de resposta."
                }
              }
            }
          },
          "406": {
            "description": "A solicitacao continha um cabecalho Accept diferente dos tipos de midia permitidos ou um conjunto de caracteres diferente de UTF-8",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "required": [
                    "errors"
                  ],
                  "properties": {
                    "errors": {
                      "type": "array",
                      "minItems": 1,
                      "maxItems": 13,
                      "items": {
                        "type": "object",
                        "required": [
                          "code",
                          "title",
                          "detail"
                        ],
                        "properties": {
                          "code": {
                            "description": "Codigo de erro especifico do endpoint",
                            "type": "string",
                            "pattern": "[\\w\\W\\s]*",
                            "maxLength": 255
                          },
                          "title": {
                            "description": "Titulo legivel por humanos deste erro especifico",
                            "type": "string",
                            "pattern": "[\\w\\W\\s]*",
                            "maxLength": 255
                          },
                          "detail": {
                            "description": "Descricao legivel por humanos deste erro especifico",
                            "type": "string",
                            "pattern": "[\\w\\W\\s]*",
                            "maxLength": 2048
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "description": "Meta informacoes referente a API requisitada.",
                      "required": [
                        "totalRecords",
                        "totalPages",
                        "requestDateTime"
                      ],
                      "properties": {
                        "totalRecords": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Numero total de registros no resultado",
                          "example": 1
                        },
                        "totalPages": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Numero total de paginas no resultado",
                          "example": 1
                        },
                        "requestDateTime": {
                          "description": "Data e hora da consulta, conforme especificacao RFC-3339, formato UTC.",
                          "type": "string",
                          "maxLength": 20,
                          "format": "date-time",
                          "example": "2021-05-21T08:30:00Z"
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "additionalProperties": false
                }
              }
            },
            "headers": {
              "x-fapi-interaction-id": {
                "description": "Um UUID RFC4122 usado como um ID de correlacao. O transmissor deve usar o mesmo valor recebido na requisicao para o cabecalho de resposta recebido na requisicao, caso nao tenha sido fornecido, deve se usar um UUID RFC4122.\n",
                "schema": {
                  "type": "string",
                  "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-]{0,99}$",
                  "maxLength": 100,
                  "description": "Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlacao. Se fornecido, o transmissor deve \"reproduzir\" esse valor no cabecalho de resposta."
                }
              }
            }
          },
          "415": {
            "description": "O formato do payload nao e um formato suportado.",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "required": [
                    "errors"
                  ],
                  "properties": {
                    "errors": {
                      "type": "array",
                      "minItems": 1,
                      "maxItems": 13,
                      "items": {
                        "type": "object",
                        "required": [
                          "code",
                          "title",
                          "detail"
                        ],
                        "properties": {
                          "code": {
                            "description": "Codigo de erro especifico do endpoint",
                            "type": "string",
                            "pattern": "[\\w\\W\\s]*",
                            "maxLength": 255
                          },
                          "title": {
                            "description": "Titulo legivel por humanos deste erro especifico",
                            "type": "string",
                            "pattern": "[\\w\\W\\s]*",
                            "maxLength": 255
                          },
                          "detail": {
                            "description": "Descricao legivel por humanos deste erro especifico",
                            "type": "string",
                            "pattern": "[\\w\\W\\s]*",
                            "maxLength": 2048
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "description": "Meta informacoes referente a API requisitada.",
                      "required": [
                        "totalRecords",
                        "totalPages",
                        "requestDateTime"
                      ],
                      "properties": {
                        "totalRecords": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Numero total de registros no resultado",
                          "example": 1
                        },
                        "totalPages": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Numero total de paginas no resultado",
                          "example": 1
                        },
                        "requestDateTime": {
                          "description": "Data e hora da consulta, conforme especificacao RFC-3339, formato UTC.",
                          "type": "string",
                          "maxLength": 20,
                          "format": "date-time",
                          "example": "2021-05-21T08:30:00Z"
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "additionalProperties": false
                }
              }
            },
            "headers": {
              "x-fapi-interaction-id": {
                "description": "Um UUID RFC4122 usado como um ID de correlacao. O transmissor deve usar o mesmo valor recebido na requisicao para o cabecalho de resposta recebido na requisicao, caso nao tenha sido fornecido, deve se usar um UUID RFC4122.\n",
                "schema": {
                  "type": "string",
                  "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-]{0,99}$",
                  "maxLength": 100,
                  "description": "Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlacao. Se fornecido, o transmissor deve \"reproduzir\" esse valor no cabecalho de resposta."
                }
              }
            }
          },
          "422": {
            "description": "A solicitacao foi bem formada, mas nao pode ser processada devido a logica de negocios especifica da solicitacao.",
            "content": {
              "application/jwt": {
                "schema": {
                  "type": "object",
                  "required": [
                    "errors"
                  ],
                  "properties": {
                    "errors": {
                      "type": "array",
                      "minItems": 1,
                      "maxItems": 9,
                      "items": {
                        "type": "object",
                        "required": [
                          "code",
                          "title",
                          "detail"
                        ],
                        "properties": {
                          "code": {
                            "type": "string",
                            "maxLength": 25,
                            "enum": [
                              "SALDO_INSUFICIENTE",
                              "BENEFICIARIO_INCOMPATIVEL",
                              "VALOR_INCOMPATIVEL",
                              "VALOR_ACIMA_LIMITE",
                              "VALOR_INVALIDO",
                              "COBRANCA_INVALIDA",
                              "CONSENTIMENTO_INVALIDO",
                              "JANELA_OPER_INVALIDA",
                              "NAO_INFORMADO",
                              "PAGAMENTO_DIVERGENTE_DO_CONSENTIMENTO"
                            ],
                            "example": "SALDO_INSUFICIENTE",
                            "description": "Codigos de erros previstos na criacao da iniciacao de pagamento:\no SALDO_INSUFICIENTE - Esta conta nao possui saldo suficiente para realizar o pagamento.\no BENEFICIARIO_INCOMPATIVEL - O beneficiario informado no consentimento nao e o mesmo do esperado pelo DICT.\no VALOR_INCOMPATIVEL - O valor informado no consentimento nao e o mesmo valor do informado no payload de pagamento.\no VALOR_ACIMA_LIMITE - O valor (ou quantidade de transacoes) ultrapassa a faixa de limite parametrizada na detentora para permitir a realizacao de transacoes pelo cliente.\no VALOR_INVALIDO - O valor enviado nao e valido para o QR Code informado.\no COBRANCA_INVALIDA - Validacao de expiracao, validacao de vencimento, Status Valido.\no CONSENTIMENTO_INVALIDO - Consentimento invalido (status nao e \"authorised\" ou esta expirado).\no JANELA_OPER_INVALIDA - Requisicao esta fora da janela de funcionamento.\no NAO_INFORMADO - Nao informada pela detentora de conta.\no PAGAMENTO_DIVERGENTE_DO_CONSENTIMENTO: Dados do pagamento divergentes dos dados do consentimento.\n"
                          },
                          "title": {
                            "type": "string",
                            "maxLength": 255,
                            "pattern": "\\w*\\W*",
                            "example": "Saldo insuficiente.",
                            "description": "Titulo especifico do erro reportado, de acordo com o codigo enviado:\no SALDO_INSUFICIENTE: Saldo insuficiente.\no BENEFICIARIO_INCOMPATIVEL: Beneficiario incompativel.\no VALOR_INCOMPATIVEL: Valor da transacao incompativel.\no VALOR_ACIMA_LIMITE: Acima do limite estabelecido.\no VALOR_INVALIDO: Valor invalido.\no COBRANCA_INVALIDA: Cobranca invalida.\no CONSENTIMENTO_INVALIDO: Consentimento invalido.\no JANELA_OPER_INVALIDA: Janela de operacao invalida.\no NAO_INFORMADO: Nao informado.\no PAGAMENTO_DIVERGENTE_DO_CONSENTIMENTO: divergencia entre pagamento e consentimento.\n"
                          },
                          "detail": {
                            "type": "string",
                            "maxLength": 2048,
                            "pattern": "\\w*\\W*",
                            "example": "A conta selecionada nao possui saldo suficiente para realizar o pagamento.",
                            "description": "Descricao especifica do erro de acordo com o codigo reportado:\no SALDO_INSUFICIENTE: A conta selecionada nao possui saldo suficiente para realizar o pagamento.\no BENEFICIARIO_INCOMPATIVEL: O beneficiario informado no consentimento nao e o mesmo do esperado pelo DICT.\no VALOR_INCOMPATIVEL: O valor informado no consentimento nao e o mesmo valor do informado no payload de pagamento.\no VALOR_ACIMA_LIMITE: O valor (ou quantidade de transacoes) ultrapassa a faixa de limite parametrizada na detentora para permitir a realizacao de transacoes pelo cliente.\no VALOR_INVALIDO: O valor enviado nao e valido para o QR Code informado.\no COBRANCA_INVALIDA: Validacao de expiracao, validacao de vencimento ou Status Valido.\no CONSENTIMENTO_INVALIDO: Consentimento invalido (status diferente de \"AUTHORISED\" ou esta expirado).\no JANELA_OPER_INVALIDA: Requisicao esta fora da janela de funcionamento.\no NAO_INFORMADO: Nao reportado/identificado pela instituicao detentora de conta.\no PAGAMENTO_DIVERGENTE_DO_CONSENTIMENTO: Dados do pagamento divergentes dos dados do consentimento.\n"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "description": "Meta informacoes referente a API requisitada.",
                      "required": [
                        "totalRecords",
                        "totalPages",
                        "requestDateTime"
                      ],
                      "properties": {
                        "totalRecords": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Numero total de registros no resultado",
                          "example": 1
                        },
                        "totalPages": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Numero total de paginas no resultado",
                          "example": 1
                        },
                        "requestDateTime": {
                          "description": "Data e hora da consulta, conforme especificacao RFC-3339, formato UTC.",
                          "type": "string",
                          "maxLength": 20,
                          "format": "date-time",
                          "example": "2021-05-21T08:30:00Z"
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "additionalProperties": false
                },
                "examples": {
                  "Saldo insuficiente": {
                    "summary": "Saldo insuficiente",
                    "value": {
                      "errors": [
                        {
                          "code": "SALDO_INSUFICIENTE",
                          "title": "Saldo insuficiente.",
                          "detail": "A conta selecionada nao possui saldo suficiente para realizar o pagamento."
                        }
                      ],
                      "meta": {
                        "totalRecords": 1,
                        "totalPages": 1,
                        "requestDateTime": "2021-05-21T08:30:00Z"
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "x-fapi-interaction-id": {
                "description": "Um UUID RFC4122 usado como um ID de correlacao. O transmissor deve usar o mesmo valor recebido na requisicao para o cabecalho de resposta recebido na requisicao, caso nao tenha sido fornecido, deve se usar um UUID RFC4122.\n",
                "schema": {
                  "type": "string",
                  "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-]{0,99}$",
                  "maxLength": 100,
                  "description": "Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlacao. Se fornecido, o transmissor deve \"reproduzir\" esse valor no cabecalho de resposta."
                }
              }
            }
          },
          "429": {
            "description": "A operacao foi recusada, pois muitas solicitacoes foram feitas dentro de um determinado periodo ou o limite global de requisicoes concorrentes foi atingido",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "required": [
                    "errors"
                  ],
                  "properties": {
                    "errors": {
                      "type": "array",
                      "minItems": 1,
                      "maxItems": 13,
                      "items": {
                        "type": "object",
                        "required": [
                          "code",
                          "title",
                          "detail"
                        ],
                        "properties": {
                          "code": {
                            "description": "Codigo de erro especifico do endpoint",
                            "type": "string",
                            "pattern": "[\\w\\W\\s]*",
                            "maxLength": 255
                          },
                          "title": {
                            "description": "Titulo legivel por humanos deste erro especifico",
                            "type": "string",
                            "pattern": "[\\w\\W\\s]*",
                            "maxLength": 255
                          },
                          "detail": {
                            "description": "Descricao legivel por humanos deste erro especifico",
                            "type": "string",
                            "pattern": "[\\w\\W\\s]*",
                            "maxLength": 2048
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "description": "Meta informacoes referente a API requisitada.",
                      "required": [
                        "totalRecords",
                        "totalPages",
                        "requestDateTime"
                      ],
                      "properties": {
                        "totalRecords": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Numero total de registros no resultado",
                          "example": 1
                        },
                        "totalPages": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Numero total de paginas no resultado",
                          "example": 1
                        },
                        "requestDateTime": {
                          "description": "Data e hora da consulta, conforme especificacao RFC-3339, formato UTC.",
                          "type": "string",
                          "maxLength": 20,
                          "format": "date-time",
                          "example": "2021-05-21T08:30:00Z"
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "additionalProperties": false
                }
              }
            },
            "headers": {
              "x-fapi-interaction-id": {
                "description": "Um UUID RFC4122 usado como um ID de correlacao. O transmissor deve usar o mesmo valor recebido na requisicao para o cabecalho de resposta recebido na requisicao, caso nao tenha sido fornecido, deve se usar um UUID RFC4122.\n",
                "schema": {
                  "type": "string",
                  "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-]{0,99}$",
                  "maxLength": 100,
                  "description": "Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlacao. Se fornecido, o transmissor deve \"reproduzir\" esse valor no cabecalho de resposta."
                }
              },
              "Retry-After": {
                "description": "Cabecalho que indica o tempo (em segundos) que o cliente devera aguardar para realizar uma nova tentativa de chamada. Este cabecalho devera estar presente quando o codigo HTTP de retorno for 429 Too many requests.\n",
                "schema": {
                  "description": "Cabecalho que indica o tempo (em segundos) que o cliente devera aguardar para realizar uma nova tentativa de chamada. Este cabecalho devera estar presente quando o codigo HTTP de retorno for 429 Too many requests.\n",
                  "type": "integer"
                }
              }
            }
          },
          "500": {
            "description": "Ocorreu um erro no gateway da API ou no microsservico",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "required": [
                    "errors"
                  ],
                  "properties": {
                    "errors": {
                      "type": "array",
                      "minItems": 1,
                      "maxItems": 13,
                      "items": {
                        "type": "object",
                        "required": [
                          "code",
                          "title",
                          "detail"
                        ],
                        "properties": {
                          "code": {
                            "description": "Codigo de erro especifico do endpoint",
                            "type": "string",
                            "pattern": "[\\w\\W\\s]*",
                            "maxLength": 255
                          },
                          "title": {
                            "description": "Titulo legivel por humanos deste erro especifico",
                            "type": "string",
                            "pattern": "[\\w\\W\\s]*",
                            "maxLength": 255
                          },
                          "detail": {
                            "description": "Descricao legivel por humanos deste erro especifico",
                            "type": "string",
                            "pattern": "[\\w\\W\\s]*",
                            "maxLength": 2048
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "description": "Meta informacoes referente a API requisitada.",
                      "required": [
                        "totalRecords",
                        "totalPages",
                        "requestDateTime"
                      ],
                      "properties": {
                        "totalRecords": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Numero total de registros no resultado",
                          "example": 1
                        },
                        "totalPages": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Numero total de paginas no resultado",
                          "example": 1
                        },
                        "requestDateTime": {
                          "description": "Data e hora da consulta, conforme especificacao RFC-3339, formato UTC.",
                          "type": "string",
                          "maxLength": 20,
                          "format": "date-time",
                          "example": "2021-05-21T08:30:00Z"
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "additionalProperties": false
                }
              }
            },
            "headers": {
              "x-fapi-interaction-id": {
                "description": "Um UUID RFC4122 usado como um ID de correlacao. O transmissor deve usar o mesmo valor recebido na requisicao para o cabecalho de resposta recebido na requisicao, caso nao tenha sido fornecido, deve se usar um UUID RFC4122.\n",
                "schema": {
                  "type": "string",
                  "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-]{0,99}$",
                  "maxLength": 100,
                  "description": "Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlacao. Se fornecido, o transmissor deve \"reproduzir\" esse valor no cabecalho de resposta."
                }
              }
            }
          },
          "default": {
            "description": "Erro inesperado.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "errors"
                  ],
                  "properties": {
                    "errors": {
                      "type": "array",
                      "minItems": 1,
                      "maxItems": 13,
                      "items": {
                        "type": "object",
                        "required": [
                          "code",
                          "title",
                          "detail"
                        ],
                        "properties": {
                          "code": {
                            "description": "Codigo de erro especifico do endpoint",
                            "type": "string",
                            "pattern": "[\\w\\W\\s]*",
                            "maxLength": 255
                          },
                          "title": {
                            "description": "Titulo legivel por humanos deste erro especifico",
                            "type": "string",
                            "pattern": "[\\w\\W\\s]*",
                            "maxLength": 255
                          },
                          "detail": {
                            "description": "Descricao legivel por humanos deste erro especifico",
                            "type": "string",
                            "pattern": "[\\w\\W\\s]*",
                            "maxLength": 2048
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "description": "Meta informacoes referente a API requisitada.",
                      "required": [
                        "totalRecords",
                        "totalPages",
                        "requestDateTime"
                      ],
                      "properties": {
                        "totalRecords": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Numero total de registros no resultado",
                          "example": 1
                        },
                        "totalPages": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Numero total de paginas no resultado",
                          "example": 1
                        },
                        "requestDateTime": {
                          "description": "Data e hora da consulta, conforme especificacao RFC-3339, formato UTC.",
                          "type": "string",
                          "maxLength": 20,
                          "format": "date-time",
                          "example": "2021-05-21T08:30:00Z"
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v2/pix/payments/{paymentId}": {
      "get": {
        "tags": [
          "Pagamentos"
        ],
        "summary": "Consultar iniciacao de pagamento.",
        "operationId": "paymentsGetPixPaymentsPaymentIdV2",
        "description": "Metodo para consultar uma iniciacao de pagamento.",
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "description": "Identificador da operacao de pagamento.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-]{0,99}$",
              "maxLength": 100
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Cabecalho HTTP padrao. Permite que as credenciais sejam fornecidas dependendo do tipo de recurso solicitado",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "[\\w\\W\\s]*",
              "maxLength": 2048
            }
          },
          {
            "name": "x-fapi-auth-date",
            "in": "header",
            "description": "Data em que o usuario logou pela ultima vez com o receptor. Representada de acordo com a [RFC7231](https://tools.ietf.org/html/rfc7231).Exemplo: Sun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$",
              "minLength": 29,
              "maxLength": 29
            }
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "O endereco IP do usuario se estiver atualmente logado com o receptor.",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "[\\w\\W\\s]*",
              "minLength": 1,
              "maxLength": 100
            }
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlacao. Se fornecido, o transmissor deve \"reproduzir\" esse valor no cabecalho de resposta.",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-]{0,99}$",
              "minLength": 1,
              "maxLength": 100
            }
          },
          {
            "name": "x-customer-user-agent",
            "in": "header",
            "description": "Indica o user-agent que o usuario utiliza.",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "[\\w\\W\\s]*",
              "minLength": 1,
              "maxLength": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dados de iniciacao de pagamento Pix obtidos com sucesso.",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "Um UUID RFC4122 usado como um ID de correlacao. O transmissor deve usar o mesmo valor recebido na requisicao para o cabecalho de resposta recebido na requisicao, caso nao tenha sido fornecido, deve se usar um UUID RFC4122.\n",
                "schema": {
                  "type": "string",
                  "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-]{0,99}$",
                  "maxLength": 100,
                  "description": "Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlacao. Se fornecido, o transmissor deve \"reproduzir\" esse valor no cabecalho de resposta."
                }
              }
            },
            "content": {
              "application/jwt": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "Objeto contendo dados do pagamento e da conta do recebedor (creditor).",
                      "required": [
                        "paymentId",
                        "consentId",
                        "creationDateTime",
                        "statusUpdateDateTime",
                        "status",
                        "localInstrument",
                        "payment",
                        "creditorAccount",
                        "cnpjInitiator"
                      ],
                      "properties": {
                        "paymentId": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100,
                          "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-]{0,99}$",
                          "example": "TXpRMU9UQTROMWhZV2xSU1FUazJSMDl",
                          "description": "Codigo ou identificador unico informado pela instituicao detentora da conta para representar\na iniciacao de pagamento individual. O `paymentId` deve ser diferente do `endToEndId`.\nEste e o identificador que devera ser utilizado na consulta ao status da iniciacao de pagamento efetuada.\n"
                        },
                        "endToEndId": {
                          "type": "string",
                          "minLength": 32,
                          "maxLength": 32,
[...]
