---
layout: default
---

{{ content }}

<div class="ms-CommandBar">
  <div class="ms-CommandBar-mainArea">
    <div class="ms-CommandButton ms-CommandButton--pivot">
      <a class="ms-CommandButton-button" href="/" >
        <span class="ms-CommandButton-label">{{ site.title }}</span>
      </a>
    </div>
    <div class="ms-CommandButton ms-CommandButton--pivot is-active">
      <a class="ms-CommandButton-button" href="{{ navigation.url }}">
        <span class="ms-CommandButton-label">{{ page.title }}</span>
      </a>
    </div>
  </div>
</div>

<div id="redoc-container"></div>

<script>
  window.onload = () => {
    Redoc.init('/assets/{{ page.project_name }}/openapi.json', {
      hideDownloadButton: true,
      nativeScrollbars: false,
      theme: {
        spacing: {
          unit: 5,
        },
        typography: {
          fontFamily: '"Segoe UI", "SegoeUI", "Helvetica Neue", Helvetica, Arial, sans-serif',

          headings: {
            fontFamily: '"Segoe UI WestEuropean", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif',
          },
          code: {
            // color: '#e53935',
            // backgroundColor: 'rgba(38, 50, 56, 0.05)',
            fontFamily: 'Courier, monospace',
          },
        },
        sidebar: {
          // backgroundColor: '#fafafa',
          // textColor: '#0078d7',
        },
        rightPanel: {
          backgroundColor: '#363636',
          // textColor: '#ffffff',
        },
      },
    }, document.getElementById('redoc-container'));
  };
</script>
